// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Patrick Yavitz <pyavitz@xxxxx.com>
 */

/dts-v1/;

#include "meson-g12b-bananapi-cm4-cm4io.dts"

/ {
	compatible = "bananapi,bpi-cm4io", "bananapi,bpi-cm4", "amlogic,a311d", "amlogic,g12b";
	model = "Waveshare CM4-IO-BASE-B with BPI-CM4 Module";

	aliases {
		rtc0 = &rtc;
	};
};

&i2c1 {
	rtc: rtc@51 {
		compatible = "nxp,pcf85063a";
		reg = <0x51>;
		wakeup-source;
	};

	fanctrl: emc2305@2f {
		compatible = "smsc,emc2305";
		reg = <0x2f>;
		#cooling-cells = <0x02>;
		wakeup-source;
	};
};

&cpu_thermal {
	trips {
		fanmid0: fanmid0 {
			temperature = <60000>;
			hysteresis = <2000>;
			type = "active";
		};
	
		fanmax0: fanmax0 {
			temperature = <65000>;
			hysteresis = <2000>;
			type = "active";
		};
	};

	cooling-maps {
		map0 {
			trip = <&fanmid0>;
			cooling-device = <&fanctrl 2 6>;
		};

		map1 {
			trip = <&fanmax0>;
			cooling-device = <&fanctrl 7 THERMAL_NO_LIMIT>;
		};
	};
};

&usb {
	dr_mode = "host";
};
