Source: libvdpau
Section: libs
Priority: optional
Maintainer: Debian NVIDIA Maintainers <pkg-nvidia-devel@lists.alioth.debian.org>
Uploaders:
 Russ Allbery <rra@debian.org>,
 Andreas Beckmann <anbe@debian.org>,
 Vincent Cheng <vcheng@debian.org>,
 Luca Boccassi <luca.boccassi@gmail.com>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 pkg-config,
 libx11-dev,
 x11proto-dri2-dev (>= 2.2),
 libxext-dev,
Build-Depends-Indep:
 doxygen-latex,
 graphviz,
 ghostscript,
Standards-Version: 3.9.6
Homepage: http://cgit.freedesktop.org/~aplattner/libvdpau
Vcs-Git: git://anonscm.debian.org/pkg-nvidia/libvdpau.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-nvidia/libvdpau.git

Package: libvdpau-dev
Multi-Arch: same
Architecture: any
Section: libdevel
Depends:
 libvdpau1 (= ${binary:Version}),
 libx11-dev,
 ${misc:Depends}
Suggests: libvdpau-doc
Description: Video Decode and Presentation API for Unix (development files)
 VDPAU (Video Decode and Presentation API for Unix) is an open source
 library (libvdpau) and API designed by NVIDIA originally for its GeForce
 8 series and later GPU hardware, targeted at the X Window System on Unix
 operating-systems (including Linux, FreeBSD, and Solaris). This VDPAU API
 allows video programs to offload portions of the video decoding process
 and video post-processing to the GPU video-hardware.
 .
 This package contains the files necessary for development with VDPAU.

Package: libvdpau1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces:
 lib32vdpau1,
Conflicts:
 lib32vdpau1,
Recommends:
 vdpau-driver-all | vdpau-driver,
Description: Video Decode and Presentation API for Unix (libraries)
 VDPAU (Video Decode and Presentation API for Unix) is an open source
 library (libvdpau) and API designed by NVIDIA originally for its GeForce
 8 series and later GPU hardware, targeted at the X Window System on Unix
 operating-systems (including Linux, FreeBSD, and Solaris). This VDPAU API
 allows video programs to offload portions of the video decoding process
 and video post-processing to the GPU video-hardware.
 .
 This package contains the VDPAU wrapper and trace libraries.

Package: vdpau-driver-all
Section: video
Architecture: any
Multi-Arch: same
Depends:
 mesa-vdpau-drivers [linux-any kfreebsd-any],
 ${misc:Depends}
Suggests:
 libvdpau-va-gl1 [linux-any],
 nvidia-vdpau-driver [amd64 i386],
 nvidia-legacy-340xx-vdpau-driver [amd64 i386],
Description: Video Decode and Presentation API for Unix (driver metapackage)
 VDPAU (Video Decode and Presentation API for Unix) is an open source
 library (libvdpau) and API designed by NVIDIA originally for its GeForce
 8 series and later GPU hardware, targeted at the X Window System on Unix
 operating-systems (including Linux, FreeBSD, and Solaris). This VDPAU API
 allows video programs to offload portions of the video decoding process
 and video post-processing to the GPU video-hardware.
 .
 This package depends on the full suite of drivers for the VDPAU API.
 It does not provide any drivers itself, and may be removed if you wish to
 only have certain drivers installed.
