//For Dusun DSOM-010R SoM: enables the peripherals on the official Carrier Board RP3328-B

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/interrupt-controller/irq.h>

&{/} {
	compatible = "dusun,dsom-010r", "rockchip,rk3328";

	leds {

		pinctrl-0 = <&led_pin>;
		pinctrl-names = "default";

		led-0 {
			color = <LED_COLOR_ID_RED>;
			gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

	};

	vcc_dcin: vcc-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	gpio_fan: gpio-fan {
		compatible = "gpio-fan";
		gpios = <&gpio2 RK_PC4 GPIO_ACTIVE_HIGH>;
		gpio-fan,speed-map = <0 0>, <4000 1>;
		#cooling-cells = <2>; /* min followed by max */
	};

	va2231: analog-amplifier {
		compatible = "simple-audio-amplifier";
		pinctrl-names = "default";
		pinctrl-0 = <&amp_shutdown>;
		VCC-supply = <&vcc_dcin>;
		enable-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>;
	};

};

&vcc_sys {
	vin-supply = <&vcc_dcin>;
};

&vdd_5v0 {
	vin-supply = <&vcc_dcin>;
};

&vdd_3v3 {
	vin-supply = <&vcc_dcin>;
};

&sdio {

	#address-cells = <1>;
	#size-cells = <0>;

	/*
	 * AP6212 combo part
	 */
	brcmf_sdio: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
		//brcm,drive-strength = <2>;
		interrupt-parent = <&gpio1>;
		interrupt-names = "host_wake";
		interrupts = <RK_PC3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdio_host_wake>;
	};

};

&uart0 {

	/*
	 * AP6212 combo parent
	 */
	bluetooth {
		compatible = "brcm,bcm4330-bt";
		max-speed = <4000000>;
		shutdown-gpios = <&gpio1 RK_PC5 GPIO_ACTIVE_HIGH>;
		//device-wakeup-gpios = <&gpio1 RK_PC7 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		vbat-supply = <&vcc_io>;
		vddio-supply = <&vcc_18>;
		pinctrl-names = "default";
		pinctrl-0 = <&bt_reg_on_h>, <&bt_host_wake_l>, <&bt_device_wake_l>;
		/*
		 * interrupt-names = "host-wakeup";
		 * interrupt-parent = <&gpio1>;
		 * interrupts = <RK_PD2 IRQ_TYPE_LEVEL_LOW>;
		 */
		brcm,bt-pcm-int-params = [01 02 00 01 01];
	};

};

&i2c1 {

	#address-cells = <1>;
	#size-cells = <0>;

	rtc@51 {
		status = "okay";
		compatible = "haoyu,hym8563";
		reg = <0x51>;
	};


};

&usb_host0_ehci {

	#address-cells = <1>;
	#size-cells = <0>;

	/*
	 * GL850G onboard USB hub chip
	 */
	hub: hub@1 {
		compatible = "usb5e3,608";
		pinctrl-names = "default";
		pinctrl-0 = <&hub_rst>;
		reg = <1>;
		reset-gpios = <&gpio2 RK_PA3 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl {

	leds {
		led_pin: led-pin {
			rockchip,pins = <2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	va2231 {
		amp_shutdown: amp-shutdown {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};


};

