<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>ccache-webdav</name>
  <service>
    <type>_ccache._tcp</type>
    <port>8088</port>
    <txt-record>type=http</txt-record>
    <txt-record>path=/ccache/</txt-record>
  </service>
</service-group>
