<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>ccache-redis</name>
  <service>
    <type>_ccache._tcp</type>
    <port>6379</port>
    <txt-record>type=redis</txt-record>
  </service>
</service-group>
