/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	fragment@0 {
		target-path = "/";

		__overlay__ {
			backlight: backlight {
				compatible = "pwm-backlight";
				power-supply = <&vcc5v0_sys>;
				pwms = <&pwm11 0 25000 0>;
			};
    		};
  	};

	fragment@1 {
		target = <&pwm11>;

		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pwm11m3_pins>;
			status = "okay";
    		};
  	};

	fragment@2 {
		target = <&mipidcphy1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&dsi1>;

		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			panel@0 {
				compatible = "yixian,yx0345wv00v2";
				reg = <0>;
				backlight = <&backlight>;
				pinctrl-names = "default";
				pinctrl-0 = <&lcd_rst1_gpio>;
				reset-gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_LOW>;

				port {
					mipi_panel_in: endpoint {
						remote-endpoint = <&dsi1_out_panel>;
					};
				};
			};
		};
	};

	fragment@4 {
		target = <&dsi1_in>;

		__overlay__ {
			dsi1_in_vp2: endpoint {
				remote-endpoint = <&vp2_out_dsi1>;
			};
		};
	};

	fragment@5 {
		target = <&dsi1_out>;

		__overlay__ {
			dsi1_out_panel: endpoint {
				remote-endpoint = <&mipi_panel_in>;
			};
		};
	};

	fragment@6 {
		target = <&vp2>;

		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			vp2_out_dsi1: endpoint@ROCKCHIP_VOP2_EP_MIPI1 {
				reg = <ROCKCHIP_VOP2_EP_MIPI1>;
				remote-endpoint = <&dsi1_in_vp2>;
			};
		};
	};

	fragment@7 {
		target = <&pinctrl>;

		__overlay__ {
			lcd {
				/omit-if-no-ref/
				lcd_rst1_gpio: lcd-rst1-gpio {
					rockchip,pins = <4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
				};

				/omit-if-no-ref/
				touch_dsi1_gpio: touch-dsi1-gpio {
					rockchip,pins =
						<4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
						<4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
				};
			};
		};
	};

	fragment@8 {
		target = <&i2c5>;

		__overlay__ {
			clock-frequency = <200000>;
			pinctrl-0 = <&i2c5m2_xfer>;
			status = "okay";

			touchscreen@14 {
				compatible = "goodix,gt911";
				reg = <0x14>;
				interrupt-parent = <&gpio4>;
				interrupts = <RK_PA0 IRQ_TYPE_LEVEL_LOW>;
				irq-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
				pinctrl-names = "default";
				pinctrl-0 = <&touch_dsi1_gpio>;
				reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
			};
		};
	};
};

