[Unit]
Description=Realtek H5 bluetooth support
Before=bluetooth.service

[Service]
ExecStartPre=/usr/sbin/rfkill unblock all
ExecStart=/bin/bash /usr/local/bin/start_bt.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
