// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Luckfox Nova: RK3308B, 512MB DDR3, 8GB eMMC, 100M Ethernet (RTL8201F),
 * USB-C OTG + USB-A host, microSD. Debug console is UART4 (ttyS4).
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include "rk3308.dtsi"

/ {
	model = "Luckfox Nova";
	compatible = "luckfox,nova", "rockchip,rk3308";

	aliases {
		ethernet0 = &gmac;
		mmc0 = &emmc;
		mmc1 = &sdmmc;
	};

	chosen {
		stdout-path = "serial4:1500000n8";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&work_led_pin>;

		led-work {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_HEARTBEAT;
			gpios = <&gpio0 RK_PA1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	vcc5v0_sys: regulator-5v0-vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_io: regulator-3v3-vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vccio_flash: regulator-3v3-vccio-flash {
		compatible = "regulator-fixed";
		regulator-name = "vccio_flash";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_io>;
	};

	vcc_1v8: regulator-1v8-vcc {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_io>;
	};

	vcc_ddr: regulator-1v5-vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_log: regulator-1v05-vdd-log {
		compatible = "regulator-fixed";
		regulator-name = "vdd_log";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1050000>;
		regulator-max-microvolt = <1050000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_core: regulator-vdd-core {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		pwm-supply = <&vcc5v0_sys>;
		regulator-name = "vdd_core";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <827000>;
		regulator-max-microvolt = <1340000>;
		regulator-settling-time-up-us = <250>;
	};

	/* GPIO4_D6 must be driven low to power the microSD slot. */
	vcc_sd: regulator-3v3-vcc-sd {
		compatible = "regulator-fixed";
		gpios = <&gpio4 RK_PD6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_sd_en>;
		regulator-name = "vcc_sd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_io>;
	};

	vbus_host: regulator-5v0-vbus-host {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_drv>;
		regulator-name = "vbus_host";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/* On-board analog mic + lineout via the RK3308 internal codec. */
	acodec-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,rk3308-acodec";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,cpu {
			sound-dai = <&i2s_8ch_2>;
		};

		simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};

	/*
	 * PDM digital-mic interface on the P1 header. rk3308.dtsi has the pin
	 * groups but no controller node, so define it here (Rockchip BSP values).
	 * Disabled by default - the pins are shared with i2s_8ch_0.
	 */
	pdm: pdm@ff380000 {
		compatible = "rockchip,rk3308-pdm";
		reg = <0x0 0xff380000 0x0 0x1000>;
		clocks = <&cru SCLK_PDM>, <&cru HCLK_PDM>;
		clock-names = "pdm_clk", "pdm_hclk";
		dmas = <&dmac1 12>;
		dma-names = "rx";
		resets = <&cru SRST_PDM_M>;
		reset-names = "pdm-m";
		pinctrl-names = "default";
		pinctrl-0 = <&pdm_m2_clk &pdm_m2_sdi0 &pdm_m2_sdi1
			     &pdm_m2_sdi2 &pdm_m2_sdi3>;
		#sound-dai-cells = <0>;
		status = "disabled";
	};

	pdm_codec: pdm-codec {
		compatible = "dmic-codec";
		#sound-dai-cells = <0>;
	};

	sound_pdm: sound-pdm {
		compatible = "simple-audio-card";
		simple-audio-card,name = "pdm-mics";
		status = "disabled";

		simple-audio-card,cpu {
			sound-dai = <&pdm>;
		};

		simple-audio-card,codec {
			sound-dai = <&pdm_codec>;
		};
	};

	/*
	 * I2S (i2s_8ch_0) on the P1 header. rk3308.dtsi has the pin groups but no
	 * controller node, so define it here (vendor BSP + the mainline i2s_8ch_2
	 * binding). Disabled by default; shares pins with PDM (mutually exclusive).
	 */
	i2s_8ch_0: i2s@ff300000 {
		compatible = "rockchip,rk3308-i2s-tdm";
		reg = <0x0 0xff300000 0x0 0x1000>;
		interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>;
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		clocks = <&cru SCLK_I2S0_8CH_TX>,
			 <&cru SCLK_I2S0_8CH_RX>,
			 <&cru HCLK_I2S0_8CH>;
		dmas = <&dmac1 0>, <&dmac1 1>;
		dma-names = "tx", "rx";
		resets = <&cru SRST_I2S0_8CH_TX_M>, <&cru SRST_I2S0_8CH_RX_M>;
		reset-names = "tx-m", "rx-m";
		rockchip,grf = <&grf>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s_8ch_0_sclktx &i2s_8ch_0_lrcktx
			     &i2s_8ch_0_sdo0 &i2s_8ch_0_sdi0>;
		#sound-dai-cells = <0>;
		status = "disabled";
	};

	/*
	 * I2S RX capture: a simple-audio-card on i2s_8ch_0 with a dmic-codec, to
	 * record an external I2S master. Disabled by default; `novaconfig i2s_rx`
	 * enables it, switches i2s_8ch_0 to its RX clock pins, and frees those
	 * pins from the header PWMs.
	 */
	i2s_rx_test_codec: i2s-rx-test-codec {
		compatible = "dmic-codec";
		#sound-dai-cells = <0>;
	};

	sound-i2s-rx-test {
		compatible = "simple-audio-card";
		simple-audio-card,name = "i2s-rx-test";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&i2s_rx_test_link_codec>;
		simple-audio-card,frame-master = <&i2s_rx_test_link_codec>;
		status = "disabled";

		simple-audio-card,cpu {
			sound-dai = <&i2s_8ch_0>;
		};

		i2s_rx_test_link_codec: simple-audio-card,codec {
			sound-dai = <&i2s_rx_test_codec>;
		};
	};

	/*
	 * Nova W: power sequence for the on-board AIC8800DC SDIO WiFi.
	 * WL_REG_ON = GPIO0_A2; mmc-pwrseq deasserts it at SDIO power-up so
	 * the chip enumerates on &sdio. Harmless on a plain Nova (no module).
	 */
	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_reg_on>;
		reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <200>;
	};
};

&codec {
	#sound-dai-cells = <0>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_core>;
};

&emmc {
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_pwren>;
	vmmc-supply = <&vcc_io>;
	status = "okay";
};

/*
 * Mirror the vendor DTS: bus-level PHY reset and no phy-handle, so stmmac
 * scans the MDIO bus instead of assuming the PHY address.
 */
&gmac {
	clock_in_out = "output";
	phy-supply = <&vcc_io>;
	snps,reset-gpio = <&gpio0 RK_PA7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 50000 50000>;
	status = "okay";
};

/* Internally wired to the audio codec. */
&i2s_8ch_2 {
	#sound-dai-cells = <0>;
	status = "okay";
};

&io_domains {
	vccio0-supply = <&vcc_io>;
	vccio1-supply = <&vcc_io>;
	vccio2-supply = <&vcc_io>;
	vccio3-supply = <&vccio_flash>;
	vccio4-supply = <&vcc_1v8>;
	vccio5-supply = <&vcc_io>;
	status = "okay";
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&rtc_32k>;

	leds {
		work_led_pin: work-led-pin {
			rockchip,pins = <0 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdmmc {
		vcc_sd_en: vcc-sd-en {
			rockchip,pins = <4 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		usb_drv: usb-drv {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wifi {
		wifi_reg_on: wifi-reg-on {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_pin_pull_down>;
	status = "okay";
};

/*
 * Header PWMs. Not enabled: pwm0 drives vdd_core (above), pwm4 shares
 * GPIO0_A1 with the work LED.
 */
&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&pwm5 {
	status = "okay";
};

&pwm6 {
	status = "okay";
};

&pwm7 {
	status = "okay";
};

&pwm8 {
	status = "okay";
};

&pwm9 {
	status = "okay";
};

&pwm10 {
	status = "okay";
};

&pwm11 {
	status = "okay";
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

/*
 * Only DAT0 is usable on this board: with two different cards, 4-bit data
 * transfers fail on every access (U-Boot gets a Start Bit Error on the first
 * 4-bit read, Linux gets I/O errors on every sector) while 1-bit works at SD
 * High Speed. Treat the slot as 1-bit wired.
 */
/* Nova W: AIC8800DC SDIO WiFi on the dedicated SDIO controller. */
&sdio {
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	max-frequency = <50000000>;
	mmc-pwrseq = <&wifi_pwrseq>;
	no-mmc;
	no-sd;
	non-removable;
	sd-uhs-sdr50;
	supports-sdio;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
};

&sdmmc {
	broken-cd;
	bus-width = <1>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <50000000>;
	vmmc-supply = <&vcc_sd>;
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_host {
	phy-supply = <&vbus_host>;
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

/* Plain 115200..1500000n8 console on ttyS4; CTS/RTS are not wired for it. */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_xfer>;
	status = "okay";
};

&usb20_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usb_host_ehci {
	status = "okay";
};

&usb_host_ohci {
	status = "okay";
};

&wdt {
	status = "okay";
};
