#!/usr/bin/make -f

# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# Get the architecture triplet:
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
	DEB_HOST_DISTRIBUTION = Ubuntu
else
	DEB_HOST_DISTRIBUTION = Debian
endif

ifeq ($(DEB_HOST_DISTRIBUTION), Ubuntu)
	private_dir = mali-egl
else
	private_dir = 
endif

%:
	dh $@ 

override_dh_strip:

override_dh_auto_configure:
	for file in debian/*.in; \
	do \
		sed -e"s,\$${DEB_HOST_MULTIARCH},$(DEB_HOST_MULTIARCH),g" \
			-e"s,\$${private_dir},${private_dir},g" \
			-e"s,\$${distribution},${DEB_HOST_DISTRIBUTION},g" \
			$${file} > $${file%%.in}; \
	done
	make config VERSION=r3p0 ABI=armhf EGL_TYPE=x11

override_dh_auto_build:
	dh_auto_build -- libsubdir=$(DEB_HOST_MULTIARCH) private_dir=$(private_dir) all test

override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/$(private_dir) debian/tmp/usr/include debian/tmp/usr/bin
	dh_auto_install -- libsubdir=$(DEB_HOST_MULTIARCH) private_dir=$(private_dir)
	install -D -m0644 debian/sunxi-mali.conf debian/tmp/etc/modules-load.d/sunxi-mali.conf

override_dh_install:
	dh_install
ifeq ($(DEB_HOST_DISTRIBUTION), Ubuntu)
	echo "/usr/lib/$(DEB_HOST_MULTIARCH)/$(private_dir)" > $(CURDIR)/debian/libmali-sunxi-r3p0/usr/lib/$(DEB_HOST_MULTIARCH)/$(private_dir)/ld.so.conf
endif

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/libmali-sunxi-r3p0/usr/lib/$(DEB_HOST_MULTIARCH)/$(private_dir)
