// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "rk3506.dtsi"

/ {
	model = "Forlinx OK3506-S Board";
	compatible = "forlinx,ok3506", "rockchip,rk3506";

	aliases {
		ethernet0 = <&gmac0>;
		ethernet1 = <&gmac1>;
		mmc0 = &sdmmc;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:1500000n8";
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <15000>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "on";
			function = LED_FUNCTION_HEARTBEAT;
			gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&run_led>;
		};
	};

	vdd_0v9: regulator-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3>;
	};

	vcc_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_sys: regulator-5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc5v0_usb20_otg1: regulator-5v0-usb20-otg1 {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb20_otg1_drv_h>;
		regulator-name = "vcc5v0_usb20_otg1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_ddr: regulator-vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc5v0_sys>;
	};
};

&fspi {
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
		vcc-supply = <&vcc_3v3>;
	};
};

&gmac0 {
	assigned-clocks = <&cru CLK_MAC0>;
	assigned-clock-rates = <50000000>;
	clock_in_out = "output";
	phy-handle = <&rmii_phy0>;
	phy-supply = <&vcc_3v3>;
	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii0_miim>, <&eth_rmii0_tx_bus2>,
		    <&eth_rmii0_rx_bus2>, <&eth_rmii0_clk>;
	status = "okay";
};

&gmac1 {
	status = "disabled";
};

&mdio0 {
	rmii_phy0: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&rmii0_rstn>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_LOW>;
	};
};

&mdio1 {
	status = "disabled";
};

&pinctrl {
	ethernet {
		/omit-if-no-ref/
		rmii0_rstn: rmii0-rstn {
			rockchip,pins = <0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	leds {
		/omit-if-no-ref/
		run_led: run-led {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdmmc {
		/omit-if-no-ref/
		sdmmc_det_l: sdmmc-det-l {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb {
		/omit-if-no-ref/
		usb20_otg1_drv_h: usb20-otg1-drv-h {
			rockchip,pins = <1 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&sdmmc {
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_LOW>;
	disable-wp;
	no-sdio;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4>, <&sdmmc_clk>, <&sdmmc_cmd>, <&sdmmc_det_l>;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_3v3>;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb20_otg0 {
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&usb2phy {
	status = "okay";
};

&usb2phy_otg0 {
	status = "okay";
};

&usb2phy_otg1 {
	phy-supply = <&vcc5v0_usb20_otg1>;
	status = "okay";
};
