# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

[*.json]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

# C coding style based on Linux kernel.
# https://www.kernel.org/doc/html/v5.0/process/coding-style.html

[*.{sh,inc,conf}]
indent_style = tab
indent_size = 4

[*.c]
indent_style = tab
indent_size = 8

[*.h]
indent_style = tab
indent_size = 8
