[submodule "debs/common/armbian-config"]
	path = debs/common/armbian-config
	url = https://github.com/armbian/config
[submodule "debs/common/armbian-firmware/lib/firmware"]
	path = debs/common/armbian-firmware/lib/firmware
	url = https://github.com/armbian/firmware
[submodule "debs/common/armbian-firmware-full/lib/firmware"]
	path = debs/common/armbian-firmware-full/lib/firmware
	url = https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
