### Specific to building Armbian ###
/.vagrant/
ubuntu-*-cloudimg-console.log

### to ignore changes in a working copy
.ignore_changes

### compile configurations added by users
/config-*.conf

### output directories
/.tmp/
/output/
/cache/
/userpatches/

### General annoyances ###
.DS_Store
