[submodule "config/packages/common/armbian-config/sources"]
	path = config/packages/common/armbian-config/sources
	url = https://github.com/armbian/config

[submodule "config/packages/common/armbian-firmware/overlay/lib/firmware"]
	path = config/packages/common/armbian-firmware/overlay/lib/firmware
	url = https://github.com/armbian/firmware
[submodule "config/packages/common/armbian-firmware-full/overlay/lib/firmware"]
	path = config/packages/common/armbian-firmware-full/overlay/lib/firmware
	url = https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
