[submodule "config/packages/03-common/dedicated/01-armbian-config/sources"]
	path = config/packages/03-common/dedicated/01-armbian-config/sources
	url = https://github.com/armbian/config
[submodule "config/packages/03-common/dedicated/11-armbian-firmware-full/overlay/lib/firmware"]
	path = config/packages/03-common/dedicated/11-armbian-firmware-full/overlay/lib/firmware
	url = https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
[submodule "config/packages/03-common/dedicated/10-armbian-firmware/overlay/lib/firmware"]
	path = config/packages/03-common/dedicated/10-armbian-firmware/overlay/lib/firmware
	url = https://github.com/armbian/firmware
