#!/bin/bash
#
# Board definitions
#

case $BOARD in


cubieboard4)
#--------------------------------------------------------------------------------------------------------------------------------
# Cubieboards 3.4.x
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/patrickhwood/u-boot"
BOOTSOURCE="u-boot-patwood" 
BOOTCONFIG="cubietruck"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/cubieboard/CC-A80-kernel-source"
LINUXSOURCE="linux-sunxi-a80"
LOCALVERSION="-sun9i"
FIRMWARE=""
DTBS=""
DOCS=""
DOCSDIR=""
MISC1=""		
MISC1_DIR=""
MISC2=""	
MISC2_DIR=""						
MISC3=""	
MISC3_DIR=""
MISC4=""
MISC4_DIR=""
;;
#--------------------------------------------------------------------------------------------------------------------------------


cubieboard2 | cubietruck)
#--------------------------------------------------------------------------------------------------------------------------------
# Cubieboards 3.4.x
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/patrickhwood/u-boot"
BOOTSOURCE="u-boot-patwood" 
BOOTCONFIG="cubietruck"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/dan-and/linux-sunxi"
LINUXSOURCE="linux-sunxi"
LOCALVERSION="-sunxi"
FIRMWARE="bin/ap6210.zip"
DTBS=""
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2="https://github.com/matzrh/sunxi-lirc"	
MISC2_DIR="sunxi-lirc"						
MISC3="https://github.com/dz0ny/rt8192cu"	
MISC3_DIR="rt8192cu"
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;
#--------------------------------------------------------------------------------------------------------------------------------


cubieboard-next)
#--------------------------------------------------------------------------------------------------------------------------------
# Cubieboard mainline kernel	/ experimental
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/RobertCNelson/u-boot"
BOOTSOURCE="u-boot"
BOOTCONFIG="Cubieboard_defconfig" 
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/linux-sunxi/linux-sunxi -b sunxi-next"
LINUXSOURCE="linux-sunxi-next"
LOCALVERSION="-sunxi"
DTBS="sun4i-a10-cubieboard.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2=""	
MISC2_DIR=""
MISC3=""	
MISC3_DIR=""
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


cubieboard2-next)
#--------------------------------------------------------------------------------------------------------------------------------
# Cubieboard mainline kernel	/ experimental
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/RobertCNelson/u-boot"
BOOTSOURCE="u-boot"
BOOTCONFIG="Cubieboard2_defconfig" 
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/linux-sunxi/linux-sunxi -b sunxi-next"
LINUXSOURCE="linux-sunxi-next"
LOCALVERSION="-sunxi"
DTBS="sun7i-a20-cubieboard2.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2=""	
MISC2_DIR=""
MISC3=""	
MISC3_DIR=""
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


cubietruck-next)
#--------------------------------------------------------------------------------------------------------------------------------
# Cubieboard mainline kernel	/ experimental
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/RobertCNelson/u-boot"
BOOTSOURCE="u-boot"
BOOTCONFIG="Cubietruck_defconfig" 
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/linux-sunxi/linux-sunxi -b sunxi-next"
LINUXSOURCE="linux-sunxi-next"
LOCALVERSION="-sunxi"
DTBS="sun7i-a20-cubietruck.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2=""	
MISC2_DIR=""
MISC3=""	
MISC3_DIR=""
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


lime-next)
#--------------------------------------------------------------------------------------------------------------------------------
# Olimex Lime mainline kernel	/ experimental
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/RobertCNelson/u-boot"
BOOTSOURCE="u-boot" 
BOOTCONFIG="A20-OLinuXino-Lime_defconfig"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/linux-sunxi/linux-sunxi -b sunxi-next"
LINUXSOURCE="linux-sunxi-next"
LOCALVERSION="-sunxi"
DTBS="sun7i-a20-olinuxino-lime.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2=""	
MISC2_DIR=""
MISC3="https://github.com/pvaret/rtl8192cu-fixes"	
MISC3_DIR="rtl8192cu-fixes"
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


micro-next)
#--------------------------------------------------------------------------------------------------------------------------------
# Olimex Lime mainline kernel	/ experimental
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/RobertCNelson/u-boot"
BOOTSOURCE="u-boot" 
BOOTCONFIG="A20-OLinuXino_MICRO_config"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/linux-sunxi/linux-sunxi -b sunxi-next"
LINUXSOURCE="linux-sunxi-next"
LOCALVERSION="-sunxi"
DTBS="sun7i-a20-olinuxino-micro.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2=""	
MISC2_DIR=""
MISC3="https://github.com/pvaret/rtl8192cu-fixes"	
MISC3_DIR="rtl8192cu-fixes"
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


lime2-next)
#--------------------------------------------------------------------------------------------------------------------------------
# Olimex Lime mainline kernel	/ experimental
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/RobertCNelson/u-boot"
BOOTSOURCE="u-boot"
BOOTCONFIG="A20-OLinuXino-Lime2_defconfig" 
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/linux-sunxi/linux-sunxi -b sunxi-next"
LINUXSOURCE="linux-sunxi-next"
LOCALVERSION="-sunxi"
DTBS="sun7i-a20-olinuxino-lime2.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2=""	
MISC2_DIR=""
MISC3=""	
MISC3_DIR=""
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


pcduino3-next)
#--------------------------------------------------------------------------------------------------------------------------------
# pcduino3 mainline kernel / experimental
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/RobertCNelson/u-boot"
BOOTSOURCE="u-boot" 
BOOTCONFIG="Linksprite_pcDuino3_defconfig"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/linux-sunxi/linux-sunxi -b sunxi-next"
LINUXSOURCE="linux-sunxi-next"
LOCALVERSION="-sunxi"
DTBS="sun7i-a20-pcduino3.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2=""	
MISC2_DIR=""
MISC3=""	
MISC3_DIR=""
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


bananapi-next)
#--------------------------------------------------------------------------------------------------------------------------------
# bananapi mainline kernel / experimental
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/RobertCNelson/u-boot"
BOOTSOURCE="u-boot" 
BOOTCONFIG="BananaPi_defconfig"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/linux-sunxi/linux-sunxi -b sunxi-next"
LINUXSOURCE="linux-sunxi-next"
LOCALVERSION="-sunxi"
DTBS="sun7i-a20-bananapi.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2=""	
MISC2_DIR=""
MISC3=""	
MISC3_DIR=""
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


bananapi) 
#--------------------------------------------------------------------------------------------------------------------------------
# Bananapi cubieboard based 3.4.x
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/LeMaker/u-boot-bananapi"
BOOTSOURCE="u-boot-banana"
BOOTCONFIG="BananaPi_config"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/dan-and/linux-sunxi"
LINUXSOURCE="linux-sunxi"
LOCALVERSION="-sunxi"
FIRMWARE="bin/ap6210.zip"
DTBS=""
DOCS=""
DOCSDIR=""
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"
MISC1_DIR="sunxi-tools"
MISC2=""
MISC2_DIR=""
MISC3="https://github.com/dz0ny/rt8192cu"
MISC3_DIR="rt8192cu"
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


cubox-i)
#--------------------------------------------------------------------------------------------------------------------------------
# cubox-i & hummingboard 3.14.xx
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/SolidRun/u-boot-imx6"
BOOTSOURCE="u-boot-cubox"
BOOTCONFIG="mx6_cubox-i_config"
CPUMIN="792000"
CPUMAX="996000"
LINUXKERNEL="https://github.com/linux4kix/linux-linaro-stable-mx6"
LINUXSOURCE="linux-cubox-next"
LOCALVERSION="-cubox"
DTBS="imx6q-cubox-i.dtb imx6dl-cubox-i.dtb imx6dl-hummingboard.dtb imx6q-hummingboard.dtb"
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-cubox"
MISC1=""	
MISC1_DIR=""
MISC2=""	
MISC2_DIR=""
MISC3="https://github.com/dz0ny/rt8192cu"	
MISC3_DIR="rt8192cu"
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


lime) 
#--------------------------------------------------------------------------------------------------------------------------------
# Olimex Lime 512Mb 3.4.x
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/linux-sunxi/u-boot-sunxi"
BOOTSOURCE="u-boot-sunxi"
BOOTCONFIG="A20-OLinuXino-Lime_config"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/dan-and/linux-sunxi"
LINUXSOURCE="linux-sunxi"
LOCALVERSION="-sunxi"
FIRMWARE="bin/ap6210.zip"
DTBS=""
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2="https://github.com/matzrh/sunxi-lirc"	
MISC2_DIR="sunxi-lirc"
MISC3="https://github.com/dz0ny/rt8192cu"	
MISC3_DIR="rt8192cu"
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


micro) 
#--------------------------------------------------------------------------------------------------------------------------------
# Olimex Micro 3.4.x
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/linux-sunxi/u-boot-sunxi"
BOOTSOURCE="u-boot-sunxi"
BOOTCONFIG="A20-OLinuXino-Micro_config"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/dan-and/linux-sunxi"
LINUXSOURCE="linux-sunxi"
LOCALVERSION="-sunxi"
FIRMWARE="bin/ap6210.zip"
DTBS=""
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2="https://github.com/matzrh/sunxi-lirc"	
MISC2_DIR="sunxi-lirc"
MISC3="https://github.com/dz0ny/rt8192cu"	
MISC3_DIR="rt8192cu"
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


lime2) 
#--------------------------------------------------------------------------------------------------------------------------------
# Olimex Lime2 1024Mb 3.4.x
#--------------------------------------------------------------------------------------------------------------------------------
BOOTLOADER="https://github.com/linux-sunxi/u-boot-sunxi"
BOOTSOURCE="u-boot-sunxi"
BOOTCONFIG="A20-OLinuXino_Lime2_config"
CPUMIN="480000"
CPUMAX="1010000"
LINUXKERNEL="https://github.com/dan-and/linux-sunxi"
LINUXSOURCE="linux-sunxi"
LOCALVERSION="-sunxi"
FIRMWARE="bin/ap6210.zip"
DTBS=""
DOCS="https://github.com/igorpecovnik/Cubietruck-Debian.wiki.git"
DOCSDIR="docs-banana"
MISC1="https://github.com/linux-sunxi/sunxi-tools.git"		
MISC1_DIR="sunxi-tools"
MISC2="https://github.com/matzrh/sunxi-lirc"	
MISC2_DIR="sunxi-lirc"
MISC3="https://github.com/dz0ny/rt8192cu"	
MISC3_DIR="rt8192cu"
MISC4="https://github.com/notro/fbtft"
MISC4_DIR="$LINUXSOURCE/drivers/video/fbtft"
;;


*) echo "Board configuration not found"
exit
;;
esac
