# Requirements/dependencies for various Python scripts used in the Armbian Build Framework
#
# IMPORTANT NOTES:
# When adding a new requirements, please leave a comment to explain its purpose.
# Always use a fixed version, this is important for correct hashing.
# Dependabot will keep these versions up to date.

pip == 25.3          # pip is the package installer for Python
setuptools == 80.9.0   # for building Python packages
pyelftools == 0.32     # for building U-Boot
unidiff == 0.7.5       # for parsing unified diff
GitPython == 3.1.46    # for manipulating git repos
unidecode == 1.4.0     # for converting strings to ascii
coloredlogs == 15.0.1  # for colored logging
PyYAML == 6.0.3        # for parsing/writing YAML
oras == 0.2.38         # for OCI stuff in mapper-oci-update
Jinja2 == 3.1.6        # for templating
rich == 14.3.1         # for rich text formatting
dtschema == 2025.12     # for checking dts files and dt bindings
yamllint == 1.38.0     # for checking dts files and dt bindings
