# Requirements/dependencies for various Python scripts used in the Armbian Build Framework
#
# IMPORTANT NOTES:
# When adding a new requirements, please leave a comment to explain its purpose.
# Always use a fixed version, this is important for correct hashing.
# Dependabot will keep these versions up to date.

setuptools == 75.3.0   # for building Python packages
pyelftools == 0.31     # for building U-Boot
unidiff == 0.7.5       # for parsing unified diff
GitPython == 3.1.43    # for manipulating git repos
unidecode == 1.3.8     # for converting strings to ascii
coloredlogs == 15.0.1  # for colored logging
PyYAML == 6.0.2        # for parsing/writing YAML
oras == 0.1.30         # for OCI stuff in mapper-oci-update
Jinja2 == 3.1.4        # for templating
rich == 13.9.4         # for rich text formatting
dtschema == 2024.11     # for checking dts files and dt bindings
yamllint == 1.35.1     # for checking dts files and dt bindings
