polkit.addRule(function(action, subject) {
	if (action.id == "org.freedesktop.systemd1.manage-units" &&
	    action.lookup("unit") == "rgds-pad2key.service" &&
	    subject.local && subject.active) {
		return polkit.Result.YES;
	}
});
