/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&csi2_dphy1_hw>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&csi2_dphy3>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&mipi4_csi2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mipi_lvds4>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&rkcif_mipi_lvds4_sditf>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&rkisp1_vir1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&i2c3>;
		__overlay__ {
			status = "okay";

			ov13855-1@36 {
				status = "okay";
			};
		};
	};

	fragment@7 {
		target = <&rkcif>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&rkcif_mmu>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&rkisp1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@10 {
		target = <&isp1_mmu>;
		__overlay__ {
			status = "okay";
		};
	};
};
