/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&csi2_dcphy0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&mipi0_csi2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&rkcif_mipi_lvds>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&rkcif_mipi_lvds_sditf>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&rkisp0_vir0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&i2c7>;
		__overlay__ {
			status = "okay";

			ov13855-2@36 {
				status = "okay";
			};
		};
	};

	fragment@6 {
		target = <&rkcif>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&rkcif_mmu>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&rkisp0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&isp0_mmu>;
		__overlay__ {
			status = "okay";
		};
	};
};
