// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 retro98boy <retro98boy@qq.com>
 *
 * KICKPI K3B demo board file with a JD9366T-based 800x1280 DSI panel.
 * Compatible with:
 * SQ101P-X4EI451-84H501
 * YDP1010BT003-V1
 */

/dts-v1/;

/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>

&{/} {
	/*
	 * This panel uses DC voltage (VLED) backlight dimming. Although JD9366T
	 * supports DCS brightness control, the panel vendor does not use it.
	 * The display driver board uses SY7200AABC to provide the backlight
	 * voltage. This IC supports both EN mode and PWM voltage adjustment
	 * within its specified frequency range.
	 */
	backlight_dsi: backlight-dsi0 {
		compatible = "pwm-backlight";
		/*
		 * SY7200AABC uses its EN/PWM pin in PWM dimming mode.
		 * The datasheet specifies 20 kHz to 1 MHz;
		 * 50000 ns gives 20 kHz, the lowest supported frequency. In
		 * PWM mode, the first high pulse must be longer than 200 ns.
		 */
		pwms = <&pwm5 0 50000 0>;
		power-supply = <&lcd_3v3>;
		/*
		 * At 20 kHz, the PWM period is 50000 ns. The lowest non-zero
		 * brightness level is 2/255, giving about 392 ns high time,
		 * which satisfies SY7200AABC's first-pulse requirement (>200 ns).
		 * Keep the lowest non-zero level at 2 or higher; 1/255 is only
		 * about 196 ns and may fail to start the LED driver reliably.
		 */
		brightness-levels = <
			  2   2   2   2   2   2   2   2
			  3   3   3   3   3   4   4   4
			  4   5   5   5   6   6   6   7
			  7   8   8   9   9  10  11  12
			 13  14  15  16  17  18  19  20
			 21  22  23  24  25  26  27  28
			 29  30  31  32  33  34  35  36
			 37  38  39  40  41  42  43  44
			 45  46  47  48  49  50  51  52
			 53  54  55  56  57  58  59  60
			 61  62  63  64  65  66  67  68
			 69  70  71  72  73  74  75  76
			 77  78  79  80  81  82  83  84
			 85  86  87  88  89  90  91  92
			 93  94  95  96  97  98  99 100
			101 102 103 104 105 106 107 108
			109 110 111 112 113 114 115 116
			117 118 119 120 121 122 123 124
			125 126 127 128 129 130 131 132
			133 134 135 136 137 138 139 140
			141 142 143 144 145 146 147 148
			149 150 151 152 153 154 155 156
			157 158 159 160 161 162 163 164
			165 166 167 168 169 170 171 172
			173 174 175 176 177 178 179 180
			181 182 183 184 185 186 187 188
			189 190 191 192 193 194 195 196
			197 198 199 200 201 202 203 204
			205 206 207 208 209 210 211 212
			213 214 215 216 217 218 219 220
			221 222 223 224 225 226 227 228
			229 230 231 232 233 234 235 236
			237 238 239 240 241 242 243 244
			245 246 247 248 249 250 251 252
			253 254 255
		>;
		default-brightness-level = <200>;
	};

	lcd_3v3: regulator-lcd-3v3 {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_3v3_pin>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "lcd_3v3";
		/*
		 * When using this DTS in the Rockchip Android SDK, keep both
		 * regulator-boot-on and regulator-always-on enabled. U-Boot also
		 * drives the display; without them, lcd_3v3 may be disabled for a
		 * period during the U-Boot-to-Linux handoff, which can cause the
		 * subsequent SY7200AABC Linux PWM dimming to fail.
		 */
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_3v3>;
	};
};

&display_subsystem {
	status = "okay";
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "rocknix,generic-dsi";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_reset_pin>;
		backlight = <&backlight_dsi>;
		reset-gpios = <&gpio0 RK_PA7 GPIO_ACTIVE_LOW>;
		vdd-supply = <&lcd_3v3>;
		iovcc-supply = <&lcd_3v3>;

		panel_description =
			"G size=135,216 delays=120,120,120,120,0 format=rgb888 lanes=4 flags=0xa03",
			"M clock=76107 horizontal=800,40,8,28 vertical=1280,140,8,20 default=1",
			"I seq=3001",
			"I seq=7849610200",
			"I seq=3002",
			"I seq=3112",
			"I seq=3208",
			"I seq=333f",
			"I seq=3c04",
			"I seq=3d78",
			"I seq=3e43",
			"I seq=3f30",
			"I seq=42a2",
			"I seq=43f0",
			"I seq=4401",
			"I seq=4617",
			"I seq=49c0",
			"I seq=6d30",
			"I seq=6e21",
			"I seq=415b5b03035b5b020203030303",
			"I seq=5a0000343431312323242423",
			"I seq=5b230b0b09090f0f0d0d0606",
			"I seq=5c0000343431312323242423",
			"I seq=5d230a0a08080e0e0c0c0505",
			"I seq=5e0000313134342323242423",
			"I seq=5f230c0c0e0e08080a0a0505",
			"I seq=600000313134342323242423",
			"I seq=61230d0d0f0f09090b0b0606",
			"I seq=64ffff3f",
			"I seq=65ffff3f",
			"I seq=6f030000",
			"I seq=70030000",
			"I seq=71000080",
			"I seq=72000000",
			"I seq=4c2222",
			"I seq=732a",
			"I seq=4e0000",
			"I seq=500000",
			"I seq=55ffff",
			"I seq=56ffff",
			"I seq=570000",
			"I seq=58ffff",
			"I seq=66ffff",
			"I seq=67ffff",
			"I seq=4a3f",
			"I seq=3008",
			"I seq=3165",
			"I seq=3305",
			"I seq=4050",
			"I seq=4180",
			"I seq=421a",
			"I seq=470a",
			"I seq=480d",
			"I seq=5017",
			"I seq=5a20",
			"I seq=5b00",
			"I seq=5c53",
			"I seq=6204",
			"I seq=655f",
			"I seq=7301",
			"I seq=300a",
			"I seq=32ff",
			"I seq=3328",
			"I seq=3f53",
			"I seq=4015",
			"I seq=4720",
			"I seq=4880",
			"I seq=4903",
			"I seq=300b",
			"I seq=33003d",
			"I seq=3c00bf",
			"I seq=43b1",
			"I seq=4431",
			"I seq=3e00101e272f",
			"I seq=3f546f737c77919099a8a5aeb5c5b8",
			"I seq=405252537f00101e272f",
			"I seq=41546f737c77919899a8a5aeb5c5b8",
			"I seq=425252537f",
			"I seq=4570",
			"I seq=463b",
			"I seq=487c",
			"I seq=491e",
			"I seq=4a3a",
			"I seq=300c",
			"I seq=3262",
			"I seq=7177",
			"I seq=300d",
			"I seq=4c74",
			"I seq=3000",
			"I seq=3500"
			;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};
};

&dsi_out {
	dsi_out_panel: endpoint {
		remote-endpoint = <&panel_in_dsi>;
	};
};

&dsi_in {
	dsi_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_dsi>;
	};
};

&vp0 {
	#address-cells = <1>;
	#size-cells = <0>;

	vp0_out_dsi: endpoint@ROCKCHIP_VOP2_EP_MIPI0 {
		reg = <ROCKCHIP_VOP2_EP_MIPI0>;
		remote-endpoint = <&dsi_in_vp0>;
	};
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&video_phy {
	status = "okay";
};

&pwm5 {
	status = "okay";
};

&pinctrl {
	display {
		lcd_3v3_pin: lcd-3v3-pin {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		lcd_reset_pin: lcd-reset-pin {
			rockchip,pins = <0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
