// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) Christian Hewitt <christianshewitt@gmail.com>
 */

/dts-v1/;

#include "meson-gxm.dtsi"
#include "meson-gx-p23x-q20x.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	compatible = "sunvell,t95z-plus", "amlogic,s912", "amlogic,meson-gxm";
	model = "Sunvell T95Z Plus";

	leds {
		compatible = "gpio-leds";

		led-green {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_POWER;
			gpios = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		led-blue {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_POWER;
			gpios = <&gpio GPIODV_25 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			panic-indicator;
		};
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1710000>;

		button-function {
			label = "update";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <10000>;
		};
	};

	spi {
		compatible = "spi-gpio";

		/* T95Z v1 (enabled) */
		sck-gpios = <&gpio GPIODV_22 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpio GPIODV_23 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio GPIODV_21 GPIO_ACTIVE_LOW>;

		/* T95Z v2 (disabled)
		sck-gpios = <&gpio GPIODV_19 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpio GPIODV_18 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio GPIODV_20 GPIO_ACTIVE_LOW>;
		*/

		num-chipselects = <1>;
		#address-cells = <1>;
		#size-cells = <0>;

		tm1628: led-controller@0 {
			compatible = "titanmec,tm1628";
			reg = <0>;
			spi-3wire;
			spi-lsb-first;
			spi-rx-delay-us = <1>;
			spi-max-frequency = <500000>;
			#address-cells = <2>;
			#size-cells = <0>;

			titanmec,segment-mapping = /bits/ 8 <4 5 6 1 2 3 7>;
			titanmec,grid = /bits/ 8 <2 3 4 5 1>;

			alarm@1,1 {
				reg = <1 1>;
				function = LED_FUNCTION_ALARM;
			};

			usb@1,2 {
				reg = <1 2>;
				function = LED_FUNCTION_USB;
			};

			play@1,3 {
				reg = <1 3>;
				function = "play";
			};

			pause@1,4 {
				reg = <1 4>;
				function = "pause";
			};

			colon@1,5 {
				reg = <1 5>;
				function = "colon";
			};

			lan@1,6 {
				reg = <1 6>;
				function = LED_FUNCTION_LAN;
			};

			wlan@1,7 {
				reg = <1 7>;
				function = LED_FUNCTION_WLAN;
			};
		};
	};
};

&ethmac {
	pinctrl-0 = <&eth_pins>;
	pinctrl-names = "default";

	phy-handle = <&external_phy>;
	phy-mode = "rgmii";

	amlogic,tx-delay-ns = <2>;
};

&external_mdio {
	external_phy: ethernet-phy@1 {
		/* ZTE ZX2AA500 */
		compatible = "ethernet-phy-id0381.5c11",
			     "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		max-speed = <1000>;

		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		reset-gpios = <&gpio GPIOZ_14 GPIO_ACTIVE_LOW>;

		interrupt-parent = <&gpio_intc>;
		/* MAC_INTR on GPIOZ_15 */
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>;
	};
};

&sd_emmc_a {
	brcmf: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
		clock-names = "lpo";
	};
};
