// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#include "rk3399-u-boot.dtsi"
#include "rk3399-sdram-lpddr4-100.dtsi"

&aliases {
	ethernet0 = &gmac;
	ethernet1 = &usb_lan;
	spi0 = &spi1;
	spi1 = &spi2;
	spi2 = &spi5;
};

&chosen {
	bootargs = "earlycon=uart8250,mmio32,0xff1a0000 earlyprintk";
	stdout-path = "serial2:1500000n8";
	u-boot,spl-boot-order = "same-as-spl", &spiflash, &sdmmc, &sdhci;
};

/ {
	config {
		u-boot,spl-payload-offset = <0x80000>; /* @ 512KB */
	};
};

&gpio1 {
	usb-mux-hs {
		gpio-hog;
		gpios = <RK_PA4 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "USB_MUX_HS";
	};

	usb-mux-oe {
		gpio-hog;
		gpios = <RK_PB5 GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "USB_MUX_OE#";
	};

	soc-flash-wp {
		gpio-hog;
		gpios = <RK_PC2 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "SOC_WP#";
	};
};

&gpio2 {
	sata-flash-wp {
		gpio-hog;
		gpios = <RK_PD0 GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "SATA_WP#_LV";
	};
};

&gpio4 {
	auto-on-en-d {
		gpio-hog;
		gpios = <RK_PD1 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "AUTO_ON_EN_D";
	};

	auto-on-en-clk {
		gpio-hog;
		gpios = <RK_PD2 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "AUTO_ON_EN_CLK";
	};

	board-rev-id-0 {
		gpio-hog;
		gpios = <RK_PD5 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "BOARD_REV_ID_0";
	};

	board-rev-id-1 {
		gpio-hog;
		gpios = <RK_PD6 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "BOARD_REV_ID_1";
	};
};

&pcie_prst {
	rockchip,pins =
		<2 RK_PD4 RK_FUNC_GPIO &pcfg_output_low>;
};

&pcie_pwr_en {
	rockchip,pins =
		<1 RK_PD0 RK_FUNC_GPIO &pcfg_output_low>;
};

&pinctrl {
	usb {
		usb_mux_hs: usb-mux-hs {
			rockchip,pins =
				<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_mux_oe: usb-mux-oe {
			rockchip,pins =
				<1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&spi1 {
	spiflash: flash@0 {
		u-boot,dm-pre-reloc;
	};
};

&vdd_center {
	regulator-min-microvolt = <950000>;
	regulator-max-microvolt = <950000>;
	regulator-init-microvolt = <950000>;
};

&vdd_log {
	regulator-init-microvolt = <930000>;
};
