[Unit]
Description=Armbian enhanced Log2Ram
DefaultDependencies=no
Wants=rsyslog.service systemd-journald.service
Before=syslog.target sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/log2ram start
ExecStop=/usr/local/sbin/log2ram stop
ExecReload=/usr/local/sbin/log2ram write
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
