// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;
#include "rk3506b-luckfox-lyra.dtsi"

/ {
	model = "Luckfox Lyra Pi";
	compatible = "luckfox,lyra-pi", "luckfox,core3506", "rockchip,rk3506";

	aliases {
		ethernet0 = &gmac1;
		ethernet1 = &gmac0;
	};
};

&gmac0 {
	assigned-clocks = <&cru CLK_MAC0>;
	assigned-clock-rates = <50000000>;
	clock_in_out = "output";
	phy-handle = <&rmii_phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii0_miim>, <&eth_rmii0_tx_bus2>,
		    <&eth_rmii0_rx_bus2>, <&eth_rmii0_clk>;
	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru CLK_MAC1>;
	assigned-clock-rates = <50000000>;
	clock_in_out = "output";
	phy-handle = <&rmii_phy1>;
	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii1_miim>, <&eth_rmii1_tx_bus2>,
		    <&eth_rmii1_rx_bus2>, <&eth_rmii1_clk>;
	status = "okay";
};

&mdio0 {
	rmii_phy0: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <50000000>;
		clocks = <&cru CLK_MAC_OUT>;
		pinctrl-names = "default";
		pinctrl-0 = <&eth_clk0_25m_out>;
	};
};

&mdio1 {
	rmii_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <50000000>;
		clocks = <&cru CLK_MAC_OUT>;
		pinctrl-names = "default";
		pinctrl-0 = <&eth_clk1_25m_out>;
	};
};

&pinctrl {
	ethernet {
		/omit-if-no-ref/
		rmii0_rstn: rmii0-rstn {
			rockchip,pins = <1 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		/omit-if-no-ref/
		rmii1_rstn: rmii1-rstn {
			rockchip,pins = <1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
