[Desktop Entry]
Type=Application
Name=RG Vita Pro screen setup (X11 rotation)
Exec=/usr/bin/vita-screen
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
