// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2023 FriendlyElec Computer Tech. Co., Ltd.
 * Copyright (c) 2023 Thomas McKahan
 * Author: ColorfulRhino
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include <dt-bindings/usb/pd.h>
#include "rk3588.dtsi"

/ {
	model = "FriendlyElec CM3588 NAS";
	compatible = "friendlyarm,cm3588", "rockchip,rk3588";

	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
		// nvme0 = &nvme0;
		// nvme1 = &nvme1;
		// nvme2 = &nvme2;
		// nvme3 = &nvme3;
		// ethernet0 = &r8125_u10;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		button-vol-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <17000>;
		};
	};

	analog-sound {
		compatible = "simple-audio-card";
		pinctrl-names = "default";
		pinctrl-0 = <&headphone_detect>;

		simple-audio-card,name = "realtek,rt5616-codec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,hp-det-gpio = <&gpio1 RK_PC4 GPIO_ACTIVE_LOW>;
		simple-audio-card,hp-pin-name = "Headphones";

		simple-audio-card,routing =
			"Headphones", "HPOL",
			"Headphones", "HPOR",
			"MIC1", "Microphone Jack",
			"Microphone Jack", "micbias1";
		simple-audio-card,widgets =
			"Headphone", "Headphones",
			"Microphone", "Microphone Jack";
		

		simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};
		
		simple-audio-card,codec {
			sound-dai = <&rt5616>;
		};
	};

	fan: pwm-fan {
		status = "disabled";
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		cooling-levels = <0 50 100 150 200 255>;
		pwms = <&pwm1 0 50000 0>;
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&key1_pin>;

		button@1 {
			debounce-interval = <50>;
			gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_LOW>;
			label = "User Button";
			linux,code = <BTN_1>;
			wakeup-source;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_sys: led-0 {
			gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
			label = "system-led";
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&led_sys_pin>;
		};

		led_usr: led-1 {
			gpios = <&gpio1 RK_PC6 GPIO_ACTIVE_HIGH>;
			label = "user-led";
			pinctrl-names = "default";
			pinctrl-0 = <&led_usr_pin>;
		};
	};

	vcc_12v_dcin: vcc-12v-dcin-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	/* vcc_5v0_sys powers peripherals */
	vcc_5v0_sys: vcc-5v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_12v_dcin>;
	};

	vcc_5v0_host_20: vcc-5v0-host-20 {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_5v0_host20_en>;
		regulator-name = "vcc_5v0_host_20";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_5v0_host_30: vcc-5v0-host-30 {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_5v0_host30_en>;
		regulator-name = "vcc_5v0_host_30";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_3v3_host_32: vcc-3v3-host-32-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_3v3_host32_en>;
		regulator-name = "vcc_3v3_host_32";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vbus_5v0_typec: vbus-5v0-typec-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&typec_5v_pwr_en>;
		regulator-name = "vbus_5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	/* vcc_4v0_sys powers the RK806, RK860's */
	vcc_4v0_sys: vcc-4v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_4v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
		vin-supply = <&vcc_12v_dcin>;
	};

	vcc_3v3_pcie20: vcc-3v3-pcie20-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_pcie20";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_3v3_pcie30: vcc-3v3-pcie30-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_pcie30";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_3v3_sd_s0: vcc-3v3-sd-s0-regulator {
		compatible = "regulator-fixed";
		enable-active-low;
		gpio = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd_s0_pwr>;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "vcc_3v3_sd_s0";
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_1v1_nldo_s3: vcc-1v1-nldo-s3-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc-1v1-nldo-s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc_4v0_sys>;
	};
};

&combphy0_ps {
	status = "okay";
};

&combphy1_ps {
	status = "okay";
};

&combphy2_psu {
	status = "okay";
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_big0_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
};

&cpu_b3 {
	cpu-supply = <&vdd_cpu_big1_s0>;
};

/* @TODO: gpio0 to gpio4 is from rk3588-nanopc-t6.dts and is not yet adapted to CM3588 NAS */
// &gpio0 {
// 	gpio-line-names = /* GPIO0 A0-A7 */
// 			  "", "", "", "",
// 			  "", "", "", "",
// 			  /* GPIO0 B0-B7 */
// 			  "", "", "", "",
// 			  "", "", "", "",
// 			  /* GPIO0 C0-C7 */
// 			  "", "", "", "",
// 			  "HEADER_10", "HEADER_08", "HEADER_32", "",
// 			  /* GPIO0 D0-D7 */
// 			  "", "", "", "",
// 			  "", "", "", "";
// };

// &gpio1 {
// 	gpio-line-names = /* GPIO1 A0-A7 */
// 			  "HEADER_27", "HEADER_28", "", "",
// 			  "", "", "", "HEADER_15",
// 			  /* GPIO1 B0-B7 */
// 			  "HEADER_26", "HEADER_21", "HEADER_19", "HEADER_23",
// 			  "HEADER_24", "HEADER_22", "", "",
// 			  /* GPIO1 C0-C7 */
// 			  "", "", "", "",
// 			  "", "", "", "",
// 			  /* GPIO1 D0-D7 */
// 			  "", "", "", "",
// 			  "", "", "HEADER_05", "HEADER_03";
// };

// &gpio2 {
// 	gpio-line-names = /* GPIO2 A0-A7 */
// 			  "", "", "", "",
// 			  "", "", "", "",
// 			  /* GPIO2 B0-B7 */
// 			  "", "", "", "",
// 			  "", "", "", "",
// 			  /* GPIO2 C0-C7 */
// 			  "", "CSI1_11", "CSI1_12", "",
// 			  "", "", "", "",
// 			  /* GPIO2 D0-D7 */
// 			  "", "", "", "",
// 			  "", "", "", "";
// };

// &gpio3 {
// 	gpio-line-names = /* GPIO3 A0-A7 */
// 			  "HEADER_35", "HEADER_38", "HEADER_40", "HEADER_36",
// 			  "HEADER_37", "", "DSI0_12", "",
// 			  /* GPIO3 B0-B7 */
// 			  "HEADER_33", "DSI0_10", "HEADER_07", "HEADER_16",
// 			  "HEADER_18", "HEADER_29", "HEADER_31", "HEADER_12",
// 			  /* GPIO3 C0-C7 */
// 			  "DSI0_08", "DSI0_14", "HEADER_11", "HEADER_13",
// 			  "", "", "", "",
// 			  /* GPIO3 D0-D7 */
// 			  "", "", "", "",
// 			  "", "DSI1_10", "", "";
// };

// &gpio4 {
// 	gpio-line-names = /* GPIO4 A0-A7 */
// 			  "DSI1_08", "DSI1_14", "", "DSI1_12",
// 			  "", "", "", "",
// 			  /* GPIO4 B0-B7 */
// 			  "", "", "", "",
// 			  "", "", "", "",
// 			  /* GPIO4 C0-C7 */
// 			  "", "", "", "",
// 			  "CSI0_11", "CSI0_12", "", "",
// 			  /* GPIO4 D0-D7 */
// 			  "", "", "", "",
// 			  "", "", "", "";
// };

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	sram-supply = <&vdd_gpu_mem_s0>;
	status = "okay";
};

&display_subsystem {
	clocks = <&hdptxphy_hdmi0>;
	clock-names = "hdmi0_phy_pll";
};

&hdmi0 {
	// avdd-0v9-supply = 
	// avdd-1v8-supply =
	/* Dmesg error/warning:
	* [  +0.000055] dwhdmi-rockchip fde80000.hdmi: Looking up avdd-0v9-supply from device tree
	* [  +0.000011] dwhdmi-rockchip fde80000.hdmi: Looking up avdd-0v9-supply property in node /hdmi@fde80000 failed
	* [  +0.000014] dwhdmi-rockchip fde80000.hdmi: supply avdd-0v9 not found, using dummy regulator
	* [  +0.000080] dwhdmi-rockchip fde80000.hdmi: Looking up avdd-1v8-supply from device tree
	* [  +0.000010] dwhdmi-rockchip fde80000.hdmi: Looking up avdd-1v8-supply property in node /hdmi@fde80000 failed
	* [  +0.000010] dwhdmi-rockchip fde80000.hdmi: supply avdd-1v8 not found, using dummy regulator
	* [  +0.001009] dwhdmi-rockchip fde80000.hdmi: registered ddc I2C bus driver
	*/
	status = "okay";
};

&hdmi0_in {
	hdmi0_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi0>;
	};
};

&hdptxphy_hdmi0 {
	status = "okay";
};

// /* 4k HDMI capture controller (see rk3588.dtsi) */
// &hdmirx_cma {
// 	status = "okay";
// };

// &hdmirx_ctrler {
// 	status = "okay";
// 	hdmirx-5v-detection-gpios = <&gpio1 RK_PC6 GPIO_ACTIVE_LOW>;
// 	pinctrl-0 = <&hdmim1_rx_cec &hdmim1_rx_hpdin &hdmim1_rx_scl &hdmim1_rx_sda &hdmirx_5v_detection>;
// 	pinctrl-names = "default";
// 	memory-region = <&hdmirx_cma>;
// };

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m2_xfer>;
	status = "okay";

	vdd_cpu_big0_s0: regulator@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_cpu_big0_s0";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc_4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_s0: regulator@43 {
		compatible = "rockchip,rk8603", "rockchip,rk8602";
		reg = <0x43>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_cpu_big1_s0";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc_4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c2 {
	status = "okay";

	vdd_npu_s0: regulator@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_npu_s0";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc_4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c6 {
	clock-frequency = <200000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m0_xfer>;
	status = "okay";

	fusb302: typec-portc@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&usbc0_int>;
		pinctrl-names = "default";
		vbus-supply = <&vbus_5v0_typec>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

				port@0 {
				reg = <0>;
				usbc0_role_sw: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			data-role = "dual";
			label = "USB-C";
			op-sink-microwatt = <1000000>;
			power-role = "dual";
			source-pdos = <PDO_FIXED(5000, 2000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			try-power-role = "sink";

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};

	hym8563: rtc@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-output-names = "hym8563";
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&hym8563_int>;
		wakeup-source;
	};
};

/* Connected with MIPI-CSI1 */
&i2c7 {
	clock-frequency = <200000>;
	status = "okay";

	rt5616: audio-codec@1b {
		compatible = "realtek,rt5616";
		reg = <0x1b>;
		assigned-clocks = <&cru I2S0_8CH_MCLKOUT>;
		assigned-clock-rates = <12288000>;
		clocks = <&cru I2S0_8CH_MCLKOUT>;
		clock-names = "mclk";
		#sound-dai-cells = <0>;

		port {
			rt5616_p0_0: endpoint {
				remote-endpoint = <&i2s0_8ch_p0_0>;
			};
		};
	};
};

/* Connected with Header_2.54MM */
&i2c8 {
	pinctrl-0 = <&i2c8m2_xfer>;
};

&i2s0_8ch {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s0_lrck
				&i2s0_mclk
				&i2s0_sclk
				&i2s0_sdi0
				&i2s0_sdo0>;
	status = "okay";

	i2s0_8ch_p0: port {
		i2s0_8ch_p0_0: endpoint {
			dai-format = "i2s";
			mclk-fs = <256>;
			remote-endpoint = <&rt5616_p0_0>;
		};
	};
};

&i2s5_8ch {
	status = "okay";
};

&i2s6_8ch {
	status = "okay";
};

&i2s7_8ch {
	status = "okay";
};

/* Temperature sensor near the center of the SoC */
&package_thermal {
	polling-delay = <1000>;

	trips {
		package_hot: package_hot {
			hysteresis = <2000>;
			temperature = <65000>;
			type = "active";
		};
	};

	cooling-maps {
		map0 {
			cooling-device = <&fan THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			trip = <&package_hot>;
		};
	};
};

&pcie2x1l0 { // @fe170000
	/* 2. M.2 slot, CON14: pcie30phy port0 lane1 */
	max-link-speed = <3>;
	num-lanes = <1>;
	phys = <&pcie30phy>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_0_rst>;
	reset-gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_pcie30>;
	status = "okay";

	// pcie@0,0 {
	// 	reg = <0x00200000 0 0 0 0>;
	// 	#address-cells = <3>;
	// 	#size-cells = <2>;

	// 	nvme1: pcie@20,0 {
	// 		reg = <0x000000 0 0 0 0>;
	// 	};
	// };
};

&pcie2x1l1 { // @fe180000
	/* 4. M.2 slot, CON16: pcie30phy port1 lane1 */
	max-link-speed = <3>;
	num-lanes = <1>;
	phys = <&pcie30phy>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_1_rst>;
	reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_pcie30>;
	status = "okay";

	// pcie@0,0 {
	// 	reg = <0x00300000 0 0 0 0>;
	// 	#address-cells = <3>;
	// 	#size-cells = <2>;

	// 	nvme3: pcie@30,0 {
	// 		reg = <0x000000 0 0 0 0>;
	// 	};
	// };
};

&pcie2x1l2 { // @fe190000
	/* r8125 ethernet */
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_2_rst>;
	reset-gpios = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_pcie20>;
	status = "okay";

	// pcie@0,0 {
	// 	reg = <0x00400000 0 0 0 0>;
	// 	#address-cells = <3>;
	// 	#size-cells = <2>;

	// 	r8125_u10: pcie@40,0 {
	// 		reg = <0x000000 0 0 0 0>;
	// 		local-mac-address = [ 00 00 00 00 00 00 ];
	// 	};
	// };
};

&pcie30phy {
	/*
	* Michal Tomek describes:
	* The PHY offers the following mapping options:
	* 
	* port 0 lane 0 - always mapped to controller 0 (4L)
 	* port 0 lane 1 - to controller 0 or 2 (1L0)
	* port 1 lane 0 - to controller 0 or 1 (2L)
	* port 1 lane 1 - to controller 0, 1 or 3 (1L1)
	* 
	* The data-lanes DT property maps these as follows:
	* 
	* 0 = no controller (unsupported by the HW)
 	* 1 = 4L
	* 2 = 2L
	* 3 = 1L0
 	* 4 = 1L1
	*
	* <1 3 2 4> = NABIBI = [3 3] = x1x1 x1x1 (bif. of both ports;
	*/
	data-lanes = <1 3 2 4>;
	status = "okay";
};

&pcie3x4 { // @fe150000
	/* 1. M.2 slot, CON13: pcie30phy port0 lane0 */
	max-link-speed = <3>;
	num-lanes = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie3x4_rst>;
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_pcie30>;
	status = "okay";

	// pcie@0,0 {
	// 	reg = <0x00000000 0 0 0 0>;
	// 	#address-cells = <3>;
	// 	#size-cells = <2>;

	// 	nvme0: pcie@0,0 {
	// 		reg = <0x000000 0 0 0 0>;
	// 	};
	// };
};

&pcie3x2 { // @fe160000
	/* 3. M.2 slot, CON15: pcie30phy port1 lane0 */
	max-link-speed = <3>;
	num-lanes = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie3x2_rst>;
	reset-gpios = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_pcie30>;
	status = "okay";

	// pcie@0,0 {
	// 	reg = <0x00100000 0 0 0 0>;
	// 	#address-cells = <3>;
	// 	#size-cells = <2>;

	// 	nvme2: pcie@10,0 {
	// 		reg = <0x000000 0 0 0 0>;
	// 	};
	// };
};

&pinctrl {
	audio {
		headphone_detect: headphone-detect {
			rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio-key {
		key1_pin: key1-pin {
			rockchip,pins = <0 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	gpio-leds {
		led_sys_pin: led-sys-pin {
			rockchip,pins = <2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_usr_pin: led-usr-pin {
			rockchip,pins = <1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pcie {
		pcie2_0_rst: pcie2-0-rst {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie2_1_rst: pcie2-1-rst {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie2_2_rst: pcie2-2-rst {
			rockchip,pins = <4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie3x2_rst: pcie3x2-rst {
			rockchip,pins = <4 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie3x4_rst: pcie3x4-rst {
			rockchip,pins = <4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdmmc {
		sd_s0_pwr: sd-s0-pwr {
			rockchip,pins = <4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb {
		vcc_5v0_host20_en: vcc-5v0-host20-en {
			rockchip,pins = <1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc_5v0_host30_en: vcc-5v0-host30-en {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		vcc_3v3_host32_en: vcc-3v3-host32-en {
			rockchip,pins = <3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb-typec {
		usbc0_int: usbc0-int {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		typec_5v_pwr_en: typec-5v-pwr-en {
			rockchip,pins = <1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm1 {
	pinctrl-0 = <&pwm1m1_pins>;
	status = "okay";
};

/* Connected with MIPI-DSI0 */
&pwm2 {
	pinctrl-0 = <&pwm2m1_pins>;
};

/* GPIO Connector */
&pwm5 {
	pinctrl-0 = <&pwm5m1_pins>;
	status = "okay";
};

&pwm8 {
	pinctrl-0 = <&pwm8m0_pins>;
	status = "okay";
};

/* GPIO Connector */
&pwm9 {
	pinctrl-0 = <&pwm9m0_pins>;
	status = "okay";
};

&saradc {
	vref-supply = <&avcc_1v8_s0>;
	status = "okay";
};

/* eMMC */
&sdhci {
	bus-width = <8>;
	full-pwr-cycle-in-suspend;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sd;
	no-sdio;
	non-removable;
	status = "okay";
};

/* microSD card */
&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	max-frequency = <150000000>;
	no-mmc;
	no-sdio;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_sd_s0>;
	vqmmc-supply = <&vccio_sd_s0>;
	status = "okay";
};

/* GPIO Connector */
&spi1 {
	status = "okay";
};

&spi2 {
	status = "okay";
	assigned-clocks = <&cru CLK_SPI2>;
	assigned-clock-rates = <200000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi2m2_cs0 &spi2m2_pins>;
	num-cs = <1>;

	rk806_single: pmic@0 {
		compatible = "rockchip,rk806";
		reg = <0x0>;

		interrupt-parent = <&gpio0>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&pmic_pins>, <&rk806_dvs1_null>,
			    <&rk806_dvs2_null>, <&rk806_dvs3_null>;
		
		spi-max-frequency = <1000000>;

		system-power-controller;

		vcc1-supply = <&vcc_4v0_sys>;
		vcc2-supply = <&vcc_4v0_sys>;
		vcc3-supply = <&vcc_4v0_sys>;
		vcc4-supply = <&vcc_4v0_sys>;
		vcc5-supply = <&vcc_4v0_sys>;
		vcc6-supply = <&vcc_4v0_sys>;
		vcc7-supply = <&vcc_4v0_sys>;
		vcc8-supply = <&vcc_4v0_sys>;
		vcc9-supply = <&vcc_4v0_sys>;
		vcc10-supply = <&vcc_4v0_sys>;
		vcc11-supply = <&vcc_2v0_pldo_s3>;
		vcc12-supply = <&vcc_4v0_sys>;
		vcc13-supply = <&vcc_1v1_nldo_s3>;
		vcc14-supply = <&vcc_1v1_nldo_s3>;
		vcca-supply = <&vcc_4v0_sys>;

		gpio-controller;
		#gpio-cells = <2>;

		rk806_dvs1_null: dvs1-null-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun0";
		};

		rk806_dvs2_null: dvs2-null-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun0";
		};

		rk806_dvs3_null: dvs3-null-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun0";
		};

		regulators {
			vdd_gpu_s0: vdd_gpu_mem_s0: dcdc-reg1 {
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_gpu_s0";
				regulator-enable-ramp-delay = <400>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_lit_s0: vdd_cpu_lit_mem_s0: dcdc-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_lit_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_log_s0: dcdc-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <750000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_log_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdd_vdenc_s0: vdd_vdenc_mem_s0: dcdc-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_vdenc_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_ddr_s0: dcdc-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <900000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_ddr_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <850000>;
				};
			};

			vdd2_ddr_s3: dcdc-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd2_ddr_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_2v0_pldo_s3: dcdc-reg7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2000000>;
				regulator-max-microvolt = <2000000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_2v0_pldo_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2000000>;
				};
			};

			vcc_3v3_s3: dcdc-reg8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_3v3_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vddq_ddr_s0: dcdc-reg9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vddq_ddr_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s3: dcdc-reg10 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			avcc_1v8_s0: pldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "avcc_1v8_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s0: pldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			avdd_1v2_s0: pldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "avdd_1v2_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_s0: pldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vcc_3v3_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd_s0: pldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vccio_sd_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			pldo6_s3: pldo-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "pldo6_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_0v75_s3: nldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdd_0v75_s3";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdd_ddr_pll_s0: nldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdd_ddr_pll_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <850000>;
				};
			};

			avdd_0v75_s0: nldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "avdd_0v75_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_0v85_s0: nldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdd_0v85_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_0v75_s0: nldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdd_0v75_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

/* GPIO Connector */
&spi4 {
	num-cs = <1>;
	pinctrl-0 = <&spi4m1_cs0 &spi4m1_pins>;
	status = "disabled";
};

&tsadc {
	status = "okay";
};

/* GPIO Connector */
&uart0 {
	pinctrl-0 = <&uart0m0_xfer>;
	status = "disabled";
};

/* Debug UART */
&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};

/* GPIO Connector */
&uart3 {
	pinctrl-0 = <&uart3m1_xfer>;
	status = "disabled";
};

/* GPIO Connector */
&uart4 {
	pinctrl-0 = <&uart4m2_xfer>;
	status = "disabled";
};

/* GPIO Connector */
&uart6 {
	pinctrl-0 = <&uart6m1_xfer>;
	status = "okay";
};

/* GPIO Connector */
&uart7 {
	pinctrl-0 = <&uart7m2_xfer>;
	status = "disabled";
};

/* GPIO Connector */
&uart8 {
	pinctrl-0 = <&uart8m1_xfer>;
	status = "disabled";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	rockchip,typec-vbus-det; /* @TODO Note: This flag is not (yet?) present in Linux 6.9 "Documentation/devicetree/bindings/phy/rockchip,inno-usb2phy.yaml" */
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy1_otg {
	phy-supply = <&vcc_5v0_host_30>;
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy2_host {
	phy-supply = <&vcc_5v0_host_20>;
	status = "okay";
};

&u2phy3 {
	status = "okay";
};

&u2phy3_host {
	phy-supply = <&vcc_3v3_host_32>;
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host0_xhci {
	dr_mode = "otg";
	usb-role-switch;
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		dwc3_0_role_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_role_sw>;
		};
	};
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

/* Upper USB 3.0 port */
&usb_host1_xhci {
	dr_mode = "host";
	snps,xhci-trb-ent-quirk;
	status = "okay";
};

/* Lower USB 3.0 port */
&usb_host2_xhci {
	dr_mode = "host";
	status = "okay";
};

&usbdp_phy0 {
	orientation-switch;
	svid = <0xff01>;
	sbu1-dc-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;
		usbdp_phy0_orientation_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_orien_sw>;
		};

		usbdp_phy0_dp_altmode_mux: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&dp_altmode_mux>;
		};
	};
};

&usbdp_phy1 {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	vp0_out_hdmi0: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi0_in_vp0>;
	};
};

&wdt {
	status = "okay";
};
