Source: xserver-xorg-video-fbturbo
Section: x11
Priority: optional
Maintainer: Vincent LAMAR <vincent@lamar.fr>
Build-Depends:
 debhelper (>= 8),
 dh-autoreconf,
 pkg-config,
 xserver-xorg-dev (>= 2:1.11.99.901),
 x11proto-core-dev,
 x11proto-fonts-dev,
 x11proto-randr-dev,
 x11proto-render-dev,
 x11proto-video-dev,
 xutils-dev (>= 1:7.5+1),
Standards-Version: 3.9.4

Package: xserver-xorg-video-fbturbo
Architecture: any
Depends: 
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
Provides:
 ${xviddriver:Provides}
Description: fbdev display driver optimized for Allwinner SoC 
 This package provides the driver for the Linux framebuffer 
 primarily optimized for the devices powered by the Allwinner SoC 
 It can use some of the 2D/3D hardware
