#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --with-xorg-module-dir="/usr/lib/xorg/modules"

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/xf86-video-fbturbo/etc/X11/xorg.conf.d/
	install -m0644 xorg.conf debian/xf86-video-fbturbo/etc/X11/xorg.conf.d/50-fbturbo.conf

%:
	dh $@ --with autoreconf
