# Armbian firstrun configuration service
# This service will run in parallel with other services

[Unit]
Description=Armbian first run optional user configuration
Wants=network-online.target
After=network.target network-online.target
ConditionPathExists=/boot/armbian_first_run.txt
ConditionPathExists=/root/.not_logged_in_yet

[Service]
Type=idle
RemainAfterExit=yes
ExecStart=/usr/lib/armbian/armbian-firstrun-config
TimeoutStartSec=2min

[Install]
WantedBy=multi-user.target
