if TARGET_HELIOS64

config SYS_BOARD
	default "helios64"

config SYS_VENDOR
	default "kobol"

config SYS_CONFIG_NAME
	default "helios64"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

config ENV_SECT_SIZE
	default 0x1000 if ENV_IS_IN_SPI_FLASH

config ENV_SIZE
	default 0x8000

config ENV_OFFSET
	default 0x460000 if ENV_IS_IN_SPI_FLASH

endif
