// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyelec.com)
 */

/dts-v1/;

#include "rk3528-nanopi-common.dtsi"

/ {
	model = "FriendlyElec NanoPi Zero2";
	compatible = "friendlyelec,nanopi-zero2", "rockchip,rk3528";

	leds: gpio-leds {
		compatible = "gpio-leds";

		sys_led: led-0 {
			gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
			label = "sys_led";
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&sys_led_pin>;
		};

		user_led: led-1 {
			gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
			label = "user_led";
			pinctrl-names = "default";
			pinctrl-0 = <&user_led_pin>;
		};
	};

	adc_keys: adc-keys {
		status = "okay";
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		back-key {
			label = "back";
			linux,code = <KEY_BACK>;
			press-threshold-microvolt = <1750>;
		};
	};

	adc2_keys: adc2-keys {
		status = "okay";
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <1750>;
		};
	};
};

&mach {
    hwrev = <1>;
    model = "NanoPi Zero2";
};

&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio4 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x30>;
	/* rx_delay = <0x3f>; */

	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_miim
		     &rgmii_tx_bus2
		     &rgmii_rx_bus2
		     &rgmii_rgmii_clk
		     &rgmii_rgmii_bus
		     &eth_pins>;

	phy-handle = <&rgmii_phy>;
	status = "okay";
};

&mdio1 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		realtek,ledsel = <0xae00>;
	};
};

&pcie2x1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pciem1_pins>;
	reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
	resets = <&cru SRST_RESETN_PCIE_POWER_UP>, <&cru SRST_PRESETN_PCIE>;
	reset-names = "pcie", "periph";
	rockchip,skip-scan-in-resume;
	status = "okay";
};

&combphy_pu {
	status = "okay";
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m0_xfer>;

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		pinctrl-names = "default";
		pinctrl-0 = <&rtc_int>;

		interrupt-parent = <&gpio4>;
		interrupts = <RK_PC1 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
	};
};

&pciem1_pins {
	rockchip,pins =
		/* pcie_clkreqn_m1 */
		<1 RK_PA0 4 &pcfg_pull_none>,
		/* pcie_waken_m1 */
		<1 RK_PA1 4 &pcfg_pull_none>,
		/* pcie_reset_gpio */
		<1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
};

&pinctrl {
	leds {
		sys_led_pin: sys-led-pin {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		user_led_pin: user-led-pin {
			rockchip,pins = <4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hym8563 {
		rtc_int: rtc-int {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
