// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588-evb7-lp4.dtsi"
#include "rk3588-evb7-imx415.dtsi"
#include "rk3588-linux.dtsi"

/ {
	model = "Shimeta Aiot rk3588a";
	compatible = "rockchip,rk3588-aiot-rk3588a", "rockchip,rk3588";
};

&dp0 {
	status = "disabled";
};

&dp1 {
	status = "disabled";
};

&edp0 {
	status = "okay";
};

&edp1 {
	status = "disabled";
};

&pcie2x1l0 {
	reset-gpios = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;
	status = "disabled";
};

&pcie30phy {
	rockchip,pcie30-phymode = <PHY_MODE_PCIE_AGGREGATION>;
	status = "okay";
};

&pcie3x4 {
	reset-gpios = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie30x4_clkreqn_m1>;
	status = "okay";
};
