// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588-evb7-lp4.dtsi"
#include "rk3588-android.dtsi"

/ {
	model = "Shimeta AIoT RK3588A V1.3";
	compatible = "rockchip,rk3588-aiot-rk3588a-v1.3", "rockchip,rk3588";

	/delete-node/ chosen;
	/delete-node/ leds;

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfeb50000 console=ttyFIQ0 irqchip.gicv3_pseudo_nmi=0";
	};

	reserved-memory {
                #address-cells = <2>;
                #size-cells = <2>;
                ranges;

                /* 必须添加：保护 OP-TEE v1.20 的内存不被 U-Boot 或 Kernel 覆盖 */
                optee@8400000 {
                    reg = <0x0 0x08400000 0x0 0x02000000>;
                    no-map;
                };
        };

	gpio_leds: gpio-leds {
		compatible = "gpio-leds";
		led_work_heartbeat: work_heartbeat {
			linux,default-trigger = "heartbeat";
			gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		};
		red_led: red_led {
			linux,default-trigger = "none";
			gpios = <&nca9555 4 GPIO_ACTIVE_HIGH>;
		};
	};

	panel-edp0 {
		compatible = "BOE NV116FHB-N81";
		status = "okay";
		connector-type = <15>;  // 添加这一行 (15 代表 eDP)
		backlight = <&backlight>;
		power-supply = <&vcc3v3_lcd_edp>;
		prepare-delay-ms = <120>;
		enable-delay-ms = <120>;
		unprepare-delay-ms = <120>;
		disable-delay-ms = <120>;
		width-mm = <129>;  // 0x81
		height-mm = <171>; // 0xab

		panel-timing {
			/* 提升到标准频率 */
			clock-frequency = <148500000>;
			hactive = <1920>;      // 0x780
			vactive = <1080>;      // 0x438
			/* 水平总和：1920 + 88 + 44 + 148 = 2200 */
			hfront-porch = <88>;
			hsync-len = <44>;
			hback-porch = <148>;
			/* 垂直总和：1080 + 4 + 5 + 36 = 1125 */
			vfront-porch = <4>;   // 建议改小，匹配标准 1080p 序列
			vsync-len = <5>;      // 建议 5
			vback-porch = <36>;   // 建议 36
			/* 计算：148,500,000 / (2200 * 1125) = 刚好 60.00Hz */
		};

		port {
			panel_in_edp0: endpoint {
				remote-endpoint = <&edp0_out_panel>;
			};
		};
	};

	vcc3v3_lcd_edp: vcc3v3-lcd-edp {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd_edp";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc3v3_edp_phy: vcc3v3-edp-phy {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_edp_phy";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		gpio = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&backlight_edp>;
		vin-supply = <&vcc_3v3_s3>;
	};

	vbus5v0_typec: vbus5v0-typec {
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_host>;
		pinctrl-names = "default";
		pinctrl-0 = <&typec5v_pwren>;
	};

	vcc5v0_peripherals:vcc5v0-peripherals {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_peripherals";
		regulator-boot-on;
		regulator-always-on;
		gpio = <&gpio1 RK_PB3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_host>;
	};

	vcc5v0_usb0:vcc5v0-usb0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb0";
		regulator-always-on;
		regulator-boot-on;
		gpio = <&nca9555 0 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_peripherals>;
	};


	vcc5v0_usb2: vcc5v0-usb2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb2";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
		gpio = <&nca9555 1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_peripherals>;
	};

	vcc5v0_usb1: vcc5v0-usb1 {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
		gpio = <&nca9555 7 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_peripherals>;
	};

	vcc5v0_usbdcin:vcc5v0-usbdcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usbdcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x4c4b40>;
		regulator-max-microvolt = <0x4c4b40>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc12v_dcin:vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0xb71b00>;
		regulator-max-microvolt = <0xb71b00>;
	};

	vcc_3v3_lt8668_s0_regulator:vcc-3v3-lt8668-s0-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_lt8668_s0";
		pinctrl-names = "default";
		pinctrl-0 = <&lt8668_pwr>;
		gpio = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&vcc_3v3_s3>;
	};

	test-power {
		status = "okay";
	};
};

&icm42607_acc {
	status = "disabled";
};

&vcc5v0_host {
	gpio = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&vcc5v0_peripherals_en>;
};

&vcc_mipidcphy0 {
	status = "disabled";
	/delete-property/ enable-active-high;
	/delete-property/ gpio;
	/delete-property/ pinctrl-names ;
	/delete-property/ pinctrl-0;
};

&vcc3v3_pcie30 {
	gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
	regulator-always-on;
	regulator-boot-on;
};

&vcc3v3_lcd_n {
	/delete-property/ gpio;
};

&wireless_bluetooth{
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart9m0_rtsn>, <&bt_reset_gpio>, <&bt_wake_gpio>, <&bt_irq_gpio>;
		pinctrl-1 = <&uart9_gpios_fix>;
};


&pinctrl {

	/* 蓝牙相关引脚定义 */
	wireless-bluetooth {
		uart9_gpios_fix: uart9-gpios {
			rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};


	headphone {
		hp_det_fix:hp-det-fix {
			rockchip,pins = <4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	smdtio {
		smdtio_gpio:smdtio-gpio {
			rockchip,pins = <1 0x16 RK_FUNC_GPIO &pcfg_pull_up>,
					<1 0x08 RK_FUNC_GPIO &pcfg_pull_up>,
					<1 0x0d RK_FUNC_GPIO &pcfg_pull_up>,
					<1 0x0c RK_FUNC_GPIO &pcfg_pull_up>,
					<4 0x0a RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb-typec {
		usbc0_int: usbc0-int {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		typec5v_pwren: typec5v-pwren {
			rockchip,pins =
				<4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb {
		vcc5v0_peripherals_en: vcc5v0-peripherals-en {
			rockchip,pins =
				<3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lt8668 {
		lt8668_pwr:lt8668-pwr {
			rockchip,pins = <4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	backlight {
		backlight_edp: backlight-edp {
			rockchip,pins = <2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	panel {
		panel_en_pin: panel-en-pin {
			/* 将 GPIO4_A2 配置为无上下拉的 GPIO 功能 */
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
/** 关闭这个节点防止冲突 */
&gt1x {
	status = "disabled";
};

/** 修改成为正确的GPIO */
&es8388_sound {
	/delete-property/ hp-con-gpio;
	pinctrl-names = "default";
	pinctrl-0 = <&hp_det_fix>;
	hp-stat = <0>;
	spk-con-gpio = <&gpio4 RK_PA3 GPIO_ACTIVE_LOW>;
	hp-det-gpio = <&gpio4 RK_PC2 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hym8563 {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	/delete-property/ interrupt-parent;
	/delete-property/ interrupts;
};

&gmac1 {
	snps,reset-gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
};

&i2c6 {
	status = "okay";

	nca9555: nca9555@20  {
		reg = <0x20>;
		compatible = "nxp,pca9555";
		status = "okay";
		gpio-controller;
		vcc-supply = <&vcc_3v3_s0>;
		#gpio-cells = <2>;
	};

	mcuinf: mcuinf@62 {
		compatible = "smdtmcu,STM8S00K3";
		status = "okay";
		int-gpio = <&gpio0 0x08 0x04>;
		reg = <0x62>;
		#pwm-cells = <2>;
	};

	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD3 IRQ_TYPE_EDGE_FALLING>;
		int-n-gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				usbc0_role_sw: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 2000, PDO_FIXED_USB_COMM)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};

};

&usbdrd_dwc3_0 {
	dr_mode = "otg";
	usb-role-switch;
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;
		dwc3_0_role_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_role_sw>;
		};
	};
};

&usbdp_phy0 {
	orientation-switch;
	rockchip,dp-lane-mux = <0 1 2 3 >;
	svid = <0xff01>;
	sbu1-dc-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;
		usbdp_phy0_orientation_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_orien_sw>;
		};

		usbdp_phy0_dp_altmode_mux: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&dp_altmode_mux>;
		};
	};
};

&usbdp_phy0_dp {
	status = "okay";
};

&usbdp_phy0_u3 {
	status = "okay";
};

&dp0 {
	status = "disabled";
};


/** HDMI 0 不使用 */
&hdmi0 {
	status = "disabled";
};

&route_hdmi0 {
	status = "disabled";
};


&hdptxphy_hdmi0 {
	status = "disabled";
};

&hdmi0_sound {
	status = "disabled";
};

&hdmi0_in_vp0 {
	status = "disabled";
};

&hdmi1 {
	enable-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
	status = "okay";
};


&route_hdmi1 {
	status = "okay";
};

&dp1 {
	status = "disabled";
};

&vop {
    assigned-clocks = <&cru DCLK_VOP0>;
    /* 强制 DCLK_VOP0 使用 GPLL */
    assigned-clock-parents = <&cru PLL_GPLL>;
};

&edp0 {
	force-hpd;
	power-supply = <&vcc3v3_edp_phy>;
	status = "okay";
	ports {
		port@0 {
			reg = <0>;

			edp0_out_panel: endpoint {
				remote-endpoint = <&panel_in_edp0>;
			};
		};
	};
};

&pwm1 {
	pinctrl-0 = <&pwm1m0_pins>;
	status = "okay";
};

&fan {
	status = "okay";
	compatible = "pwm-fan";
	#cooling-cells = <2>;
	pwms = <&pwm12 0 50000 0>;
	cooling-levels = <0 50 100 150 200 255>;
	rockchip,temp-trips = <
		50000	1
		55000	2
		60000	3
		65000	4
		70000	5
	>;
};


&pwm12 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm12m1_pins>;
	status = "okay";
};

&pwm15 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm15m1_pins>;
	status = "okay";
};

&pwm7 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm7m3_pins>;
	status = "okay";
};

&pwm3 {
	pinctrl-names = "active";
	pinctrl-0 = <&pwm3m3_pins>;
	status = "okay";
};


&backlight {
	backlight_delayms = <10>;        /* 0x0a = 10ms */
	type = "pwm";
	pwms = <&pwm1 0 25000 0>;         /* 0x61a8 = 25000 ns (即 40kHz) */
	enable-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
	status = "okay";
	power-supply = <&vcc3v3_lcd_edp>;

};

&edp1 {
	status = "disabled";
};

&edp0_in_vp0 {
	status = "okay";
};

&route_edp0 {
	connect = <&vp0_out_edp0>;
	status = "okay";
};

&hdptxphy0 {
	status = "okay";
};

&dp0_in_vp2 {
	status = "disabled";
};

&dp1_in_vp2 {
	status = "disabled";
};

&dsi0 {
	status = "disabled";
};

&uart7{
	pinctrl-0 = <&uart7m0_xfer>;
	status = "okay";
};

&uart8{
	pinctrl-0 = <&uart8m0_xfer>;
	status = "okay";
};

/** not pcie
 **
 **/

&pcie2x1l0 {
	status = "disabled";
};

&pcie30phy {
	status = "disabled";
};

&pcie3x4 {
	status = "disabled";
};

&u2phy1_otg {
	vbus-supply = <&vbus5v0_typec>;
	status = "okay";
};

&u2phy2_host {
	status = "okay";
};

&u2phy3_host {
	status = "okay";
};

&usbhost3_0{
	status = "okay";
};

&usbhost_dwc3_0 {
	status = "okay";
};

&i2c2 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

&i2c4 {
	status = "disabled";
};

&i2s5_8ch{
	status = "disabled";
};
