[Desktop Entry]
Version=1.0
Type=Application
Name=Config
Comment=Basic system settings
Exec=sudo armbian-config
Icon=system-settings
Path=
Terminal=true
StartupNotify=false