[Desktop Entry]
Version=1.0
Type=Link
Name=Donate
Comment=
Icon=/usr/share/icons/Vibrancy-Colors/apps/64/web-paypal.png
URL=https://www.armbian.com/donate
GenericName=Support development
