#-----------------------------------------#
check_interval=5        # Cycle to detect whether wifi is connected, time 5s

eth=eth0        # Ethernet card device number
wlan=wlan0      # Wireless NIC device number

#hostname="BTT-CB2"

###########################################
# System time zone setting, default Time zone: Etc/UTC (UTC, +0000)
# More settable time zones can be viewed by running the command: timedatectl list-timezones 
#TimeZone="Asia/Shanghai"

###########################################
## klipperScreen Target Screen
## ks_src: "HDMI-1", "DSI-1", "TFT35"
#ks_src="HDMI-1"

## ks_angle: Rotation angle
##       normal: 0; inverted: 180;
##       right: 270; left: 90;
#ks_angle="normal"

###########################################
# wifi name
WIFI_SSID="ZYIPTest"
# wifi password
WIFI_PASSWD="12345678"

###########################################
# BTT-PAD7 (ON/OFF)
BTT_PAD7="OFF"
# touch vibration effects
TOUCH_VIBRATION="OFF"
# touch sound effects
TOUCH_SOUND="OFF"
# Automatic brightness adjustment
AUTO_BRIGHTNESS="OFF"
###########################################
