[Desktop Entry]
Version=1.0
Type=Link
Name=Donate
Comment=Support making
Icon=application-community
URL=https://www.armbian.com/donate
GenericName=Support development
Categories=GTK;GNOME;X-Xfce-Toplevel;