// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 BayLibre SAS. All rights reserved.
 * Copyright (c) 2020 Christian Hewitt <christianshewitt@gmail.com>
 * Copyright (c) 2021 flippy <uniqfreq@gmail.com>
 */

/dts-v1/;

#include "meson-sm1-ac2xx.dtsi"
#include <dt-bindings/sound/meson-g12a-tohdmitx.h>

/ {
	compatible = "amlogic,sm1";
	model = "Ugoos X3";

	aliases {
		rtc0 = &rtc;
		rtc1 = &vrtc;
		mmc0 = &sd_emmc_a;
		mmc1 = &sd_emmc_b;
		mmc2 = &sd_emmc_c;
	};

	leds {
		compatible = "gpio-leds";

		red_led {
			label = "red";
			gpios = <&gpio_ao GPIOAO_10 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		blue_led {
			label = "blue";
			gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	sound {
		compatible = "amlogic,axg-sound-card";
		model = "UGOOS-X3";
		audio-aux-devs = <&tdmout_b>;
		audio-routing = "TDMOUT_B IN 0", "FRDDR_A OUT 1",
				"TDMOUT_B IN 1", "FRDDR_B OUT 1",
				"TDMOUT_B IN 2", "FRDDR_C OUT 1",
				"TDM_B Playback", "TDMOUT_B OUT";

		assigned-clocks = <&clkc CLKID_MPLL2>,
				  <&clkc CLKID_MPLL0>,
				  <&clkc CLKID_MPLL1>;
		assigned-clock-parents = <0>, <0>, <0>;
		assigned-clock-rates = <294912000>,
				       <270950400>,
				       <393216000>;
		status = "okay";

		dai-link-0 {
			sound-dai = <&frddr_a>;
		};

		dai-link-1 {
			sound-dai = <&frddr_b>;
		};

		dai-link-2 {
			sound-dai = <&frddr_c>;
		};

		/* 8ch hdmi interface */
		dai-link-3 {
			sound-dai = <&tdmif_b>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			dai-tdm-slot-tx-mask-1 = <1 1>;
			dai-tdm-slot-tx-mask-2 = <1 1>;
			dai-tdm-slot-tx-mask-3 = <1 1>;
			mclk-fs = <256>;

			codec {
				sound-dai = <&tohdmitx TOHDMITX_I2S_IN_B>;
			};
		};

		/* hdmi glue */
		dai-link-4 {
			sound-dai = <&tohdmitx TOHDMITX_I2S_OUT>;

			codec {
				sound-dai = <&hdmi_tx>;
			};
		};
	};

	vddgpu: regulator-vddgpu {
		compatible = "regulator-fixed";
		regulator-name = "mali";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		vin-supply = <&ao_5v>;
		regulator-always-on;
	};

	usb_pwr_en: regulator-usb-pwr-en {
		compatible = "regulator-fixed";
		regulator-name = "USB_PWR_EN";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&ao_5v>;

		gpio = <&gpio GPIOH_5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&vddcpu {
	regulator-min-microvolt = <721000>;
	regulator-max-microvolt = <1022000>;
	pwms = <&pwm_AO_cd 1 1250 0>;
};

&arb {
	status = "okay";
};

&clkc_audio {
	status = "okay";
};

&ethmac {
	status = "okay";

	pinctrl-0 = <&eth_pins>, <&eth_rgmii_pins>;
	pinctrl-names = "default";
	phy-mode = "rgmii-txid";
	phy-handle = <&external_phy>;

	rx-internal-delay-ps = <800>;

	snps,aal;
	snps,rxpbl = <0x8>;
	snps,txpbl = <0x8>;

	rx-fifo-depth = <4096>;
	tx-fifo-depth = <4096>;

	nvmem-cells = <&eth_mac>;
	nvmem-cell-names = "eth_mac";
};

&ext_mdio {
	external_phy: ethernet-phy@0 {
		/* Realtek RTL8211F (0x001cc916) */
		reg = <0>;
		max-speed = <1000>;

		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		reset-gpios = <&gpio GPIOZ_15 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;

		interrupt-parent = <&gpio_intc>;
		/* MAC_INTR on GPIOZ_14 */
		interrupts = <IRQID_GPIOZ_14 IRQ_TYPE_LEVEL_LOW>;
	};
};

&frddr_a {
	status = "okay";
};

&frddr_b {
	status = "okay";
};

&frddr_c {
	status = "okay";
};

&tdmif_b {
	status = "okay";
};

&tdmout_b {
	status = "okay";
};

&tohdmitx {
	status = "okay";
};

&uart_A {
	status = "okay";

	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
		clock-names = "lpo";
	};
};

&mali {
	mali-supply=<&vddgpu>;
};

&usb {
	dr_mode = "host";
	vbus-supply = <&usb_pwr_en>;
};

&usb2_phy0 {
	phy-supply = <&ao_5v>;
};

&usb2_phy1 {
	phy-supply = <&ao_5v>;
};

&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3_sda_a_pins>, <&i2c3_sck_a_pins>;
	pinctrl-names = "default";

	rtc: rtc@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		wakeup-source;

		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
	};
};

/* SDIO */
&sd_emmc_a {
	/delete-property/ sd-uhs-sdr104;
	sd-uhs-sdr50;
	max-frequency = <100000000>;

        //sd-uhs-ddr50;
	//max-frequency = <50000000>;

	//sd-uhs-sdr104;
	//max-frequency = <200000000>;
};

/* SD card */
&sd_emmc_b {
	cap-sd-highspeed;
	max-frequency = <100000000>;
};

/* eMMC */
&sd_emmc_c {
	max-frequency = <200000000>;
};

&cpu_opp_table {
	opp-2016000000 {
		opp-hz = /bits/ 64 <2016000000>;
		opp-microvolt = <1000000>;
	};
};

&efuse {
	eth_mac: eth_mac@0 {
		reg = <0x0 0x06>;
	};

	bt_mac: bt_mac@6 {
		reg = <0x6 0x06>;
	};

	wifi_mac: wifi_mac@12 {
		reg = <0x0c 0x06>;
	};

	usid: usid@18 {
		reg = <0x12 0x10>;
	};
};
/*
&openvfd {
	status = "disabled";
};
*/