Source: ffmpeg
Section: video
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Andreas Cadhalpun <Andreas.Cadhalpun@googlemail.com>,
 Alexander Strasser <eclipse7@gmx.net>,
 Reinhard Tartler <siretart@tauware.de>,
 Balint Reczey <balint@balintreczey.hu>
Homepage: https://ffmpeg.org/
Standards-Version: 3.9.7
Vcs-Git: https://anonscm.debian.org/git/pkg-multimedia/ffmpeg.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-multimedia/ffmpeg.git
Build-Depends-Indep:
Build-Depends:
# needed for dh
 debhelper (>= 9.20141010),
# for build-profile support
 dpkg-dev (>= 1.17.14),
# --enable-libflite
 flite1-dev,
# --enable-frei0r
 frei0r-plugins-dev <!stage1>,
# --enable-ladspa
 ladspa-sdk,
# --enable-libass
 libass-dev,
# --enable-libbluray
 libbluray-dev,
# --enable-libbs2b
 libbs2b-dev,
# autodetected: external library 'bzlib'
 libbz2-dev,
# --enable-libcaca
 libcaca-dev,
# --enable-libcdio
 libcdio-paranoia-dev,
# --enable-libdc1394
 libdc1394-22-dev [linux-any],
# --enable-libfontconfig
 libfontconfig1-dev,
# --enable-libfreetype
 libfreetype6-dev,
# --enable-fribidi
 libfribidi-dev,
# --enable-libgme
 libgme-dev,
# --enable-gnutls
 libgnutls28-dev | libgnutls-dev,
# --enable-libgsm
 libgsm1-dev,
# Fails to be detected by configure script, if not also libavc1394-dev is installed.
# --enable-libiec61883
 libiec61883-dev [linux-any],
 libavc1394-dev [linux-any],
# autodetected for the tiff decoder
 liblzma-dev,
# --enable-libmodplug
 libmodplug-dev,
# --enable-libmp3lame
 libmp3lame-dev,
# --enable-libopencv
 libopencv-dev [!sh4 !sparc64] <!stage1>,
# --enable-libopenjpeg
 libopenjpeg-dev,
# --enable-libopus
 libopus-dev,
# --enable-libpulse
 libpulse-dev,
# --enable-librtmp
 librtmp-dev,
# --enable-libschroedinger
 libschroedinger-dev,
# autodetected: protocol 'sctp'
 libsctp-dev [linux-any],
# autodetected: SDL support
 libsdl-dev,
# --enable-libshine
 libshine-dev (>= 3.0.0),
# --enable-libsnappy
 libsnappy-dev,
# --enable-libsoxr
 libsoxr-dev,
# --enable-libspeex
 libspeex-dev,
# --enable-libssh
 libssh-gcrypt-dev,
# --enable-libtheora
 libtheora-dev,
# --enable-libtwolame
 libtwolame-dev,
# autodetected: hwaccels 'h263_vaapi, mpeg2_vaapi, vc1_vaapi, h264_vaapi, mpeg4_vaapi, wmv3_vaapi'
 libva-dev [!hurd-any],
# autodetected: hwaccels 'h263_vdpau, mpeg2_vdpau, vc1_vdpau, h264_vdpau, mpeg4_vdpau, wmv3_vdpau, mpeg1_vdpau', decoders 'h264_vdpau, mpeg1_vdpau, mpeg4_vdpau, mpeg_vdpau, vc1_vdpau, wmv3_vdpau'
 libvdpau-dev,
# --enable-libvorbis
 libvorbis-dev,
# --enable-libvpx
 libvpx-dev,
# --enable-libwavpack
 libwavpack-dev,
# --enable-libwebp
 libwebp-dev,
# --enable-libx264
 libx264-dev [!sparc64] <!stage1>,
# --enable-libx265
 libx265-dev,
# --enable-x11grab
 libxext-dev,
# --enable-libxvid
 libxvidcore-dev,
# autodetected: decoder 'mpeg_xvmc'; outdev 'xv'
 libxvmc-dev,
# --enable-libzmq
 libzmq3-dev [!hurd-any],
# --enable-libzvbi
 libzvbi-dev,
# used to detect libraries
 pkg-config,
# assembler optimizations
 yasm

Package: ffmpeg
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Suggests:
 ffmpeg-doc
Breaks: libav-tools (<< 6:12~~),
 qt-faststart (<< 7:2.7.1-3~)
Replaces: libav-tools (<< 6:12~~),
 qt-faststart (<< 7:2.7.1-3~)
Description: Tools for transcoding, streaming and playing of multimedia files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This package contains:
  * ffmpeg: a command line tool to convert multimedia files between formats
  * ffserver: a multimedia streaming server for live broadcasts
  * ffplay: a simple media player based on SDL and the FFmpeg libraries
  * ffprobe: a simple multimedia stream analyzer
  * qt-faststart: a utility to rearrange Quicktime files

Package: libavcodec-ffmpeg56
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: libavutil-ffmpeg54 (>= 8:0)
Description: FFmpeg library with de/encoders for audio/video codecs - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides a generic encoding/decoding framework and
 contains multiple decoders and encoders for audio, video and subtitle streams,
 and several bitstream filters.
 .
 The shared architecture provides various services ranging from bit stream I/O
 to DSP optimizations, and makes it suitable for implementing robust and fast
 codecs as well as for experimentation.
 .
 This package contains the runtime files.

Package: libavcodec-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts:
 libavcodec-libav-dev
Depends:
 libavcodec-ffmpeg56 (= ${binary:Version}),
 libavutil-dev (= ${binary:Version}),
 libswresample-dev (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg library with de/encoders for audio/video codecs - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides a generic encoding/decoding framework and
 contains multiple decoders and encoders for audio, video and subtitle streams,
 and several bitstream filters.
 .
 The shared architecture provides various services ranging from bit stream I/O
 to DSP optimizations, and makes it suitable for implementing robust and fast
 codecs as well as for experimentation.
 .
 This package contains the development files.

Package: libavdevice-ffmpeg56
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: libavutil-ffmpeg54 (>= 8:0)
Description: FFmpeg library for handling input and output devices - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides a generic framework for grabbing from and rendering to
 many common multimedia input/output devices, and supports several input and
 output devices, including Video4Linux2, VfW, DShow, and ALSA.
 .
 This package contains the runtime files.

Package: libavdevice-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts:
 libavdevice-libav-dev
Depends:
 libavcodec-dev (= ${binary:Version}),
 libavdevice-ffmpeg56 (= ${binary:Version}),
 libavfilter-dev (= ${binary:Version}),
 libavformat-dev (= ${binary:Version}),
 libavresample-dev (= ${binary:Version}),
 libavutil-dev (= ${binary:Version}),
 libpostproc-dev (= ${binary:Version}),
 libswscale-dev (= ${binary:Version}),
 libswresample-dev (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg library for handling input and output devices - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides a generic framework for grabbing from and rendering to
 many common multimedia input/output devices, and supports several input and
 output devices, including Video4Linux2, VfW, DShow, and ALSA.
 .
 This package contains the development files.

Package: libavfilter-ffmpeg5
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: libavutil-ffmpeg54 (>= 8:0)
Description: FFmpeg library containing media filters - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides a generic audio/video filtering framework containing
 several filters, sources and sinks.
 .
 This package contains the runtime files.

Package: libavfilter-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts:
 libavfilter-libav-dev
Depends:
 libavcodec-dev (= ${binary:Version}),
 libavfilter-ffmpeg5 (= ${binary:Version}),
 libavformat-dev (= ${binary:Version}),
 libavresample-dev (= ${binary:Version}),
 libavutil-dev (= ${binary:Version}),
 libpostproc-dev (= ${binary:Version}),
 libswresample-dev (= ${binary:Version}),
 libswscale-dev (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg library containing media filters - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides a generic audio/video filtering framework containing
 several filters, sources and sinks.
 .
 This package contains the development files.

Package: libavformat-ffmpeg56
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: libavutil-ffmpeg54 (>= 8:0)
Description: FFmpeg library with (de)muxers for multimedia containers - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides a generic framework for multiplexing and demultiplexing
 (muxing and demuxing) audio, video and subtitle streams. It encompasses
 multiple muxers and demuxers for multimedia container formats. It also
 supports several input and output protocols to access a media resource.
 .
 This package contains the runtime files.

Package: libavformat-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts:
 libavformat-libav-dev
Depends:
 libavcodec-dev (= ${binary:Version}),
 libavformat-ffmpeg56 (= ${binary:Version}),
 libavutil-dev (= ${binary:Version}),
 libswresample-dev (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg library with (de)muxers for multimedia containers - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides a generic framework for multiplexing and demultiplexing
 (muxing and demuxing) audio, video and subtitle streams. It encompasses
 multiple muxers and demuxers for multimedia container formats. It also
 supports several input and output protocols to access a media resource.
 .
 This package contains the development files.

Package: libavresample-ffmpeg2
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: libavutil-ffmpeg54 (>= 8:0)
Description: FFmpeg compatibility library for resampling - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library is provided for compatibility reasons only.
 The FFmpeg project advises to use libswresample instead.
 .
 This package contains the runtime files.

Package: libavresample-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts:
 libavresample-libav-dev
Depends:
 libavutil-dev (= ${binary:Version}),
 libavresample-ffmpeg2 (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg compatibility library for resampling - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library is provided for compatibility reasons only.
 The FFmpeg project advises to use libswresample instead.
 .
 This package contains the development files.

Package: libavutil-ffmpeg54
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: FFmpeg library with functions for simplifying programming - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library is a utility library to aid portable multimedia programming.
 It contains safe portable string functions, random number generators, data
 structures, additional mathematics functions, cryptography and multimedia
 related functionality (like enumerations for pixel and sample formats).
 It is not a library for code needed by both libavcodec and libavformat.
 The goal for this library is to be modular, small, efficient and useful.
 .
 This package contains the runtime files.

Package: libavutil-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts:
 libavutil-libav-dev
Depends:
 libavutil-ffmpeg54 (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg library with functions for simplifying programming - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library is a utility library to aid portable multimedia programming.
 It contains safe portable string functions, random number generators, data
 structures, additional mathematics functions, cryptography and multimedia
 related functionality (like enumerations for pixel and sample formats).
 It is not a library for code needed by both libavcodec and libavformat.
 The goal for this library is to be modular, small, efficient and useful.
 .
 This package contains the development files.

Package: libpostproc-ffmpeg53
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: libavutil-ffmpeg54 (>= 8:0)
Description: FFmpeg library for post processing - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides video post processing.
 .
 This package contains the runtime files.

Package: libpostproc-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts:
 libpostproc-libav-dev
Depends:
 libavutil-dev (= ${binary:Version}),
 libpostproc-ffmpeg53 (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg library for post processing - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides video post processing.
 .
 This package contains the development files.

Package: libswresample-ffmpeg1
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: libavutil-ffmpeg54 (>= 8:0)
Description: FFmpeg library for audio resampling, rematrixing etc. - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides performs highly optimized audio resampling, rematrixing
 and sample format conversion operations.
 Specifically, this library performs the following conversions:
  * Resampling is the process of changing the audio rate, for example from a
    high sample rate of 44100Hz to 8000Hz. Audio conversion from high to low
    sample rate is a lossy process. Several resampling options and algorithms
    are available.
  * Rematrixing is the process of changing the channel layout, for example from
    stereo to mono. When the input channels cannot be mapped to the output
    streams, the process is lossy, since it involves different gain factors
    and mixing. Various other audio conversions (e.g. stretching and padding)
    are enabled through dedicated options.
  * Format conversion is the process of converting the type of samples, for
    example from 16-bit signed samples to unsigned 8-bit or float samples.
    It also handles packing conversion, when passing from packed layout (all
    samples belonging to distinct channels interleaved in the same buffer), to
    planar layout (all samples belonging to the same channel stored in a
    dedicated buffer or "plane").
 .
 This package contains the runtime files.

Package: libswresample-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends:
 libavutil-dev (= ${binary:Version}),
 libswresample-ffmpeg1 (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg library for audio resampling, rematrixing etc. - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library provides performs highly optimized audio resampling, rematrixing
 and sample format conversion operations.
 Specifically, this library performs the following conversions:
  * Resampling is the process of changing the audio rate, for example from a
    high sample rate of 44100Hz to 8000Hz. Audio conversion from high to low
    sample rate is a lossy process. Several resampling options and algorithms
    are available.
  * Rematrixing is the process of changing the channel layout, for example from
    stereo to mono. When the input channels cannot be mapped to the output
    streams, the process is lossy, since it involves different gain factors
    and mixing. Various other audio conversions (e.g. stretching and padding)
    are enabled through dedicated options.
  * Format conversion is the process of converting the type of samples, for
    example from 16-bit signed samples to unsigned 8-bit or float samples.
    It also handles packing conversion, when passing from packed layout (all
    samples belonging to distinct channels interleaved in the same buffer), to
    planar layout (all samples belonging to the same channel stored in a
    dedicated buffer or "plane").
 .
 This package contains the development files.

Package: libswscale-ffmpeg3
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: libavutil-ffmpeg54 (>= 8:0)
Description: FFmpeg library for image scaling and various conversions - runtime files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library performs highly optimized image scaling and colorspace and pixel
 format conversion operations.
 Specifically, this library performs the following conversions:
  * Rescaling is the process of changing the video size. Several rescaling
    options and algorithms are available. This is usually a lossy process.
  * Pixel format conversion is the process of converting the image format and
    colorspace of the image, for example from planar YUV420P to RGB24 packed.
    It also handles packing conversion, that is converts from packed layout
    (all pixels belonging to distinct planes interleaved in the same buffer),
    to planar layout (all samples belonging to the same plane stored in a
    dedicated buffer or "plane"). This is usually a lossy process in case the
    source and destination colorspaces differ.
 .
 This package contains the runtime files.

Package: libswscale-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Conflicts:
 libswscale-libav-dev
Depends:
 libavutil-dev (= ${binary:Version}),
 libswscale-ffmpeg3 (= ${binary:Version}),
 ${misc:Depends}
Description: FFmpeg library for image scaling and various conversions - development files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This library performs highly optimized image scaling and colorspace and pixel
 format conversion operations.
 Specifically, this library performs the following conversions:
  * Rescaling is the process of changing the video size. Several rescaling
    options and algorithms are available. This is usually a lossy process.
  * Pixel format conversion is the process of converting the image format and
    colorspace of the image, for example from planar YUV420P to RGB24 packed.
    It also handles packing conversion, that is converts from packed layout
    (all pixels belonging to distinct planes interleaved in the same buffer),
    to planar layout (all samples belonging to the same plane stored in a
    dedicated buffer or "plane"). This is usually a lossy process in case the
    source and destination colorspaces differ.
 .
 This package contains the development files.

Package: libav-tools
Architecture: all
Section: oldlibs
Priority: extra
Multi-Arch: foreign
Breaks: libav-tools-links (<< 7:2.7.2-2~)
Replaces: libav-tools-links (<< 7:2.7.2-2~)
Depends:
 ffmpeg,
 ${misc:Depends}
Description: Compatibility links for libav-tools (transitional package)
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This is a transitional package that provides the following links:
  * avconv  -> ffmpeg
  * avplay  -> ffplay
  * avprobe -> ffprobe
 This package can be removed, when nothing uses the av* program names anymore.
