// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * GRS Build-A-Cade controls on the BeagleY-AI 40-pin connector.
 *
 * The cabinet wires its controls to Raspberry Pi physical header positions.
 * This mapping follows the GRS retrogame.cfg reference configuration.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "k3-pinctrl.h"

&{/} {
	grs_arcade_keys: grs-arcade-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&grs_arcade_keys_pins
			     &grs_arcade_mcu_keys_pins>;
		label = "GRS Build-A-Cade controls";

		joystick-left {
			label = "Joystick Left";
			gpios = <&main_gpio0 33 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_LEFT>;
			debounce-interval = <10>;
		};

		joystick-right {
			label = "Joystick Right";
			gpios = <&main_gpio0 41 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RIGHT>;
			debounce-interval = <10>;
		};

		joystick-up {
			label = "Joystick Up";
			gpios = <&main_gpio0 38 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_UP>;
			debounce-interval = <10>;
		};

		joystick-down {
			label = "Joystick Down";
			gpios = <&main_gpio1 8 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_DOWN>;
			debounce-interval = <10>;
		};

		button-a {
			label = "Button A";
			gpios = <&main_gpio0 42 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_LEFTCTRL>;
			debounce-interval = <10>;
		};

		button-select {
			label = "Coin 1 Select";
			gpios = <&mcu_gpio0 4 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_5>;
			debounce-interval = <10>;
		};

		button-start {
			label = "Player 1 Start";
			gpios = <&mcu_gpio0 3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_1>;
			debounce-interval = <10>;
		};

		button-b {
			label = "Player 2 Button B";
			gpios = <&main_gpio1 10 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_2>;
			debounce-interval = <10>;
		};

		button-x {
			label = "Coin 2 Button X";
			gpios = <&main_gpio1 9 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_6>;
			debounce-interval = <10>;
		};

		button-y {
			label = "Rear Button Y Enter";
			gpios = <&main_gpio0 14 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_ENTER>;
			debounce-interval = <10>;
		};

		button-escape {
			label = "Rear Button Escape";
			gpios = <&main_gpio1 13 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_ESC>;
			debounce-interval = <10>;
		};

		button-2 {
			label = "Button 2";
			gpios = <&main_gpio0 10 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_LEFTALT>;
			debounce-interval = <10>;
		};

		button-3 {
			label = "Button 3";
			gpios = <&main_gpio0 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_SPACE>;
			debounce-interval = <10>;
		};

		right-joystick-up {
			label = "Right Joystick Up";
			gpios = <&main_gpio1 15 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_I>;
			debounce-interval = <10>;
		};

		right-joystick-left {
			label = "Right Joystick Left";
			gpios = <&main_gpio1 12 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_J>;
			debounce-interval = <10>;
		};

		right-joystick-down {
			label = "Right Joystick Down";
			gpios = <&main_gpio1 17 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_K>;
			debounce-interval = <10>;
		};

		right-joystick-right {
			label = "Right Joystick Right";
			gpios = <&main_gpio0 36 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_L>;
			debounce-interval = <10>;
		};
	};
};

&main_pmx0 {
	grs_arcade_keys_pins: grs-arcade-keys-pins {
		pinctrl-single,pins = <
			J722S_IOPAD(0x009c, PIN_INPUT_PULLUP, 7) /* GPIO0_38: BCM4 */
			J722S_IOPAD(0x0198, PIN_INPUT_PULLUP, 7) /* GPIO1_8: BCM17 */
			J722S_IOPAD(0x0088, PIN_INPUT_PULLUP, 7) /* GPIO0_33: BCM27 */
			J722S_IOPAD(0x00a8, PIN_INPUT_PULLUP, 7) /* GPIO0_41: BCM22 */
			J722S_IOPAD(0x01b4, PIN_INPUT_PULLUP, 7) /* GPIO1_15: BCM5 */
			J722S_IOPAD(0x01bc, PIN_INPUT_PULLUP, 7) /* GPIO1_17: BCM6 */
			J722S_IOPAD(0x01a8, PIN_INPUT_PULLUP, 7) /* GPIO1_12: BCM19 */
			J722S_IOPAD(0x0094, PIN_INPUT_PULLUP, 7) /* GPIO0_36: BCM26 */
			J722S_IOPAD(0x0038, PIN_INPUT_PULLUP, 7) /* GPIO0_14: BCM14 */
			J722S_IOPAD(0x01ac, PIN_INPUT_PULLUP, 7) /* GPIO1_13: BCM15 */
			J722S_IOPAD(0x001c, PIN_INPUT_PULLUP, 7) /* GPIO0_7: BCM23 */
			J722S_IOPAD(0x0028, PIN_INPUT_PULLUP, 7) /* GPIO0_10: BCM24 */
			J722S_IOPAD(0x00ac, PIN_INPUT_PULLUP, 7) /* GPIO0_42: BCM25 */
			J722S_IOPAD(0x01a0, PIN_INPUT_PULLUP, 7) /* GPIO1_10: BCM20 */
			J722S_IOPAD(0x019c, PIN_INPUT_PULLUP, 7) /* GPIO1_9: BCM21 */
		>;
	};
};

&mcu_pmx0 {
	grs_arcade_mcu_keys_pins: grs-arcade-mcu-keys-pins {
		pinctrl-single,pins = <
			J722S_MCU_IOPAD(0x000c, PIN_INPUT_PULLUP, 7) /* MCU_GPIO0_3: BCM10 */
			J722S_MCU_IOPAD(0x0010, PIN_INPUT_PULLUP, 7) /* MCU_GPIO0_4: BCM9 */
		>;
	};
};
