// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Waveshare 4.3-inch 800x480 DSI display on the BeagleY-AI CSI1/DSI0
 * connector.  Selecting DSI0 makes the muxed CSI1 interface unavailable.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "k3-pinctrl.h"

&{/} {
	waveshare_dsi_csi_mux: mux-controller {
		compatible = "gpio-mux";
		#mux-state-cells = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&waveshare_dsi_csi_mux_pins>;

		mux-gpios = <&main_gpio0 2 GPIO_ACTIVE_HIGH>,
			    <&main_gpio0 1 GPIO_ACTIVE_HIGH>;

		/* state = SEL + 2 * OE: 0 = DSI0, 1 = CSI1, 2/3 = off */
		idle-state = <0>;
	};

	waveshare_bridge_reg: regulator-waveshare-bridge {
		compatible = "regulator-fixed";
		regulator-name = "waveshare-dsi-bridge";
		gpio = <&waveshare_display_reg 0 GPIO_ACTIVE_HIGH>;
		vin-supply = <&waveshare_display_reg>;
		enable-active-high;
	};
};

&main_pmx0 {
	waveshare_dsi_csi_mux_pins: waveshare-dsi-csi-mux-pins {
		pinctrl-single,pins = <
			J722S_IOPAD(0x0004, PIN_OUTPUT, 7) /* GPIO0_1: mux select */
			J722S_IOPAD(0x0008, PIN_OUTPUT, 7) /* GPIO0_2: mux OE_n */
		>;
	};

	waveshare_dsi_i2c_pins: waveshare-dsi-i2c-pins {
		pinctrl-single,pins = <
			J722S_IOPAD(0x01e0, PIN_INPUT_PULLUP, 0) /* I2C0_SCL */
			J722S_IOPAD(0x01e4, PIN_INPUT_PULLUP, 0) /* I2C0_SDA */
		>;
	};
};

&main_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&waveshare_dsi_i2c_pins>;
	clock-frequency = <400000>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	waveshare_display_reg: regulator@45 {
		compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&dphy_tx0 {
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	waveshare_panel: panel@0 {
		compatible = "waveshare,4-3-inch-dsi";
		reg = <0>;
		power-supply = <&waveshare_bridge_reg>;
		backlight = <&waveshare_display_reg>;

		port {
			waveshare_panel_dsi_in: endpoint {
				data-lanes = <1>;
				remote-endpoint = <&waveshare_dsi_out>;
			};
		};

		panel-timing {
			clock-frequency = <27777000>;
			hactive = <800>;
			vactive = <480>;
			hfront-porch = <59>;
			hsync-len = <2>;
			hback-porch = <45>;
			vfront-porch = <7>;
			vsync-len = <2>;
			vback-porch = <22>;
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			waveshare_dsi_out: endpoint {
				remote-endpoint = <&waveshare_panel_dsi_in>;
			};
		};

		port@1 {
			reg = <1>;

			waveshare_dsi_in: endpoint {
				remote-endpoint = <&waveshare_dss_out>;
			};
		};
	};
};

&dss1_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@1 {
		reg = <1>;

		waveshare_dss_out: endpoint {
			remote-endpoint = <&waveshare_dsi_in>;
		};
	};
};
