#!/usr/bin/make -f

PACKAGE = libump


override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/tmp/etc/modules-load.d/
	install -m0644 debian/ump.conf debian/tmp/etc/modules-load.d/ump.conf

%:
	dh $@ --with autoreconf
