[Unit]
Description=Automatic network failover (eth/wifi)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/web3pi/wan-failover/wan-failover.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target