Source: libass
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders:
 Christophe Mutricy <xtophe@videolan.org>,
 Sebastian Ramacher <sramacher@debian.org>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 libfontconfig1-dev,
 libfreetype6-dev,
 libfribidi-dev,
 libharfbuzz-dev,
 yasm [any-amd64]
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/libass/libass
Vcs-Git: git://anonscm.debian.org/pkg-multimedia/libass.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-multimedia/libass.git

Package: libass-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libass5 (= ${binary:Version}),
 libfontconfig1-dev,
 libfreetype6-dev,
 libfribidi-dev,
 libharfbuzz-dev,
 ${misc:Depends}
Description: development files for libass
 SubStation Alpha (SSA) is a subtitle file format that allows more
 advanced subtitles than the conventional SRT and similar formats.
 .
 This package contains the header files and static libraries needed to compile
 applications or shared objects that use libass.

Package: libass5
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: library for SSA/ASS subtitles rendering
 SubStation Alpha (SSA) is a subtitle file format that allows more
 advanced subtitles than the conventional SRT and similar formats.
 .
 This package contains the shared library for libass.
