#!/usr/bin/make -f
%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-silent-rules \
		--enable-yuyv \
		--disable-sdl2 \
		--prefix=/usr \
		--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
		GVIEWENCODER_CFLAGS="-D_FILE_OFFSET_BITS=64"

override_dh_install:
	rm -rf debian/tmp/usr/share/doc/guvcview/NEWS \
		debian/tmp/usr/share/doc/guvcview/COPYING \
		debian/tmp/usr/share/doc/guvcview/INSTALL \
		debian/tmp/usr/share/doc/guvcview/ChangeLog

	dh_install
