[Unit]
Description=Store sound on suspend
ConditionFileIsExecutable=/usr/sbin/alsactl

[Service]
Type=oneshot
UMask=0077
ExecStart=/usr/sbin/alsactl -f /tmp/.before-suspend-asound.state store

[Install]
WantedBy=sleep.target
