// SPDX-License-Identifier: BSD-3-Clause
/*
 * AYANEO Pocket S Mini hardware description.
 *
 * Panel timing, GPIO assignments and touchscreen wiring are derived from a
 * live stock Android device-tree dump from the target hardware.
 */

/dts-v1/;

#include "qcs8550-ayaneo-pocket-common.dtsi"

/ {
	model = "AYANEO Pocket S Mini";
	qcom,board-id = <0x1000b 0x01>;
	qcom,msm-id = <0x258 0x20000>, <0x259 0x20000>;
	compatible = "ayaneo,pocket-s-mini", "qcom,qcs8550", "qcom,sm8550";
	chassis-type = "handset";

	gpio-keys-pocket-s-mini {
		compatible = "gpio-keys";
		label = "gpio-keys-pocket-s-mini";
		pinctrl-names = "default";
		pinctrl-0 = <&pocketsmini_buttons>;

		key-ayaneo {
			label = "AYANEO";
			gpios = <&tlmm 85 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_A>;
			debounce-interval = <15>;
			linux,can-disable;
		};

		key-equal {
			label = "EQUAL";
			gpios = <&tlmm 169 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_EQUAL>;
			debounce-interval = <15>;
			linux,can-disable;
		};
	};
};

&tlmm {
	pocketsmini_buttons: pocketsmini-buttons-state {
		pins = "gpio85", "gpio169";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
		input-enable;
	};

	panel_pwr_active: panel-pwr-active-state {
		pins = "gpio72", "gpio42", "gpio152", "gpio153";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	panel_pwr_sleep: panel-pwr-sleep-state {
		pins = "gpio72", "gpio42", "gpio152", "gpio153";
		function = "gpio";
		output-low;
	};

	backlight_pwr_active: backlight-pwr-active-state {
		pins = "gpio41";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	backlight_pwr_sleep: backlight-pwr-sleep-state {
		pins = "gpio41";
		function = "gpio";
		output-low;
	};

	ts_irq: ts-irq-state {
		pins = "gpio25";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		input-enable;
	};

	ts_reset: ts-reset-state {
		pins = "gpio24";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
		output-high;
	};
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";

	/* Screen power */
	regulator@3e {
		compatible = "sgmicro,sgm3804";
		reg = <0x3e>;
		pinctrl-0 = <&panel_pwr_active>;
		pinctrl-1 = <&panel_pwr_sleep>;
		pinctrl-names = "default", "sleep";

		vin-supply = <&vph_pwr>;

		sgm3804_pos: pos {
			regulator-name = "panel-avdd";
			regulator-min-microvolt = <5200000>;
			regulator-max-microvolt = <5200000>;
			regulator-active-discharge = <1>;
			regulator-boot-on;
			enable-gpios = <&tlmm 152 GPIO_ACTIVE_HIGH>;
		};

		sgm3804_neg: neg {
			regulator-name = "panel-avee";
			regulator-min-microvolt = <5200000>;
			regulator-max-microvolt = <5200000>;
			regulator-active-discharge = <1>;
			regulator-boot-on;
			enable-gpios = <&tlmm 153 GPIO_ACTIVE_HIGH>;
		};
	};

	backlight: sy7758@2e {
		compatible = "silergy,sy7758";
		reg = <0x2e>;
		pinctrl-0 = <&backlight_pwr_active>;
		pinctrl-1 = <&backlight_pwr_sleep>;
		pinctrl-names = "default", "sleep";
		status = "okay";
	};
};

&i2c4 {
	clock-frequency = <400000>;
	status = "okay";

	touchscreen@5a {
		compatible = "hynitron,cst66xx";
		reg = <0x5a>;

		interrupt-parent = <&tlmm>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tlmm 24 GPIO_ACTIVE_LOW>;
		vdd-supply = <&vreg_l14b_3p2>;

		touchscreen-size-x = <1280>;
		touchscreen-size-y = <960>;

		pinctrl-names = "default";
		pinctrl-0 = <&ts_reset>, <&ts_irq>;
	};
};

&pcieport0 {
	wifi@0 {
		qcom,skip-11d-scan-offload;
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1 2 3>;
};

&display_panel {
	compatible = "ayaneo,ar16-4inch-panel";

	avdd-supply = <&sgm3804_pos>;
	avee-supply = <&sgm3804_neg>;
	vci-supply = <&vreg_l13b_3p0>;
	vddio-supply = <&vreg_l12b_1p8>;

	backlight = <&backlight>;
	reset-gpios = <&tlmm 133 GPIO_ACTIVE_LOW>;
	rotation = <180>;

	port {
		panel0_in: endpoint {
			remote-endpoint = <&mdss_dsi0_out>;
		};
	};
};
