// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (C) 2026-present ROCKNIX (https://github.com/ROCKNIX).
 */

/dts-v1/;

#include "qcs8550-ayn-common.dtsi"

/ {
	model = "Retroid Pocket 6";
	compatible = "retroidpocket,rp6", "qcom,qcs8550", "qcom,sm8550";
	qcom,board-id = <0x1001f 0x00>;
	qcom,msm-id = <0x25b 0x20000>;

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pmk8550_pwm 0 860000>;
		brightness-levels = <1023 0>;
		num-interpolated-steps = <1023>;
		default-brightness-level = <600>;
		power-supply = <&vph_pwr>;
		enable-gpios = <&pmk8550_gpios 5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pwm_backlight_default>;
		status = "okay";
	};

	vdd_disp_1v8: vdd-disp-1v8-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_disp_1v8";

		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		gpio = <&tlmm 70 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vdd_disp_2v8: vdd-disp-2v8-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_disp_2v8";

		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;

		gpio = <&tlmm 142 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	ts_avdd_3v0: regulator-ts-avdd-3v0 {
		compatible = "regulator-fixed";
		regulator-name = "ts_avdd_3v0";

		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;

		gpio = <&tlmm 144 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	ts_vddio_1v8: regulator-ts-vddio-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "ts_vddio_1v8";

		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		gpio = <&tlmm 102 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	multi-ledr1 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = "r1";
		leds = <&ledr_r4>, <&ledr_g4>, <&ledr_b4>;
	};

	multi-ledl1 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = "l1";
		leds = <&ledl_r4>, <&ledl_g4>, <&ledl_b4>;
	};

	multi-ledr2 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = "r2";
		leds = <&ledr_r1>, <&ledr_g1>, <&ledr_b1>;
	};

	multi-ledl2 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = "l2";
		leds = <&ledl_r1>, <&ledl_g1>, <&ledl_b1>;
	};

	multi-ledr3 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = "r3";
		leds = <&ledr_r2>, <&ledr_g2>, <&ledr_b2>;
	};

	multi-ledl3 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = "l3";
		leds = <&ledl_r2>, <&ledl_g2>, <&ledl_b2>;
	};

	multi-ledr4 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = "r4";
		leds = <&ledr_r3>, <&ledr_g3>, <&ledr_b3>;
	};

	multi-ledl4 {
		compatible = "leds-group-multicolor";
		color = <LED_COLOR_ID_RGB>;
		function = "l4";
		leds = <&ledl_r3>, <&ledl_g3>, <&ledl_b3>;
	};
};

&gamepad {
	axis-range = <1024>;
};

&{/gpio-keys} {
	pinctrl-0 = <&volume_up_n>, <&paddle_keys_default>;

	key-paddle-left {
		label = "Back Paddle Left";
		debounce-interval = <15>;
		gpios = <&tlmm 57 GPIO_ACTIVE_LOW>;
		linux,code = <BTN_Z>;
	};

	key-paddle-right {
		label = "Back Paddle Right";
		debounce-interval = <15>;
		gpios = <&tlmm 58 GPIO_ACTIVE_LOW>;
		linux,code = <BTN_C>;
	};
};

&tlmm {
	paddle_keys_default: paddle-keys-default-state {
		pins = "gpio57", "gpio58";
		function = "gpio";
		bias-pull-up;
		drive-strength = <2>;
		input-enable;
	};
};

&mdss_dsi0 {
	vdda-supply = <&vreg_l3e_1p2>;
	status = "okay";

	panel@0 {
		reg = <0>;
		compatible = "vtdr6130,rp6";

		pinctrl-0 = <&dsi_p_rst_active>, <&dsi_p_te_active>;
		pinctrl-1 = <&dsi_p_rst_suspend>, <&dsi_p_te_suspend>;
		pinctrl-names = "default", "sleep";

		vddio-supply = <&vdd_disp_1v8>;
		avdd-supply = <&vdd_disp_2v8>;

		reset-gpios = <&tlmm 133 GPIO_ACTIVE_LOW>;

		backlight = <&backlight>;

		rotation = <270>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi0_phy {
	vdds-supply = <&vreg_l1e_0p88>;
	status = "okay";
};

&mdss_dsi1 {
    status = "disabled";
};

&i2c0 {
	htr3212l: led-controller@3c {
		compatible = "heroic,htr3212";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		sdb-gpios = <&tlmm 55 GPIO_ACTIVE_HIGH>;
		vdd-supply = <&vdd_mcu_3v3>;

		ledl_b1: led@1 {
			reg = <1>;
			label = "l:r1";
			color = <LED_COLOR_ID_RED>;
		};
		ledl_g1: led@2 {
			reg = <2>;
			label = "l:g1";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledl_r1: led@3 {
			reg = <3>;
			label = "l:b1";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledl_b2: led@4 {
			reg = <4>;
			label = "l:r2";
			color = <LED_COLOR_ID_RED>;
		};
		ledl_g2: led@5 {
			reg = <5>;
			label = "l:g2";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledl_r2: led@6 {
			reg = <6>;
			label = "l:b2";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledl_b3: led@7 {
			reg = <7>;
			label = "l:r3";
			color = <LED_COLOR_ID_RED>;
		};
		ledl_g3: led@8 {
			reg = <8>;
			label = "l:g3";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledl_r3: led@9 {
			reg = <9>;
			label = "l:b3";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledl_b4: led@10 {
			reg = <10>;
			label = "l:r4";
			color = <LED_COLOR_ID_RED>;
		};
		ledl_g4: led@11 {
			reg = <11>;
			label = "l:g4";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledl_r4: led@12 {
			reg = <12>;
			label = "l:b4";
			color = <LED_COLOR_ID_BLUE>;
		};
	};
};

&i2c12 {
	htr3212r: led-controller@3c {
		compatible = "heroic,htr3212";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		sdb-gpios = <&tlmm 56 GPIO_ACTIVE_HIGH>;
		vdd-supply = <&vdd_mcu_3v3>;

		ledr_b1: led@1 {
			reg = <1>;
			label = "r:r1";
			color = <LED_COLOR_ID_RED>;
		};
		ledr_g1: led@2 {
			reg = <2>;
			label = "r:g1";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledr_r1: led@3 {
			reg = <3>;
			label = "r:b1";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledr_b2: led@4 {
			reg = <4>;
			label = "r:r2";
			color = <LED_COLOR_ID_RED>;
		};
		ledr_g2: led@5 {
			reg = <5>;
			label = "r:g2";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledr_r2: led@6 {
			reg = <6>;
			label = "r:b2";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledr_b3: led@7 {
			reg = <7>;
			label = "r:r3";
			color = <LED_COLOR_ID_RED>;
		};
		ledr_g3: led@8 {
			reg = <8>;
			label = "r:g3";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledr_r3: led@9 {
			reg = <9>;
			label = "r:b3";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledr_b4: led@10 {
			reg = <10>;
			label = "r:r4";
			color = <LED_COLOR_ID_RED>;
		};
		ledr_g4: led@11 {
			reg = <11>;
			label = "r:g4";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledr_r4: led@12 {
			reg = <12>;
			label = "r:b4";
			color = <LED_COLOR_ID_BLUE>;
		};
	};
};

&i2c_hub_3 {
	clock-frequency = <100000>;
	status = "okay";
	touchscreen@38 {
		compatible = "focaltech,ft5426";
		reg = <0x38>;
		#address-cells = <1>;
		#size-cells = <0>;

		interrupt-parent = <&tlmm>;
		interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tlmm 14 GPIO_ACTIVE_LOW>;

		vcc-supply = <&ts_avdd_3v0>;
		iovcc-supply = <&ts_vddio_1v8>;

		pinctrl-0 = <&ts_p_rst_default &ts_p_int_default>;
		pinctrl-1 = <&ts_p_rst_sleep &ts_p_int_sleep>;
		pinctrl-names = "default", "sleep";

		touchscreen-size-x = <1080>;
		touchscreen-size-y = <1920>;
		touchscreen-inverted-y;

		no-regmap-bulk-read;
        };
};

&pmk8550_pwm {
	status = "okay";
};

&remoteproc_adsp {
	firmware-name = "qcom/sm8550/ayn/odin2/adsp.mbn",
			"qcom/sm8550/ayn/odin2/adsp_dtb.mbn";
	status = "okay";
};

&spk_amp_l {
	firmware-name = "qcom/sm8550/ayn/odin2/aw883xx_acf.bin";
};

&spk_amp_r {
	firmware-name = "qcom/sm8550/ayn/odin2/aw883xx_acf.bin";
};
