// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024 Linaro Limited
 * Copyright (c) 2025, Kancy Joe <kancy2333@outlook.com>
 * Copyright (c) 2025, ROCKNIX (https://github.com/ROCKNIX)
 *
 * AYANEO Pocket S 1K - 1920x1080@60Hz WT0600 video mode panel
 * Derived from qcs8550-ayaneo-pockets2k.dts
 *
 * GPIO layout and power sequence validated from stock Android DTB dump:
 *   - Panel power: SGM3804 (i2c0, 0x3e) + GPIO 72/42/152/153
 *   - Backlight: SY7758 (i2c0, 0x2e) + GPIO 41
 *   - Touch: Goodix GT911 (i2c4, 0x5d) + GPIO 24/25
 *   - Panel reset: GPIO 133
 *
 * Panel timing extracted from stock DT overlay fragment:
 *   qcom,mdss_dsi_wt0600_1080p_60hz_video
 */

/dts-v1/;

#include "qcs8550-ayaneo-pocket-common.dtsi"

/ {
	model = "AYANEO Pocket S 1K";
	compatible = "ayaneo,pocket-s1", "qcom,sm8550";
	chassis-type = "handset";
};

&tlmm {
	panel_pwr_active: panel-pwr-active-state {
		pins = "gpio72", "gpio42", "gpio152", "gpio153";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	panel_pwr_sleep: panel-pwr-sleep-state {
		pins = "gpio72", "gpio42", "gpio152", "gpio153";
		function = "gpio";
		output-low;
	};

	backlight_pwr_active: backlight-pwr-active-state {
		pins = "gpio41";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	backlight_pwr_sleep: backlight-pwr-sleep-state {
		pins = "gpio41";
		function = "gpio";
		output-low;
	};

	ts_irq: ts-irq-state {
		pins = "gpio25";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		input-enable;
	};

	ts_reset: ts-reset-state {
		pins = "gpio24";
		function = "gpio";
		drive-strength = <8>;
		input-enable;
		bias-pull-down;
	};
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";

	/* Screen power */
	regulator@3e {
		compatible = "sgmicro,sgm3804";
		reg = <0x3e>;
		pinctrl-0 = <&panel_pwr_active>;
		pinctrl-1 = <&panel_pwr_sleep>;
		pinctrl-names = "default", "sleep";

		vin-supply = <&vph_pwr>;

		sgm3804_pos: pos {
			regulator-name = "panel-avdd";
			regulator-min-microvolt = <5200000>;
			regulator-max-microvolt = <5200000>;
			regulator-active-discharge = <1>;
			regulator-boot-on;
			enable-gpios = <&tlmm 152 GPIO_ACTIVE_HIGH>;
		};

		sgm3804_neg: neg {
			regulator-name = "panel-avee";
			regulator-min-microvolt = <5200000>;
			regulator-max-microvolt = <5200000>;
			regulator-active-discharge = <1>;
			regulator-boot-on;
			enable-gpios = <&tlmm 153 GPIO_ACTIVE_HIGH>;
		};
	};

	/* Backlight */
	backlight: sy7758@2e {
		compatible = "silergy,sy7758";
		reg = <0x2e>;
		pinctrl-0 = <&backlight_pwr_active>;
		pinctrl-1 = <&backlight_pwr_sleep>;
		pinctrl-names = "default", "sleep";
		status = "okay";
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;

	touchscreen@5d {
		reg = <0x5d>;
		status = "okay";
		compatible = "goodix,gt911";

		interrupt-parent = <&tlmm>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;

		reset-gpios = <&tlmm 24 GPIO_ACTIVE_LOW>;
		VDDIO-supply = <&vreg_l14b_3p2>;
		AVDD28-supply = <&vreg_l14b_3p2>;

		touchscreen-size-x = <1080>;
		touchscreen-size-y = <1920>;

		pinctrl-names = "default";
		pinctrl-0 = <&ts_reset>, <&ts_irq>;
	};
};

/*
 * WT0600 1080p 60Hz video mode panel
 * Single DSI, 4-lane DPHY, video mode
 */
&mdss_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi0_phy {
	vdds-supply = <&vreg_l1e_0p88>;
	status = "okay";
};

&display_panel {
	status = "okay";
	compatible = "ayaneo,wt0600-1080p-60hz";

	avdd-supply = <&sgm3804_pos>;
	avee-supply = <&sgm3804_neg>;

	reset-gpios = <&tlmm 133 GPIO_ACTIVE_LOW>;
	backlight = <&backlight>;
	rotation = <90>;

	port {
		panel0_in: endpoint {
			remote-endpoint = <&mdss_dsi0_out>;
		};
	};
};
