// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Based on rk3328-roc-cc.dtb from original MKS-Klipad50 image
 *
 * Copyright (c) 2025 Thorsten Maerz
 */

/dts-v1/;
#include "rk3328-dram-renegade-timing.dtsi"
#include "rk3328.dtsi"

/ {
	model = "Makerbase MKS-KLIPAD50";
	compatible = "mks,rk3328-mksklipad50", "mks,rk3328-mkspi", "rockchip,rk3328";

	aliases {
		ethernet0 = &gmac2io;
		ethernet1 = &gmac2phy;
		mmc0 = &sdmmc;
		mmc1 = &emmc;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	/delete-node/ dmc-opp-table;
	dmc_opp_table: dmc-opp-table {
		compatible = "operating-points-v2";

		opp-786000000 {
			opp-hz = /bits/ 64 <786000000>;
			opp-microvolt = <1075000 1075000 12000000>;
			status = "disabled";
		};
		opp-798000000 {
			opp-hz = /bits/ 64 <798000000>;
			opp-microvolt = <1075000 1075000 12000000>;
			status = "disabled";
		};
		opp-840000000 {
			opp-hz = /bits/ 64 <840000000>;
			opp-microvolt = <1075000 1075000 12000000>;
		};
		opp-924000000 {
			opp-hz = /bits/ 64 <924000000>;
			opp-microvolt = <1100000 1100000 12000000>;
		};
		opp-1068000000 {
			opp-hz = /bits/ 64 <1068000000>;
			opp-microvolt = <1175000 1175000 12000000>;
		};
	};

	gmac_clkin: external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "gmac_clkin";
		#clock-cells = <0>;
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc_sd: sdmmc-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio0 RK_PD6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc0m1_pin>;
		regulator-boot-on;
		regulator-name = "vcc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_io>;
	};

	vcc_sdio: sdmmcio-regulator {
		compatible = "regulator-gpio";
		gpios = <&gpio2 RK_PC4 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&sdio_vcc_pin>;
		pinctrl-names = "default";
		states = <1800000 0x0>,
			 <3300000 0x1>;
		regulator-name = "vcc_sdio";
		regulator-type = "voltage";
		regulator-min-microvolt = <1800000>;
		regulator-settling-time-us = <5000>;
		startup-delay-us = <2000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		vin-supply = <&vcc_io>;
	};

	vcc_host1_5v: vcc_otg_5v: vcc-host1-5v-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb20_host_drv>;
		regulator-name = "vcc_host1_5v";
		regulator-always-on;
		vin-supply = <&vcc_sys>;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc_phy: vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
	};

	leds {
		compatible = "gpio-leds";

		power_led: led-0 {
			label = "firefly:green:power";
			linux,default-trigger = "heartbeat";
			gpios = <&rk805 1 GPIO_ACTIVE_LOW>;
			default-state = "on";
			mode = <0x23>;
		};

		user_led: led-1 {
			label = "firefly:blue:user";
			linux,default-trigger = "activity";
			gpios = <&rk805 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			mode = <0x05>;
		};
	};

	usb3phy_grf: syscon@ff460000 {
		compatible = "rockchip,usb3phy-grf", "syscon";
		reg = <0x0 0xff460000 0x0 0x1000>;
	};

	u3phy: usb3-phy@ff470000 {
		compatible = "rockchip,rk3328-u3phy";
		reg = <0x0 0xff470000 0x0 0x0>;
		rockchip,u3phygrf = <&usb3phy_grf>;
		rockchip,grf = <&grf>;
		interrupts = <GIC_SPI 77 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "linestate";
		clocks = <&cru PCLK_USB3PHY_OTG>, <&cru PCLK_USB3PHY_PIPE>;
		clock-names = "u3phy-otg", "u3phy-pipe";
		resets = <&cru SRST_USB3PHY_U2>,
			 <&cru SRST_USB3PHY_U3>,
			 <&cru SRST_USB3PHY_PIPE>,
			 <&cru SRST_USB3OTG_UTMI>,
			 <&cru SRST_USB3PHY_OTG_P>,
			 <&cru SRST_USB3PHY_PIPE_P>;
		reset-names = "u3phy-u2-por", "u3phy-u3-por",
			      "u3phy-pipe-mac", "u3phy-utmi-mac",
			      "u3phy-utmi-apb", "u3phy-pipe-apb";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		status = "okay";

		u3phy_utmi: utmi@ff470000 {
			reg = <0x0 0xff470000 0x0 0x8000>;
			#phy-cells = <0>;
			status = "okay";
		};

		u3phy_pipe: pipe@ff478000 {
			reg = <0x0 0xff478000 0x0 0x8000>;
			#phy-cells = <0>;
			status = "okay";
		};
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		sdio_vref = <3300>;
		status = "okay";
		WIFI,host_wake_irq = <&gpio1 RK_PC3 GPIO_ACTIVE_HIGH>;
		wifi_chip_type = "rtl8723bs";
	};

	sdio_pwrseq0: sdio_pwrseq0 {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
		reset-gpios = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
	};
};

&analog_sound {
	simple-audio-card,name = "TRS Jack";
	status = "okay";
};

&codec {
	mute-gpios = <&grf_gpio RK_PA0 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&gmac2phy {
	assigned-clocks = <&cru SCLK_MAC2PHY>;
	assigned-clock-rate = <50000000>;
	assigned-clock-parents = <&cru SCLK_MAC2PHY_SRC>;
	phy-supply = <&vcc_phy>;
	status = "disabled";
};

&dfi {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_logic>;
	ddr_timing = <&ddr_timing>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu1 {
	cpu-supply = <&vdd_arm>;
};

&cpu2 {
	cpu-supply = <&vdd_arm>;
};

&cpu3 {
	cpu-supply = <&vdd_arm>;
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	max-frequency = <150000000>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_bus8>;
	vmmc-supply = <&vcc_io>;
	vqmmc-supply = <&vcc18_emmc>;
	status = "okay";
};

&gmac2io {
	assigned-clocks = <&cru SCLK_MAC2IO>, <&cru SCLK_MAC2IO_EXT>;
	assigned-clock-parents = <&gmac_clkin>, <&gmac_clkin>;
	clock_in_out = "input";
	phy-supply = <&vcc_phy>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&rgmiim1_pins>;
	snps,aal;
	snps,reset-gpio = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 50000>;
	snps,rxpbl = <0x4>;
	snps,txpbl = <0x4>;
	tx_delay = <0x24>;
	rx_delay = <0x18>;
	status = "disabled";
};

&gpu {
	mali-supply = <&vdd_logic>;
};

&hdmi {
	interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>;
	clocks = <&cru PCLK_HDMI>,
		 <&cru SCLK_HDMI_SFC>,
		 <&hdmiphy>,
		 <&cru SCLK_RTC32K>;
	clock-names = "iahb",
		      "isfr",
		      "vpll",
		      "cec";
	pinctrl-0 = <&hdmi_cec &hdmii2c_xfer &hdmi_hpd &hdmi_backlight>;
	status = "okay";
};

&hdmiphy {
	status = "okay";
};

&hdmi_sound {
	status = "disabled";
};

&i2c1 {
	status = "okay";

	rk805: pmic@18 {
		compatible = "rockchip,rk805";
		reg = <0x18>;
		interrupt-parent = <&gpio1>;
		interrupts = <24 IRQ_TYPE_LEVEL_LOW>;
		#clock-cells = <1>;
		clock-output-names = "xin32k", "rk805-clkout2";
		gpio-controller;
		#gpio-cells = <2>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>;
		rockchip,system-power-controller;
		wakeup-source;

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc5-supply = <&vcc_io>;
		vcc6-supply = <&vcc_io>;

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-min-microvolt = <1150000>;
				regulator-max-microvolt = <1175000>;
				regulator-ramp-delay    = <12500>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			vdd_arm: DCDC_REG2 {
				regulator-name = "vdd_arm";
				regulator-min-microvolt = <1400000>;
				regulator-max-microvolt = <1450000>;
				regulator-ramp-delay    = <12500>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <950000>;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_io: DCDC_REG4 {
				regulator-name = "vcc_io";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_18: LDO_REG1 {
				regulator-name = "vcc_18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc18_emmc: LDO_REG2 {
				regulator-name = "vcc18_emmc";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_10: LDO_REG3 {
				regulator-name = "vdd_10";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};
		};
	};
};

&i2s1 {
	status = "okay";
};

&pwm3 {
	interrupts = <GIC_SPI 50 IRQ_TYPE_LEVEL_HIGH>;
};

&io_domains {
	status = "okay";

	vccio1-supply = <&vcc_io>;
	vccio2-supply = <&vcc18_emmc>;
	vccio3-supply = <&vcc_sdio>;
	vccio4-supply = <&vcc_io>;
	vccio5-supply = <&vcc_io>;
	vccio6-supply = <&vcc_io>;
	pmuio-supply = <&vcc_io>;
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&rtc_32k>;

	rtc: rtc {
		rtc_32k: rtc-32k {
			rockchip,pins = <1 RK_PD4 1 &pcfg_pull_none>;
		};
	};

	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins = <2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb2 {
		usb20_host_drv: usb20-host-drv {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sd {
		sdio_vcc_pin: sdio-vcc-pin {
			rockchip,pins = <2 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};


	sdio_pwrseq: sdio-pwrseq {

		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless_wlan_pin: wireless-wlan {

		wifi_wake_host: wifi-wake-host {
			rockchip,pins = <1 RK_PC3 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	hdmi_pin {
		hdmi_backlight: hdmi-backlight {
			rockchip,pins = <3 RK_PA5 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	spi0_cs2 {
		pinctrl_spi0_cs2: pinctrl_spi0_cs2 {
			rockchip,pins = <3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_dectn &sdmmc0_bus4>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vcc_sdio>;
	status = "okay";
};

&spdif {
	pinctrl-0 = <&spdifm0_tx>;
	status = "disabled";
};

&spdif_out {
	status = "disabled";
};

&spdif_sound {
	status = "disabled";
};

&tsadc {
	rockchip,hw-tshut-mode = <0>;     /* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-polarity = <0>; /* tshut polarity 0:LOW 1:HIGH */
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_host {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_xfer &uart0_cts>;
	status = "okay";
};

&uart2 {
	status = "okay";
};

&spi0 {
	max-freq = <48000000>;
	cs-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi0m2_clk &spi0m2_tx &spi0m2_rx>;
	status = "okay";


	spi_for_cs2@0 {
		reg = <0>;
		compatible ="armbian,spi-dev";
		pinctrl-names ="default";
		pinctrl-0 = <&pinctrl_spi0_cs2>;
		spi-max-frequency = <5000000>;
		status = "okay";
	};
};

&sdio {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
	mmc-pwrseq = <&sdio_pwrseq0>;
	status = "okay";
	non-removable;
	bus-width = <0x04>;
	cap-sd-highspeed;
	cap-sdio-irq;
};

&usb20_otg {
	dr_mode = "host";
	status = "okay";
};

&usbdrd3 {
	dr_mode = "host";
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&vop {
	assigned-clocks = <&cru DCLK_LCDC>;
	assigned-clock-parents = <&cru HDMIPHY>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vpu {
	status = "disabled";
};

&vdec {
	status = "disabled";
};

&rga {
	status = "disabled";
};
