// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include <dt-bindings/usb/pd.h>
#include "rk3576.dtsi"

/ {
	model = "FriendlyELEC NanoPi M5";
	compatible = "friendlyelec,nanopi-m5", "rockchip,rk3576";

	/* Network Aliases */
	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
	};

	/* Boot Configuration */
	chosen {
		stdout-path = "serial0:1500000n8";
	};

	/* Audio Card */
	analog-sound  {
		compatible = "simple-audio-card";
		pinctrl-names = "default";
		pinctrl-0 = <&headphone_detect>;

		simple-audio-card,name = "realtek,rt5616-codec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,hp-det-gpio = <&gpio2 RK_PD6 GPIO_ACTIVE_LOW>;

		simple-audio-card,widgets =
			"Headphone", "Headphones",
			"Microphone", "Microphone Jack";
		simple-audio-card,routing =
			"Headphones", "HPOL",
			"Headphones", "HPOR",
			"MIC1", "Microphone Jack",
			"Microphone Jack", "micbias1";

		simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};
		simple-audio-card,codec {
			sound-dai = <&rt5616>;
		};
	};

	/* HDMI Connector */
	hdmi-con {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

        /* LED Configuration */
	leds: leds {
		compatible = "gpio-leds";

		sys_led: led-0 {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_HEARTBEAT;
			gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			pinctrl-0 = <&sys_led_pin>;
		};

		lan_led: led-1 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;
			pinctrl-0 = <&lan_led_pin>;
		};

		wan_led: led-2 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio4 RK_PC5 GPIO_ACTIVE_HIGH>;
			pinctrl-0 = <&wan_led_pin>;
		};
	};

	/* Button Configuration */
	saradc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		button-back {
			label = "back";
			linux,code = <KEY_BACK>;
			press-threshold-microvolt = <17000>;
		};
	};

	/* SDIO for WIFI CARD */
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_poweren_gpio>;

		post-power-on-delay-ms = <200>;
		reset-gpios = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
	};

	/* Power Input */
	vcc_5v0_dcin: regulator-vcc-5v0-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v0_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	/* Main System Power */
	vcc_5v0_sys: regulator-vcc-5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v0_dcin>;
	};

	/* PMIC Input Rails */
	vcc_1v1_nldo_s3: regulator-vcc-1v1-nldo-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_2v0_pldo_s3: regulator-vcc-2v0-pldo-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_2v0_pldo_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <2000000>;
		regulator-max-microvolt = <2000000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	/* General Purpose 3.3V Rails */
	vcc_3v3_s0: regulator-vcc-3v3-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	/* RTC Backup Power */
	vcc_3v3_rtc_s5: regulator-vcc-3v3-rtc-s5 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_rtc_s5";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	/* PCIe M.2 Key M Power */
	vcc3v3_m2_keym: regulator-vcc3v3-m2-keym {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_m2_pwren>;
		regulator-name = "vcc3v3_m2_keym";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	/* UFS Storage Power Rails */
	vcc_ufs_s0: regulator-vcc-ufs-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ufs_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_1v8_ufs_s0: regulator-vcc-1v8-ufs-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_ufs_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_1v8_s3>;
	};

	vcc_1v2_ufs_s0: regulator-vcc-1v2-ufs-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v2_ufs_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	/* USB Host Power */
	vcc5v0_host: regulator-vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc_5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_host_pwren>;
	};

	/* USB Type-C Power */
	vbus5v0_typec: regulator-vbus5v0-typec {
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PD1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc_5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_otg0_pwren>;
	};
};

/* Combo PHY Configuration */
&combphy0_ps {
	status = "okay";
};

&combphy1_psu {
	status = "okay";
};

/* CPU Nodes */
&cpu_b0 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&cpu_b3 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

/* Ethernet Nodes */
&gmac0 {
	phy-mode = "rgmii-id";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth0m0_miim
		     &eth0m0_tx_bus2
		     &eth0m0_rx_bus2
		     &eth0m0_rgmii_clk
		     &eth0m0_rgmii_bus>;

	tx_delay = <0x21>;
	rx_delay = <0x3f>;

	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&gmac1 {
	phy-mode = "rgmii-id";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PA3 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth1m0_miim
		     &eth1m0_tx_bus2
		     &eth1m0_rx_bus2
		     &eth1m0_rgmii_clk
		     &eth1m0_rgmii_bus>;

	tx_delay = <0x20>;
	rx_delay = <0x3f>;

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

/* GPU Node */
&gpu {
	mali-supply = <&vdd_gpu_s0>;
	status = "okay";
};

/* GPIO Connector */
&gpio0 {
	gpio-line-names =
		/* GPIO0 A0-A7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO0 B0-B7 */
		"", "", "", "",
		"", "PIN_12", "", "",
		/* GPIO0 C0-C7 */
		"", "PIN_05 [I2C0_SCL_M1]", "PIN_03 [I2C0_SDA_M1]", "",
		"PIN_22", "", "", "",
		/* GPIO0 D0-D7 */
		"", "", "", "",
		"", "", "", "";
};

&gpio1 {
	gpio-line-names =
		/* GPIO1 A0-A7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO1 B0-B7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO1 C0-C7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO1 D0-D7 */
		"", "", "", "",
		"", "", "", "";
};

&gpio2 {
	gpio-line-names =
		/* GPIO2 A0-A7 */
		"", "", "", "",
		"", "", "PIN_11 [UART8_TX_M1]", "PIN_13 [UART8_RX_M1]",
		/* GPIO2 B0-B7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO2 C0-C7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO2 D0-D7 */
		"", "", "", "",
		"", "", "", "";
};

&gpio3 {
	gpio-line-names =
		/* GPIO3 A0-A7 */
		"PIN_16 [UART3_TX_M0]", "PIN_18 [UART3_RX_M0]", "", "",
		"", "", "", "",
		/* GPIO3 B0-B7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO3 C0-C7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO3 D0-D7 */
		"", "", "", "",
		"", "", "", "";
};

&gpio4 {
	gpio-line-names =
		/* GPIO4 A0-A7 */
		"", "",
		"PIN_15", "PIN_29",
		"PIN_28", "PIN_07",
		"PIN_26", "PIN_27",
		/* GPIO4 B0-B7 */
		"PIN_23", "PIN_19",
		"PIN_21", "PIN_24",
		"PIN_10", "PIN_08",
		"", "",
		/* GPIO4 C0-C7 */
		"", "", "", "",
		"", "", "", "",
		/* GPIO4 D0-D7 */
		"", "", "", "",
		"", "", "", "";
};

/* HDMI Nodes */
&hdmi {
	status = "okay";
};

&hdmi_in {
	hdmi_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi>;
	};
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&hdmi_sound {
	status = "okay";
};

&hdptxphy {
	status = "okay";
};

/* I2C Nodes */
&i2c1 {
	status = "okay";

	pmic@23 {
		compatible = "rockchip,rk806";
		reg = <0x23>;

		interrupt-parent = <&gpio0>;
		interrupts = <6 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&pmic_pins>, <&rk806_dvs1_null>,
			    <&rk806_dvs2_null>, <&rk806_dvs3_null>;

		system-power-controller;

		vcc1-supply = <&vcc_5v0_sys>;
		vcc2-supply = <&vcc_5v0_sys>;
		vcc3-supply = <&vcc_5v0_sys>;
		vcc4-supply = <&vcc_5v0_sys>;
		vcc5-supply = <&vcc_5v0_sys>;
		vcc6-supply = <&vcc_5v0_sys>;
		vcc7-supply = <&vcc_5v0_sys>;
		vcc8-supply = <&vcc_5v0_sys>;
		vcc9-supply = <&vcc_5v0_sys>;
		vcc10-supply = <&vcc_5v0_sys>;
		vcc11-supply = <&vcc_2v0_pldo_s3>;
		vcc12-supply = <&vcc_5v0_sys>;
		vcc13-supply = <&vcc_1v1_nldo_s3>;
		vcc14-supply = <&vcc_1v1_nldo_s3>;
		vcca-supply = <&vcc_5v0_sys>;

		gpio-controller;
		#gpio-cells = <2>;

		rk806_dvs1_null: dvs1-null-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun0";
		};

		rk806_dvs2_null: dvs2-null-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun0";
		};

		rk806_dvs3_null: dvs3-null-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun0";
		};

		rk806_dvs1_slp: dvs1-slp-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun1";
		};

		rk806_dvs1_pwrdn: dvs1-pwrdn-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun2";
		};

		rk806_dvs1_rst: dvs1-rst-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun3";
		};

		rk806_dvs2_slp: dvs2-slp-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun1";
		};

		rk806_dvs2_pwrdn: dvs2-pwrdn-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun2";
		};

		rk806_dvs2_rst: dvs2-rst-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun3";
		};

		rk806_dvs2_dvs: dvs2-dvs-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun4";
		};

		rk806_dvs2_gpio: dvs2-gpio-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun5";
		};

		rk806_dvs3_slp: dvs3-slp-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun1";
		};

		rk806_dvs3_pwrdn: dvs3-pwrdn-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun2";
		};

		rk806_dvs3_rst: dvs3-rst-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun3";
		};

		rk806_dvs3_dvs: dvs3-dvs-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun4";
		};

		rk806_dvs3_gpio: dvs3-gpio-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun5";
		};

		regulators {
			vdd_cpu_big_s0: dcdc-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_big_s0";
				regulator-enable-ramp-delay = <400>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_npu_s0: dcdc-reg2 {
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_npu_s0";
				regulator-enable-ramp-delay = <400>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_lit_s0: dcdc-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_lit_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_s3: dcdc-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_3v3_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vdd_gpu_s0: dcdc-reg5 {
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_gpu_s0";
				regulator-enable-ramp-delay = <400>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vddq_ddr_s0: dcdc-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vddq_ddr_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_logic_s0: dcdc-reg7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <800000>;
				regulator-name = "vdd_logic_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s3: dcdc-reg8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd2_ddr_s3: dcdc-reg9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd2_ddr_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_ddr_s0: dcdc-reg10 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd_ddr_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_1v8_s0: pldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca_1v8_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_1v8_codec_s0: pldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca_1v8_codec_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_1v2_s0: pldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdda_1v2_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_3v3_s0: pldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcca_3v3_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd_s0: pldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_1v8_s3: pldo-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca_1v8_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_0v75_s3: nldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdd_0v75_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdda_ddr_pll_s0: nldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdda_ddr_pll_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v75_hdmi_s0: nldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdda_0v75_hdmi_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v85_s0: nldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdda_0v85_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v75_s0: nldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdda_0v75_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0m1_xfer>;
	status = "okay";
};

&i2c2 {
	status = "okay";

	hym8563: rtc@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		pinctrl-names = "default";
		pinctrl-0 = <&hym8563_int>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA5 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
	};
};

&i2c5 {
	status = "okay";
	clock-frequency = <200000>;
	pinctrl-0 = <&i2c5m3_xfer>;

	rt5616: audio-codec@1b  {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "realtek,rt5616";
		reg = <0x1b>;
		clocks = <&cru CLK_SAI2_MCLKOUT_TO_IO>;
		clock-names = "mclk";
		assigned-clocks = <&cru CLK_SAI2_MCLKOUT_TO_IO>;
		assigned-clock-rates = <12288000>;
		pinctrl-names = "default";
		pinctrl-0 = <&sai2m0_mclk>;
	};
};

&i2c8 {
	clock-frequency = <200000>;
	pinctrl-0 = <&i2c8m2_xfer>;
};

/* Ethernet PHY Configuration */
&mdio0 {
	rgmii_phy0: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC0_OUT>;
	};
};

&mdio1 {
	rgmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC1_OUT>;
	};
};

/* PCIE Node */
&pcie0 {
	status = "okay";
	pinctrl-0 = <&pcie_m2_prsnt>;
	phys = <&combphy0_ps PHY_TYPE_PCIE>;
	reset-gpios = <&gpio2 RK_PB4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_m2_keym>;
};

/* PINs Configuration */
&pinctrl {

	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	gmac {
		gmac0_int: gmac0-int {
			rockchip,pins = <2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		gmac1_int: gmac1-int {
			rockchip,pins = <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};


	gpio-leds {
		sys_led_pin: sys-led-pin {
			rockchip,pins = <2 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		lan_led_pin: lan-led-pin {
			rockchip,pins = <2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		wan_led_pin: wan-led-pin {
			rockchip,pins = <4 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcie {
		pcie_m2_pwren: pcie-m2-pwren {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie_m2_prsnt: pcie-m20-prsnt {
			rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb {
		usb_otg0_pwren: usb-otg0-pwren {
			rockchip,pins = <0 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_host_pwren: usb-host-pwren {
			rockchip,pins = <0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};

	};

	wireless-bluetooth {
		uart5_gpios: uart5-gpios {
			rockchip,pins = <3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		wifi_poweren_gpio: wifi-poweren-gpio {
			rockchip,pins = <1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	audio {
		headphone_detect: headphone-detect {
			rockchip,pins = <2 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

/* SATA Configuration */
&sata0 {
	phys = <&combphy0_ps PHY_TYPE_SATA>;
	target-supply = <&vcc3v3_m2_keym>;
	status = "okay";
};

/* Audio Interface Configuration */
&sai2 {
	status = "okay";
};

&sai6 {
	status = "okay";
};

/* ADC Configuration */
&saradc {
	status = "okay";
	vref-supply = <&vcca_1v8_codec_s0>;
};

/* SD/MMC Configuration */
&sdio {
	max-frequency = <200000000>;
	bus-width = <4>;
	cap-sdio-irq;
	disable-wp;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	no-sd;
	no-mmc;
	non-removable;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_s3>;
	vqmmc-supply = <&vcc_1v8_s3>;
	pinctrl-0 = <&sdmmc1m0_bus4 &sdmmc1m0_clk &sdmmc1m0_cmd>;
	wakeup-source;
	status = "okay";
};

&sdmmc {
	max-frequency = <200000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_s3>;
	vqmmc-supply = <&vccio_sd_s0>;
	pinctrl-names = "default";
	status = "okay";
};

/* SPI Flash Configuration */
&fspi1m1_pins {
	rockchip,pins =
		/* clk, d0~4 */
		<1 RK_PD5 3 &pcfg_pull_none>,
		<1 RK_PC4 3 &pcfg_pull_none>,
		<1 RK_PC5 3 &pcfg_pull_none>,
		<1 RK_PC6 3 &pcfg_pull_none>,
		<1 RK_PC7 3 &pcfg_pull_none>;
};

&sfc1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&fspi1m1_csn0 &fspi1m1_pins>;
	#address-cells = <1>;
	#size-cells = <0>;

	spi-nor@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <20000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
		vcc-supply = <&vcc_1v8_s3>;
	};
};

/* UFS Storage */

&ufshc {
	status = "okay";
};

/* UART Configuration */

&uart3 {
	pinctrl-0 = <&uart3m0_xfer>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5m0_xfer &uart5m0_ctsn &uart5m0_rtsn>;
	status = "okay";

	bluetooth {
		compatible = "realtek,rtl8822cs-bt";
		enable-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
		device-wake-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
	};
};

&uart8 {
	pinctrl-0 = <&uart8m1_xfer>;
	status = "okay";
};

/* USB Configuration */
&usb_drd0_dwc3 {
	dr_mode = "otg";
	extcon = <&u2phy0>;
	status = "okay";
};

&usb_drd1_dwc3 {
	dr_mode = "host";
	status = "okay";
};

&usbdp_phy {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
	phy-supply = <&vbus5v0_typec>;
};

&u2phy1_otg {
	status = "okay";
	phy-supply = <&vcc5v0_host>;
};

/* Video Output Configuration */
&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	vp0_out_hdmi: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi_in_vp0>;
	};
};
