// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025, Teguh Sobirin.
 */

/dts-v1/;

#include "qcs8550-ayn-common.dtsi"

/ {
	model = "AYN Odin 2 Portal";
	compatible = "ayn,odin2portal", "qcom,qcs8550", "qcom,sm8550";
	qcom,msm-id = <603 0x20000>;
	qcom,board-id = <0x1001f 0>;

	vdd_bl_5v0: vdd-bl-5v0-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_bl_5v0";

		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;

		gpio = <&tlmm 52 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vdd_disp_2v8: vdd-disp-2v8-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_disp_2v8";

		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;

		gpio = <&tlmm 142 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&display_panel {
	compatible = "chipone,icna3512";

	blvdd-supply = <&vdd_bl_5v0>;
	iovdd-supply = <&vreg_l12b_1p8>;
	vdd-supply = <&vdd_disp_2v8>;

	reset-gpios = <&tlmm 133 GPIO_ACTIVE_LOW>;

	rotation = <270>;
};

&gpu {
	zap-shader {
		firmware-name = "qcom/sm8550/ayn/odin2portal/a740_zap.mbn";
	};
};

&i2c0 {
	htr3212l: led-controller@3c {
		compatible = "heroic,htr3212";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		sdb-gpios = <&tlmm 55 GPIO_ACTIVE_HIGH>;
		vdd-supply = <&vdd_mcu_3v3>;

		ledl_b1: led@1 {
			reg = <1>;
			label = "l:r1";
			color = <LED_COLOR_ID_RED>;
		};
		ledl_g1: led@2 {
			reg = <2>;
			label = "l:g1";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledl_r1: led@3 {
			reg = <3>;
			label = "l:b1";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledl_b2: led@4 {
			reg = <4>;
			label = "l:r2";
			color = <LED_COLOR_ID_RED>;
		};
		ledl_g2: led@5 {
			reg = <5>;
			label = "l:g2";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledl_r2: led@6 {
			reg = <6>;
			label = "l:b2";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledl_b3: led@7 {
			reg = <7>;
			label = "l:r3";
			color = <LED_COLOR_ID_RED>;
		};
		ledl_g3: led@8 {
			reg = <8>;
			label = "l:g3";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledl_r3: led@9 {
			reg = <9>;
			label = "l:b3";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledl_b4: led@10 {
			reg = <10>;
			label = "l:r4";
			color = <LED_COLOR_ID_RED>;
		};
		ledl_g4: led@11 {
			reg = <11>;
			label = "l:g4";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledl_r4: led@12 {
			reg = <12>;
			label = "l:b4";
			color = <LED_COLOR_ID_BLUE>;
		};
	};
};

&i2c4 {
	touchscreen: touchscreen@38 {
		compatible = "focaltech,ft5426";
		reg = <0x38>;
		#address-cells = <1>;
		#size-cells = <0>;

		interrupt-parent = <&tlmm>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;

		reset-gpios = <&tlmm 24 GPIO_ACTIVE_LOW>;

		vcc-supply = <&vreg_l14b_3p2>;
		iovcc-supply = <&vreg_l12b_1p8>;

		pinctrl-0 = <&ts_int_default &ts_rst_default>;
		pinctrl-1 = <&ts_int_sleep &ts_rst_sleep>;
		pinctrl-names = "default", "sleep";

		touchscreen-size-x = <1080>;
		touchscreen-size-y = <1920>;
	};
};

&i2c12 {
	htr3212r: led-controller@3c {
		compatible = "heroic,htr3212";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		sdb-gpios = <&tlmm 56 GPIO_ACTIVE_HIGH>;
		vdd-supply = <&vdd_mcu_3v3>;

		ledr_b1: led@1 {
			reg = <1>;
			label = "r:r1";
			color = <LED_COLOR_ID_RED>;
		};
		ledr_g1: led@2 {
			reg = <2>;
			label = "r:g1";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledr_r1: led@3 {
			reg = <3>;
			label = "r:b1";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledr_b2: led@4 {
			reg = <4>;
			label = "r:r2";
			color = <LED_COLOR_ID_RED>;
		};
		ledr_g2: led@5 {
			reg = <5>;
			label = "r:g2";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledr_r2: led@6 {
			reg = <6>;
			label = "r:b2";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledr_b3: led@7 {
			reg = <7>;
			label = "r:r3";
			color = <LED_COLOR_ID_RED>;
		};
		ledr_g3: led@8 {
			reg = <8>;
			label = "r:g3";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledr_r3: led@9 {
			reg = <9>;
			label = "r:b3";
			color = <LED_COLOR_ID_BLUE>;
		};
		ledr_b4: led@10 {
			reg = <10>;
			label = "r:r4";
			color = <LED_COLOR_ID_RED>;
		};
		ledr_g4: led@11 {
			reg = <11>;
			label = "r:g4";
			color = <LED_COLOR_ID_GREEN>;
		};
		ledr_r4: led@12 {
			reg = <12>;
			label = "r:b4";
			color = <LED_COLOR_ID_BLUE>;
		};
	};
};

&remoteproc_adsp {
	firmware-name = "qcom/sm8550/ayn/odin2portal/adsp.mbn",
			"qcom/sm8550/ayn/odin2portal/adsp_dtb.mbn";
	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/sm8550/ayn/odin2portal/cdsp.mbn",
			"qcom/sm8550/ayn/odin2portal/cdsp_dtb.mbn";
	status = "okay";
};

&spk_amp_l {
	firmware-name = "qcom/sm8550/ayn/odin2portal/aw883xx_acf.bin";
};

&spk_amp_r {
	firmware-name = "qcom/sm8550/ayn/odin2portal/aw883xx_acf.bin";
};
