/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>

/**
 * T98_RK3318 (Hongtop H50)
 */

&{/} {

	i2c-display {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio1 RK_PD1 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio1 RK_PD0 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <5>;
		i2c-gpio,sda-output-only;
		i2c-gpio,scl-output-only;
		#address-cells = <1>;
		#size-cells = <0>;

		display-controller@24 {
			#address-cells = <2>;
			#size-cells = <0>;

			compatible = "fdhisi,fd650";
			reg = <0x24>;
			tm16xx,digits = [04 03 02 01];
			tm16xx,segment-mapping = [03 04 05 00 01 02 06];

			led@2,1 {
				reg = <1 7>;
				function = LED_FUNCTION_USB;
			};

			led@2,2 {
				reg = <2 7>;
				function = "colon";
			};

			led@2,3 {
				reg = <3 7>;
				function = LED_FUNCTION_LAN;
			};

			led@2,4 {
				reg = <4 7>;
				function = LED_FUNCTION_WLAN;
			};

		};

	};

};
