Source: libcedrus
Section: devel
Priority: optional
Maintainer: Simon Eisenmann <simon@longsleep.org>
Build-Depends:
 debhelper (>= 9),
 libump-dev
Standards-Version: 3.9.7
Vcs-Git: https://github.com/linux-sunxi/libcedrus
Vcs-Browser: https://github.com/linux-sunxi/libcedrus

Package: libcedrus1
Section: libs
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Low-level acces to video enginge ofr Allwinner sunxi SoCs
 The Cedrus library is need for video engine access of Allwinner sunxi
 SOCS. The vdpau sunxi driver depends on it.

Package: libcedrus1-dev
Section: libdevel
Architecture: any
Depends:
 libcedrus1 (= ${binary:Version}),
 ${misc:Depends},
Description: Low-level acces to video enginge ofr Allwinner sunxi SoCs (development files)
 The Cedrus library is need for video engine access of Allwinner sunxi
 SOCS. This package is needed to build programs which link against libcedrus.
