#!/usr/bin/make -f

PACKAGE = libcedrus

override_dh_auto_build:
	dh_auto_build -- USE_UMP=1

override_dh_auto_install:
	dh_auto_install -- prefix=/usr libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@
