// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "sun50i-a64-recore.dtsi"
#include <dt-bindings/usb/pd.h>

/ {
	model = "Recore-A8";
	compatible = "iagent,recore-a8", "allwinner,sun50i-a64";

	reg_usb0_vbus: usb0-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb0-vbus0";
		regulator-type = "voltage";
		gpio = <&pio 3 7 GPIO_ACTIVE_HIGH>; // PD7: EN-USB-OTG
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-min-microamp = <1500000>;
		regulator-max-microamp = <1500000>;
		enable-active-high;
		status = "okay";
	};
};

&pio {
	reg_usb1_vbus4_pins: reg-usb1-vbus4-pins {
		pins = "PD5";
		function = "reg_usb1_vbus4";
	};
	reg_usb1_vbus3_pins: reg-usb1-vbus3-pins {
		pins = "PD6";
		function = "reg_usb1_vbus3";
	};
	reg_usb0_vbus_pins: reg-usb0-vbus-pins {
		pins = "PD7";
		function = "reg_usb0_vbus";
	};
	fusb0_int_pin: fusb0-int-pin {
		pins = "PH10";
		function = "gpio_in";
	};
};

&reg_usb1_vbus3 {
	gpio = <&pio 3 5 GPIO_ACTIVE_HIGH>;
};

&reg_usb1_vbus4 {
	gpio = <&pio 3 6 GPIO_ACTIVE_HIGH>;
};

&reg_aldo1 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-ext";
};

/* Set over current to: 30 A = 1200 mV */
&reg_dldo2 {
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
};

/* stm32 mcu */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usb_power_supply {
	regulator-name = "usb-power-supply";
	status = "okay";
};

&usbphy {
	status = "okay";
	usb-role-switch;

	port {
			usb0_role_switch: endpoint {
				remote-endpoint = <&fusb302_ep>;
			};
	};
};

&i2c1 {
	status = "okay";

	fusb0: fusb30x@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		pinctrl-names = "default";
		pinctrl-0 = <&fusb0_int_pin>;
		vbus-supply = <&reg_usb0_vbus>;
		interrupt-parent = <&pio>;
		interrupts = <7 10 IRQ_TYPE_LEVEL_LOW>; // PH10

		usb_con: connector {
			compatible = "usb-c-connector";
			data-role = "dual";
			label = "USB-C";
			power-role = "dual";
			op-sink-microwatt = <5000000>;
			sink-pdos = <PDO_FIXED(5000, 2000, PDO_FIXED_USB_COMM)>;
			source-pdos = <PDO_FIXED(5000, 1500, PDO_FIXED_USB_COMM)>;
			try-power-role = "sink";
			usb-role-switch = <&usbphy>;

			port {
				fusb302_ep: endpoint {
					remote-endpoint = <&usb0_role_switch>;
				};
			};
		};
	};
};

&ohci0 {
	status = "okay";
};

&ehci0 {
	status = "okay";
};
