// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Patrick Yavitz <pyavitz@armbian.com>
 */

/dts-v1/;

#include "sun50i-h618-bananapi-m4.dtsi"

/ {
	model = "BananaPi BPI-M4-Zero";
	compatible = "sinovoip,bpi-m4-zero", "allwinner,sun50i-h618";

	aliases {
		ethernet0 = &emac1;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		serial4 = &uart4;
		serial5 = &uart5;
		spi1 = &spi1;
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
			gpios = <&pio 2 12 GPIO_ACTIVE_HIGH>;	/* PC12 */
			linux,default-trigger = "heartbeat";
		};
	};
};

/* Connected to an on-board RTL8821CU USB WiFi chip. */
&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&emac1 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&rmii_phy>;
	phy-supply = <&reg_dldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
};

&mdio1 {
	rmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

/* SDIO */
&mmc1 {
	status = "disabled";
	bus-width = <4>;
	max-frequency = <100000000>;

	non-removable;
	disable-wp;

	/* WiFi firmware requires power to be kept while in suspend */
	keep-power-in-suspend;

	mmc-pwrseq = <&wifi_pwrseq>;

	cd-gpios = <&pio 6 15 GPIO_ACTIVE_HIGH>; /* PG15 */
	vmmc-supply = <&reg_vcc3v3>;

	sdio: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&usbotg {
	status = "okay";
	dr_mode = "peripheral";
};

&usbphy {
	status = "okay";
	usb1_vbus-supply = <&reg_usb_vbus>;
};
