// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Author: piotr.oniszczuk@gmail.com
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include "sun50i-h616-cpu-opp.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Tanix TX6s (axp313)";
	compatible = "tanix,tx6s-axp313", "tanix,tx6s", "allwinner,sun50i-h616";

	aliases {
		mmc0 = &mmc0;
		mmc2 = &mmc2;
		ethernet0 = &emac1;
		ethernet1 = &wlan;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	connector {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply directly from the USB-C socket */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_usb1_vbus: usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_vcc5v>;
		enable-active-high;
		/* gpio = <&pio 2 16 GPIO_ACTIVE_HIGH>; PC16 */
		status = "okay";
	};

	reg_vcc_wifi: reg_vcc_wifi {
		compatible = "regulator-fixed";
		regulator-name = "vcc-wifi";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pio 6 18 GPIO_ACTIVE_HIGH>; /* PG18 WL_REG_ON */
		regulator-always-on;
		enable-active-high;
		startup-delay-us = <200000>;
		status = "okay";
	};

	wifi_pwrseq: wifi_pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rtc CLK_OSC32K_FANOUT>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&x32clk_fanout_pin>; /* PG10 with MUX3 set */
	};

	sound-spdif {
		compatible = "simple-audio-card";
		simple-audio-card,name = "SPDIF";

		simple-audio-card,cpu {
			sound-dai = <&spdif>;
		};

		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	spdif_out: spdif-out {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
	};

	ac300_pwm_clk: ac300-clk {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		/* 500ns period -> 2MHz */
		pwms = <&pwm 5 500 0>;
		clock-frequency = <2000000>;
		status = "okay";
	};

	openvfd {
		compatible = "open,vfd";
		dev_name = "openvfd";
		openvfd_gpio_clk = <&pio 8 11 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		openvfd_gpio_dat = <&pio 8 12 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		vfd_gpio_chip_name = "0300b000.pinctrl";
		openvfd_chars = [02 04 03 02 01];
		openvfd_dot_bits = [00 01 03 02 04 05 06];
		openvfd_display_type = <0x03000001>;
		status = "okay";
	};
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
	status = "okay";
};

&de {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&hdmi {
	hvcc-supply = <&reg_aldo1>;
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&gpu {
	mali-supply = <&reg_dcdc1>;
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&emac1 {
	compatible = "allwinner,sun50i-h616-internal-emac";
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&ac300_ephy>;
	phy-supply = <&reg_aldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";

	mdio-mux {
		compatible = "allwinner,sun8i-h3-mdio-mux";
		#address-cells = <1>;
		#size-cells = <0>;
		mdio-parent-bus = <&mdio1>;

		internal_mdio: mdio@1 {
			compatible = "allwinner,sun8i-h3-mdio-internal";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			ac300_ephy: ethernet-phy@0 {
				compatible = "ethernet-phy-id0044.1400",
					     "allwinner,sun50i-h618-ac300-ephy",
					     "ethernet-phy-ieee802.3-c22";
				reg = <0>;
				clocks = <&ccu CLK_EMAC_25M>, <&ac300_pwm_clk>;
				clock-names = "ephy", "pwm";
				nvmem-cells = <&ephy_calibration>;
				nvmem-cell-names = "calibration";
				status = "okay";
			};
		};
	};
};

&mdio1 {
	compatible = "snps,dwmac-mdio";
};

&pwm {
	status = "okay";
};

&pwm5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm5_pin>;
	clk_bypass_output = <0x1>;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_dldo1>;
	broken-cd;
	bus-width = <4>;
	status = "okay";
};

&mmc1 {
	vmmc-supply = <&reg_dldo1>;
	vqmmc-supply = <&reg_vcc_wifi>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	status = "okay";

	wlan: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

&mmc2 {
	vmmc-supply = <&reg_dldo1>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&r_i2c {
	status = "okay";

	axp313a: pmic@36 {
		compatible = "x-powers,axp313a";
		reg = <0x36>;
		wakeup-source;
		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;

		regulators {
			reg_dcdc1: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-gpu";
			};

			reg_dcdc2: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-cpu";
			};

			reg_dcdc3: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd-dram";
			};

			reg_aldo1: aldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8";
			};

			reg_dldo1: dldo1 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3";
			};
		};
	};
};

&sid {
	ephy_calibration: ephy-calibration@2c {
		reg = <0x2c 0x2>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>, <&uart1_rts_cts_pins>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		clocks = <&rtc 1>;
		clock-names = "lpo";
		vbat-supply = <&reg_dldo1>;
		vddio-supply = <&reg_dldo1>;
               device-wakeup-gpios = <&pio 6 17 GPIO_ACTIVE_HIGH>; /* PG17 */
               host-wakeup-gpios = <&pio 6 16 GPIO_ACTIVE_HIGH>; /* PG16 */
               shutdown-gpios = <&pio 6 19 GPIO_ACTIVE_HIGH>; /* PG19 */
	};
};

&usbotg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&ir {
	linux,rc-map-name = "rc-beelink-gs1";
	status = "okay";
};

&codec {
	allwinner,audio-routing =
	        "Line Out", "LINEOUT";
	status = "okay";
};

&ahub_dam_plat {
	status = "okay";
};

&ahub_dam_mach {
	status = "okay";
};

&ahub1_plat {
	status = "okay";
};

&ahub1_mach {
	status = "okay";
};

&spdif {
	status = "okay";
};

