// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Patrick Yavitz <pyavitz@gmail.com>
 */

/dts-v1/;

#include "sun50i-h618-bananapi-m4.dtsi"

/ {
	model = "BananaPi BPI-M4-Zero rev.2";
};

/* SDIO */
&mmc1 {
	status = "okay";

	sdio: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

/* Bluetooth */
&uart1 {
	status = "okay";
	pinctrl-0 = <&uart1_pins>, <&uart1_rts_cts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "brcm,bcm43540-bt";
		max-speed = <1500000>;
		host-wakeup-gpios = <&pio 6 16 GPIO_ACTIVE_HIGH>;
		device-wakeup-gpios = <&pio 6 17 GPIO_ACTIVE_HIGH>;
		shutdown-gpios = <&pio 6 19 GPIO_ACTIVE_HIGH>;
		vbat-supply = <&reg_vcc3v3>;
		vddio-supply = <&reg_vcc1v8>;
	};
};
