// SPDX-License-Identifier: (GPL-2.0-only OR MIT)
/*
 * Copyright (C) 2026 Alastair D'Silva <alastair@d-silva.org>
 */

/dts-v1/;

#include "sun60i-a733.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	model = "OrangePi 4 Pro";
	compatible = "xunlong,orangepi-4-pro", "allwinner,sun60i-a733";

	aliases {
		ethernet0 = &gmac0;
		serial0 = &uart0;
		serial1 = &uart1;
		mmc0 = &mmc0;
		mmc1 = &mmc1;
		mmc2 = &mmc2;
		i2c0 = &r_i2c0;
		i2c7 = &twi7;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		stdout-path = "serial0:115200n8";
		bootargs = "earlycon=uart8250,mmio32,0x02500000";

		framebuffer0: framebuffer@0 {
			status = "disabled";
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x80000000>;
	};

	reg_vcc_3v3: regulator-vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_vcc_sd: regulator-vcc-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_serdes1v8: regulator-serdes1v8 {
		compatible = "regulator-fixed";
		regulator-name = "serdes1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_bldo1: regulator-bldo1 {
		compatible = "regulator-fixed";
		regulator-name = "bldo1";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_bldo2: regulator-bldo2 {
		compatible = "regulator-fixed";
		regulator-name = "bldo2";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_vcc_sd>;
	cd-gpios = <&pio 5 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* PF6 */
	cd-inverted;
	bus-width = <4>;
	status = "okay";
};

&mmc2 {
	status = "disabled";
};

&r_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&r_i2c0_pins>;
	clock-frequency = <400000>;
	status = "okay";

	axp8191: pmic@36 {
		compatible = "x-powers,axp8191";
		reg = <0x36>;
		#address-cells = <1>;
		#size-cells = <0>;

		regulators {
			reg_dldo1: dldo1 {
				regulator-name = "vcc-sd";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			reg_dc1sw1: dc1sw1 {
				regulator-name = "vcc-ephy";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			reg_dc1sw2: dc1sw2 {
				regulator-name = "vcc-gmac-io";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			reg_dcdc2: dcdc2 {
	};
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_rgmii_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_rgmii_phy>;
	tx-internal-delay-ps = <1200>;
	rx-internal-delay-ps = <1800>;
	allwinner,tx-delay-ps = <1200>;
	allwinner,rx-delay-ps = <1800>;
	allwinner,rgmii-clk-ext;
	status = "okay";

	mdio: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ext_rgmii_phy: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			reset-gpios = <&pio 7 16 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <150000>;
		};
	};
};


&serdes {
	serdes1v8-supply = <&reg_serdes1v8>;
	assigned-clocks = <&ccu CLK_SERDES_PHY_CFG>;
	assigned-clock-parents = <&ccu CLK_PLL_PERIPH0_600M>;
	assigned-clock-rates = <100000000>;
	udp-disable;
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_vcc_3v3>;
	vcc-pg-supply = <&reg_serdes1v8>;
	vcc-pj-supply = <&reg_bldo2>;
	vcc-pk-supply = <&reg_bldo1>;
};

&r_pio {
	vcc-pm-supply = <&reg_serdes1v8>;
	status = "okay";
};

&dma {
	status = "okay";
};

