// SPDX-License-Identifier: (GPL-2.0-only OR MIT)
/*
 * Copyright (C) 2026 Alastair D'Silva <alastair@d-silva.org>
 */

/dts-v1/;

#include "sun60i-a733.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	model = "OrangePi 4 Pro";
	compatible = "xunlong,orangepi-4-pro", "allwinner,sun60i-a733";

	aliases {
		ethernet0 = &gmac0;
		serial0 = &uart0;
		serial1 = &uart1;
		mmc0 = &mmc0;
		mmc1 = &mmc1;
		mmc2 = &mmc2;
		i2c0 = &r_i2c0;
		i2c7 = &twi7;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		stdout-path = "serial0:115200n8";
		bootargs = "earlycon=uart8250,mmio32,0x02500000";

		framebuffer: framebuffer@ff800000 {
			compatible = "allwinner,simple-framebuffer", "simple-framebuffer";
			reg = <0x0 0xff800000 0x0 0x007e9000>;
			width = <1920>;
			height = <1080>;
			stride = <7680>;
			format = "x8r8g8b8";
			status = "okay";
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer_rsv: framebuffer@ff800000 {
			reg = <0x0 0xff800000 0x0 0x007e9000>;
			no-map;
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x80000000>;
	};

	reg_vcc_3v3: regulator-vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_vcc_sd: regulator-vcc-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_usb0_vbus: regulator-usb0-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpios = <&pio 1 8 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_usb1_vbus: regulator-usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpios = <&pio 1 7 GPIO_ACTIVE_LOW>;
		enable-active-low;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_serdes1v8: regulator-serdes1v8 {
		compatible = "regulator-fixed";
		regulator-name = "serdes1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_bldo1: regulator-bldo1 {
		compatible = "regulator-fixed";
		regulator-name = "bldo1";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_bldo2: regulator-bldo2 {
		compatible = "regulator-fixed";
		regulator-name = "bldo2";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_bldo4: regulator-bldo4 {
		compatible = "regulator-fixed";
		regulator-name = "bldo4";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&osc32k>;
		clock-names = "ext_clock";
		reset-gpios = <&r_pio 1 1 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <200>;
		power-off-delay-us = <500>;
	};

	rfkill_bt: rfkill-bt {
		compatible = "rfkill-gpio";
		label = "rfkill-bt";
		radio-type = "bluetooth";
		shutdown-gpios = <&r_pio 1 2 GPIO_ACTIVE_HIGH>; /* PM2 */
	};

	sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,name = "OrangePi-Audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&sound_cpu>;
		simple-audio-card,frame-master = <&sound_cpu>;
		simple-audio-card,mclk-fs = <256>;

		sound_cpu: simple-audio-card,cpu {
			sound-dai = <&i2s4>;
		};

		sound_codec: simple-audio-card,codec {
			sound-dai = <&es8388>;
			system-clock-frequency = <12288000>;
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_vcc_sd>;
	cd-gpios = <&pio 5 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* PF6 */
	cd-inverted;
	bus-width = <4>;
	status = "okay";
};

&mmc1 {
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_serdes1v8>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	status = "okay";

	wifi@1 {
		reg = <1>;
		interrupt-parent = <&r_pio>;
		interrupts = <1 0 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
	};
};

&mmc2 {
	status = "disabled";
};

&r_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&r_i2c0_pins>;
	clock-frequency = <400000>;
	status = "okay";

	axp8191: pmic@36 {
		compatible = "x-powers,axp8191";
		reg = <0x36>;
		#address-cells = <1>;
		#size-cells = <0>;

		regulators {
			reg_dldo1: dldo1 {
				regulator-name = "vcc-sd";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			reg_dc1sw1: dc1sw1 {
				regulator-name = "vcc-ephy";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			reg_dc1sw2: dc1sw2 {
				regulator-name = "vcc-gmac-io";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			reg_dcdc2: dcdc2 {
				regulator-name = "vdd-cpu";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1400000>;
				regulator-ramp-delay = <200>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_rgmii_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_rgmii_phy>;
	tx-internal-delay-ps = <1200>;
	rx-internal-delay-ps = <1800>;
	allwinner,tx-delay-ps = <1200>;
	allwinner,rx-delay-ps = <1800>;
	allwinner,rgmii-clk-ext;
	status = "okay";

	mdio: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ext_rgmii_phy: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			reset-gpios = <&pio 7 16 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <150000>;
		};
	};
};


&serdes {
	serdes1v8-supply = <&reg_serdes1v8>;
	assigned-clocks = <&ccu CLK_SERDES_PHY_CFG>;
	assigned-clock-parents = <&ccu CLK_PLL_PERIPH0_600M>;
	assigned-clock-rates = <100000000>;
	udp-disable;
	status = "okay";
};

&combo0_usb {
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

&ehci0 {
	status = "disabled";
};

&ohci0 {
	status = "disabled";
};

&ehci1 {
	vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

&ohci1 {
	vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

&dwc3 {
	dr_mode = "host";
	vbus-supply = <&reg_usb1_vbus>;
	phys = <&u2phy>, <&combo0_usb>;
	phy-names = "usb2-phy", "usb3-phy";
	snps,dis-u1-entry-quirk;
	snps,dis-u2-entry-quirk;
	snps,dis_u2_susphy_quirk;
	snps,dis_u3_susphy_quirk;
	snps,dis_enblslpm_quirk;
	status = "okay";
};

&u2phy {
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_vcc_3v3>;
	vcc-pg-supply = <&reg_serdes1v8>;
	vcc-pj-supply = <&reg_bldo2>;
	vcc-pk-supply = <&reg_bldo1>;
};

&r_pio {
	vcc-pm-supply = <&reg_serdes1v8>;
	status = "okay";
};

&pcie_rc {
	phys = <&combo1_pcie>;
	phy-names = "pcie-phy";
	power-gpios = <&r_pio 0 3 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&pio 3 22 GPIO_ACTIVE_HIGH>;
	wake-gpios = <&pio 3 21 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&npu {
	status = "okay";
};

&dma {
	status = "okay";
};

&ths {
	status = "okay";
};

&s_pwm {
	status = "okay";
};

&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&ce {
	status = "okay";
};

&gpadc {
	status = "okay";
};

&lradc {
	/* LRADC0 is unpopulated on Orange Pi 4 Pro (R90986 NC) */
	status = "disabled";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pg_pins>;
	uart-has-rtscts;
	status = "okay";
};

&i2s4 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s4_pins>;
	assigned-clocks = <&ccu CLK_I2S4>;
	assigned-clock-parents = <&ccu CLK_PLL_AUDIO0_4X>;
	assigned-clock-rates = <12288000>;
	status = "okay";
};

&twi7 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&twi7_pins>;
	status = "disabled";

	es8388: codec@10 {
		compatible = "everest,es8388", "everest,es8328";
		reg = <0x10>;
		AVDD-supply = <&reg_vcc_3v3>;
		DVDD-supply = <&reg_bldo4>;
		HPVDD-supply = <&reg_vcc_3v3>;
		PVDD-supply = <&reg_bldo4>;
		clocks = <&ccu CLK_I2S4>;
		clock-names = "mclk";
		assigned-clocks = <&ccu CLK_I2S4>;
		assigned-clock-parents = <&ccu CLK_PLL_AUDIO0_4X>;
		assigned-clock-rates = <12288000>;
		#sound-dai-cells = <0>;
	};
};

/*
 * Expansion buses on 40-pin header:
 * Fully declared and tested, but disabled by default per policy to preserve GPIOs.
 */
&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pc_pins>;
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		status = "okay";
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_ph_pins>;
	status = "disabled";
};

&twi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&twi0_pb_pins>;
	status = "disabled";
};

&twi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&twi1_pb_pins>;
	status = "disabled";
};

&twi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&twi2_pe_pins>;
	status = "disabled";
};

&twi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&twi3_pe_pins>;
	status = "disabled";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pb_pins>;
	status = "disabled";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pi_pins>;
	status = "disabled";
};
