/dts-v1/;

#include "meson-gxm.dtsi"
#include "meson-gx-p23x-q20x.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	compatible = "magicsee,c400-plus", "amlogic,s912", "amlogic,meson-gxm";
	model = "Magicsee C400 Plus";

	i2c-display {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio 66 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 65 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <5>;
		#address-cells = <1>;
		#size-cells = <0>;

		display@24 {
			compatible = "fdhisi,fd655";
			reg = <0x24>;

			digits {
				#address-cells = <1>;
				#size-cells = <0>;
				digit@1 {
					reg = <1>;
					segments = <1 0>, <1 1>, <1 2>, <1 3>, <1 4>, <1 5>, <1 6>;
				};
				digit@2 {
					reg = <2>;
					segments = <2 0>, <2 1>, <2 2>, <2 3>, <2 4>, <2 5>, <2 6>;
				};
				digit@3 {
					reg = <3>;
					segments = <3 0>, <3 1>, <3 2>, <3 3>, <3 4>, <3 5>, <3 6>;
				};
				digit@4 {
					reg = <4>;
					segments = <4 0>, <4 1>, <4 2>, <4 3>, <4 4>, <4 5>, <4 6>;
				};
			};
		};
	};

	leds {
		compatible = "gpio-leds";
		led-status {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	vddgpu: regulator-vddgpu {
		compatible = "regulator-fixed";
		regulator-name = "mali";
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&ethmac {
	phy-mode = "rmii";
	phy-handle = <&internal_phy>;
};

&gpu_opp_table {
	status = "okay";
	opp-125000000 {
		opp-hz = /bits/ 64 <125000000>;
		opp-microvolt = <1000000>;
	};
	opp-250000000 {
		opp-hz = /bits/ 64 <250000000>;
		opp-microvolt = <1000000>;
	};
	opp-285714285 {
		opp-hz = /bits/ 64 <285714285>;
		opp-microvolt = <1000000>;
	};
	opp-400000000 {
		opp-hz = /bits/ 64 <400000000>;
		opp-microvolt = <1000000>;
	};
	opp-500000000 {
		opp-hz = /bits/ 64 <500000000>;
		opp-microvolt = <1000000>;
	};
	opp-666666666 {
		opp-hz = /bits/ 64 <666666666>;
		opp-microvolt = <1000000>;
	};
};

&mali {
	status = "okay";
	mali-supply = <&vddgpu>;
	operating-points-v2 = <&gpu_opp_table>;
	/delete-property/ #cooling-cells;
	linux,pin-runtime-pm-probe;
};

&sd_emmc_a {
	status = "okay";
	max-frequency = <50000000>;
	non-removable;
	qca_wifi: wifi@1 {
		reg = <1>;
		compatible = "qcom,qca9377-wifi";
	};
};

&sd_emmc_b {
	status = "okay";
	broken-cd;
};

&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "qcom,qca9377-bt";
		enable-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
		clock-names = "lpo";
	};
};
