/dts-v1/;

#include "meson-gxm.dtsi"
#include "meson-gx-p23x-q20x.dtsi"

/ {
	compatible = "magicsee,c400-plus", "amlogic,s912", "amlogic,meson-gxm";
	model = "Magicsee C400 Plus";

	vddgpu: regulator-vddgpu {
		compatible = "regulator-fixed";
		regulator-name = "mali";
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&ethmac {
	phy-mode = "rmii";
	phy-handle = <&internal_phy>;
};

&gpu_opp_table {
	status = "okay";
	/delete-node/ opp-666666666;
	/delete-node/ opp-125000000;	
	opp-250000000 {
		opp-hz = /bits/ 64 <250000000>;
		opp-microvolt = <1000000>;
	};
	opp-285714285 {
		opp-hz = /bits/ 64 <285714285>;
		opp-microvolt = <1000000>;
	};
	opp-400000000 {
		opp-hz = /bits/ 64 <400000000>;
		opp-microvolt = <1000000>;
	};
	opp-500000000 {
		opp-hz = /bits/ 64 <500000000>;
		opp-microvolt = <1000000>;
	};
};

&sd_emmc_a {
	status = "okay";
	max-frequency = <50000000>;
	non-removable;
	qca_wifi: wifi@1 {
		reg = <1>;
		compatible = "qcom,qca9377-wifi";
	};
};

&sd_emmc_b {
	status = "okay";
	broken-cd;
};

&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "qcom,qca9377-bt";
		enable-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
		clock-names = "lpo";
	};
};

&mali {
    status = "okay";
    mali-supply = <&vddgpu>;
    operating-points-v2 = <&gpu_opp_table>;
    /delete-property/ #cooling-cells;
    linux,pin-runtime-pm-probe;
};

