# SAMPLE
PACKAGE=armbian-bionic-desktop
REVISION=5.99
ARCH=all
MAINTAINER=John
MAINTAINERMAIL=john@doe.com
SECTION=xorg
PRIORITY=optional
DEPENDS="xserver-xorg xserver-xorg-video-fbdev gvfs-backends gvfs-fuse xfonts-base xinit x11-xserver-utils xfce4 lxtask xfce4-terminal thunar-volman gtk2-engines gtk2-engines-murrine gtk2-engines-pixbuf libgtk2.0-bin libgnome2-perl network-manager-gnome xfce4-notifyd gnome-keyring gcr libgck-1-0 p11-kit pasystray pavucontrol pulseaudio pavumeter pulseaudio-module-gconf bluez bluez-tools pulseaudio-module-bluetooth blueman libpam-gnome-keyring libgl1-mesa-dri policykit-1 profile-sync-daemon gnome-orca numix-gtk-theme xserver-xorg-input-all paprefs dbus-x11"
RECOMMENDS="mirage galculator hexchat xfce4-screenshooter network-manager-openvpn-gnome mpv fbi cups-pk-helper cups geany atril xarchiver leafpad chromium-browser system-config-printer-common system-config-printer language-selector-gnome"
PROVIDES=armbian-bionic-desktop
DESCRIPTION="Armbian XFCE desktop"
CONFLICTS="joe"
REPLACES="ui"
