[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Type=Application
Name=DMBP Chromium
Comment=Start local browser for displaying web app
Exec=chromium-browser --kiosk --no-first-run --noerrdialogs --disable-infobars --enable-features=OverlayScrollbar http://localhost
OnlyShowIn=GNOME;
StartupNotify=false
Terminal=false
Hidden=false
