[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Type=Application
Name=DMBP Resolution
Comment=Set vertical screen orientation
Exec=dmbp-update-resolution
OnlyShowIn=GNOME;
StartupNotify=false
Terminal=false
Hidden=false
