[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Type=Application
Name=DMBP Gnome
Comment=Patch Gnome settings for DMB Pro
Exec=dmbp-update-gnome
OnlyShowIn=GNOME;
StartupNotify=false
Terminal=false
Hidden=false
