[package]
;item=Item_TOC_name,         Item_filename,
item=u-boot,                 u-boot.fex
item=parameter,              parameter.fex
item=monitor,                monitor.fex
item=scp,                    scp.fex
item=soc-cfg,                config.fex
item=dtb,                    sunxi.fex
;item=board-cfg,              board.fex
;item=board-fex,              board_config.fex
;item=esm-img,                esm.fex
