Tests: examples
Depends: build-essential, ffmpeg-doc, libavdevice-dev, libavformat-dev, libavfilter-dev, libavcodec-dev, libswresample-dev, libswscale-dev, libavutil-dev, pkg-config

Tests: encdec
Depends: ffmpeg

Tests: encdec-extra
Depends: ffmpeg, libavcodec-extra
