// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Alastair D'Silva <alastair@d-silva.org>
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include "sun50i-h616-cpu-opp.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Mellow Fly-C5";
	compatible = "mellow,fly-c5", "allwinner,sun50i-h618";

	aliases {
		ethernet0 = &emac1;
		serial0 = &uart0;
		serial1 = &uart1;
		mmc0 = &mmc0; /* SD Card */
		mmc1 = &mmc1; /* Wi-Fi */
		mmc2 = &mmc2; /* eMMC */
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc5v: regulator-vcc5v {
		/* Board wide 5V supply */
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "vcc-5v";
	};

	reg_vcc3v3: regulator-vcc3v3 {
		/* Fixed 3.3V for internal modules */
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc-3v3";
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc1v8: regulator-vcc1v8 {
		/* Fixed 1.8V for internal modules */
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-name = "vcc-1v8";
		vin-supply = <&reg_vcc3v3>;
	};

	reg_vcc33_wifi: regulator-vcc33-wifi {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc33-wifi";
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc_wifi_io: regulator-vcc-wifi-io {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-name = "vcc-wifi-io";
		vin-supply = <&reg_vcc33_wifi>;
	};

	ac300_pwm_reg: ac300-pwm-regulator {
		compatible = "regulator-fixed-clock";
		regulator-always-on;
		regulator-name = "ac300-pwm-reg";
		clocks = <&ac300_pwm_clk>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rtc CLK_OSC32K_FANOUT>;
		clock-names = "ext_clock";
		pinctrl-0 = <&x32clk_fanout_pin>;
		pinctrl-names = "default";
		post-power-on-delay-ms = <200>;
		reset-gpios = <&pio 6 18 GPIO_ACTIVE_LOW>; /* PG18 */
	};

	ac300_pwm_clk: ac300-clk {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		pwms = <&pwm 5 500 0>; /* 500ns period -> 2MHz */
		clock-frequency = <2000000>;
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			function = LED_FUNCTION_POWER;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&pio 8 16 GPIO_ACTIVE_HIGH>; /* PI16 */
			default-state = "on";
		};

		led-1 {
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&pio 8 0 GPIO_ACTIVE_HIGH>; /* PI0 */
			linux,default-trigger = "heartbeat";
		};
	};
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&de {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&emac1 {
	compatible = "allwinner,sun50i-h616-internal-emac";
	reg = <0x05030000 0x10000>;
	syscon = <&syscon 1>;
	clocks = <&ccu CLK_BUS_EMAC1>, <&ccu CLK_EMAC_25M>;
	clock-names = "stmmaceth", "emac-25m";
	interrupt-names = "macirq";
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&ac300_ephy>;
	phy-supply = <&reg_dldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";

	/delete-property/ reg-names;
	/delete-property/ phy-rst;
	/delete-property/ gmac-power0;
	/delete-property/ gmac-power1;
	/delete-property/ gmac-power2;

	mdio-mux {
		compatible = "allwinner,sun8i-h3-mdio-mux";
		#address-cells = <1>;
		#size-cells = <0>;
		mdio-parent-bus = <&mdio1>;

		internal_mdio: mdio@1 {
			compatible = "allwinner,sun8i-h3-mdio-internal";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			ac300_ephy: ethernet-phy@0 {
				compatible = "ethernet-phy-id0044.1400", "allwinner,sun50i-h618-ac300-ephy", "ethernet-phy-ieee802.3-c22";
				reg = <0>;
				clocks = <&ccu CLK_EMAC_25M>, <&ac300_pwm_clk>;
				clock-names = "ephy", "pwm";
				nvmem-cells = <&ephy_calibration>;
				nvmem-cell-names = "calibration";
				status = "okay";
			};
		};
	};
};

&mdio1 {
	compatible = "snps,dwmac-mdio";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pa_pins>;
	status = "okay";
};

&gpu {
	mali-supply = <&reg_dcdc1>;
	status = "okay";
};

&hdmi {
	hvcc-supply = <&reg_aldo1>;
	vcc-hdmi-supply = <&reg_dldo1>;
	status = "okay";
};

&hdmi_phy {
	status = "okay";
};

&ir {
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; /* PF6 */
	bus-width = <4>;
	status = "okay";
};

&mmc1 {
	vmmc-supply = <&reg_vcc33_wifi>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	no-1-8-v;
	mmc-ddr-3_3v;
	cap-sd-highspeed;
	cap-mmc-highspeed;
	status = "okay";

	wifi@1 {
		reg = <1>;
	};
};

&mmc2 {
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_vcc3v3>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	cap-mmc-highspeed;
	no-1-8-v;
	max-frequency = <40000000>;
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&pio {
	vcc-pc-supply = <&reg_dldo1>;
	vcc-pf-supply = <&reg_dldo1>;
	vcc-pg-supply = <&reg_dldo1>;
	vcc-ph-supply = <&reg_dldo1>;
	vcc-pi-supply = <&reg_dldo1>;
};

&pwm {
	pwm-number = <6>;
	pwm-base = <0>;
	sunxi-pwms = <&pwm0>, <&pwm1>, <&pwm2>, <&pwm3>, <&pwm4>, <&pwm5>;
	status = "okay";
};

&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&pwm4 {
	status = "okay";
};

&pwm5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm5_pin>;
	clk_bypass_output = <1>;
	status = "okay";
};

&r_i2c {
	status = "okay";

	axp313: pmic@36 {
		compatible = "x-powers,axp313a";
		reg = <0x36>;
		#interrupt-cells = <1>;
		interrupt-controller;
		/*
		 * Omit interrupt to break dependency cycle with &pio.
		 * reg_dldo1 supplies &pio, so &pio depends on PMIC.
		 * PMIC interrupt on PC9 depends on &pio.
		 */

		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;

		regulators {
			/* Supplies VCC-PLL and DRAM */
			reg_aldo1: aldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8";
			};

			/* Supplies VCC-IO, so needs to be always on. */
			reg_dldo1: dldo1 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3";
			};

			reg_dcdc1: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <990000>;
				regulator-name = "vdd-gpu-sys";
			};

			reg_dcdc2: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-cpu";
			};

			reg_dcdc3: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd-dram";
			};
		};
	};
};

&sid {
	ephy_calibration: ephy-calibration@2c {
		reg = <0x2c 0x2>;
	};
};

&ths {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	usb2_vbus-supply = <&reg_vcc5v>;
	usb3_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};
