// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "sun50i-a64-recore.dtsi"

/ {
	model = "Recore-A5";
	compatible = "iagent,recore-a5", "allwinner,sun50i-a64";

	e0-consumer {
		compatible = "regulator-output";
		vout-supply = <&reg_aldo1>;
	};

	e1-consumer {
		compatible = "regulator-output";
		vout-supply = <&reg_aldo2>;
	};

	e2-consumer {
		compatible = "regulator-output";
		vout-supply = <&reg_dldo3>;
	};

	e3-consumer {
		compatible = "regulator-output";
		vout-supply = <&reg_dldo4>;
	};
};

&reg_aldo1 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <700000>;
	regulator-name = "vcc-vref-e0";
};

&reg_aldo2 {
	regulator-min-microvolt = <3200000>;
	regulator-max-microvolt = <3200000>;
	regulator-name = "vcc-vref-e1";
};

&reg_dldo3 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <700000>;
	regulator-name = "vcc-vref-e2";
};

&reg_dldo4 {
	regulator-min-microvolt = <700000>;
	regulator-max-microvolt = <700000>;
	regulator-name = "vcc-vref-e3";
};

&reg_dcdc5 {
	regulator-min-microvolt = <1500000>;
	regulator-max-microvolt = <1500000>;
};

/* STM32 */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
	status = "okay";
};

&mali {
	/delete-property/ operating-points-v2;
	assigned-clocks = <&ccu CLK_GPU>;
	assigned-clock-rates = <180000000>;
};

&mbus {
	status = "disabled";
};
