// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Patrick Yavitz <pyavitz@armbian.com>
 */

/dts-v1/;

#include "sun50i-h618-bananapi-m4.dtsi"

/ {
        model = "BananaPi BPI-M4-Zero";
        compatible = "sinovoip,bpi-m4-zero", "allwinner,sun50i-h618";

        aliases {
                ethernet0 = &emac1;
                i2c0 = &i2c0;
                i2c1 = &i2c1;
                i2c3 = &i2c3;
                i2c4 = &i2c4;
                serial4 = &uart4;
                serial5 = &uart5;
                spi1 = &spi1;
        };

        leds {
                compatible = "gpio-leds";

                led-0 {
                        color = <LED_COLOR_ID_RED>;
                        function = LED_FUNCTION_STATUS;
                        gpios = <&pio 2 12 GPIO_ACTIVE_HIGH>;   /* PC12 */
                        linux,default-trigger = "heartbeat";
                };
        };

        ac300_pwm_clk: ac300-clk {
                compatible = "pwm-clock";
                #clock-cells = <0>;
                /* 500ns period -> 2MHz */
                pwms = <&pwm 5 500 0>;
                clock-frequency = <2000000>;
                status = "okay";
        };

};

/* Connected to an on-board RTL8821CU USB WiFi chip. */
&ehci1 {
        status = "okay";
};

&ehci2 {
        status = "okay";
};

&ehci3 {
        status = "okay";
};

&emac1 {
        compatible = "allwinner,sun50i-h616-internal-emac";
        pinctrl-names = "default";
        pinctrl-0 = <&rmii_pins>;
        phy-mode = "rmii";
        phy-handle = <&ac300_ephy>;
        phy-supply = <&reg_dldo1>;
        allwinner,rx-delay-ps = <3100>;
        allwinner,tx-delay-ps = <700>;
        status = "disabled";

        mdio-mux {
                compatible = "allwinner,sun8i-h3-mdio-mux";
                #address-cells = <1>;
                #size-cells = <0>;
                mdio-parent-bus = <&mdio1>;

                internal_mdio: mdio@1 {
                        compatible = "allwinner,sun8i-h3-mdio-internal";
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        ac300_ephy: ethernet-phy@0 {
                                compatible = "ethernet-phy-id0044.1400",
                                             "allwinner,sun50i-h618-ac300-ephy",
                                             "ethernet-phy-ieee802.3-c22";
                                reg = <0>;
                                clocks = <&ccu CLK_EMAC_25M>, <&ac300_pwm_clk>;
                                clock-names = "ephy", "pwm";
                                nvmem-cells = <&ephy_calibration>;
                                nvmem-cell-names = "calibration";
                                status = "okay";
                        };
                };
        };
};
/* SDIO */
&mmc1 {
        status = "disabled";
        bus-width = <4>;
        max-frequency = <100000000>;

        non-removable;
        disable-wp;

        /* WiFi firmware requires power to be kept while in suspend */
        keep-power-in-suspend;

        mmc-pwrseq = <&wifi_pwrseq>;

        cd-gpios = <&pio 6 15 GPIO_ACTIVE_HIGH>; /* PG15 */
        vmmc-supply = <&reg_vcc3v3>;

        sdio: wifi@1 {
                reg = <1>;
                compatible = "brcm,bcm4329-fmac";
        };
};

&ohci1 {
        status = "okay";
};

&ohci2 {
        status = "okay";
};

&ohci3 {
        status = "okay";
};

&usbotg {
        status = "okay";
        dr_mode = "peripheral";
};

&usbphy {
        status = "okay";
        usb1_vbus-supply = <&reg_usb_vbus>;
};

&sid {
        ephy_calibration: ephy-calibration@2c {
                reg = <0x2c 0x2>;
        };
};

&codec {
        allwinner,audio-routing = "Line Out", "LINEOUT";
        status = "okay";
};
