// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Walnut Pi 1 family common core (WalnutPi 1B / ZeroW / CM1 / Box):
 * Allwinner H618, LPDDR4, AXP313a PMIC, microSD (mmc0), UNISOC UWE5622
 * Wi-Fi/BT on SDIO (mmc1), eMMC pads on mmc2 (populated on CM1 only),
 * HDMI, 100 Mbit Ethernet via the co-packaged AC300-class EPHY on
 * emac1/RMII (EPHY calibration from the SID eFuse at 0x2c; on ZeroW the
 * port is on the FPC expansion), analog codec and IR (FPC on ZeroW).
 * Wiring derived from the vendor sun50i-h616-walnutpi-1b(-emmc).dts
 * (walnutpi/linux, branch 6.1.31), which serves the whole family.
 */

#include "sun50i-h616.dtsi"
#include "sun50i-h616-cpu-opp.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/leds/common.h>

/ {
	aliases {
		ethernet1 = &emac1;
		mmc0 = &mmc0;
		mmc1 = &mmc1;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	hdmi_connector: connector {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	ac300_pwm_clk: ac300-clk {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		/* 500ns period -> 2MHz; PWM5 bypass outputs 24MHz to the EPHY */
		pwms = <&pwm 5 500 0>;
		clock-frequency = <2000000>;
		status = "okay";
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply from the USB-C power input */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_vcc3v3: vcc3v3 {
		/* discrete DC/DC converter */
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
		regulator-always-on;
	};

	reg_usb1_vbus: regulator-usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc33_wifi: vcc33-wifi {
		/* Always on 3.3V regulator for WiFi and BT */
		compatible = "regulator-fixed";
		regulator-name = "vcc33-wifi";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc_wifi_io: vcc-wifi-io {
		/* Always on 1.8V/300mA regulator for WiFi and BT IO */
		compatible = "regulator-fixed";
		regulator-name = "vcc-wifi-io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		vin-supply = <&reg_vcc33_wifi>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&x32clk_fanout_pin>;
		clocks = <&rtc 1>;
		clock-names = "ext_clock";
		reset-gpios = <&pio 6 18 GPIO_ACTIVE_LOW>;  /* PG18 */
		post-power-on-delay-ms = <200>;
	};
};

&codec {
	allwinner,audio-routing = "Line Out", "LINEOUT";
	status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&de {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&emac1 {
	compatible = "allwinner,sun50i-h616-internal-emac";
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&ac300_ephy>;
	phy-supply = <&reg_vcc3v3>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";

	mdio-mux {
		compatible = "allwinner,sun8i-h3-mdio-mux";
		#address-cells = <1>;
		#size-cells = <0>;
		mdio-parent-bus = <&mdio1>;

		internal_mdio: mdio@1 {
			compatible = "allwinner,sun8i-h3-mdio-internal";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			ac300_ephy: ethernet-phy@0 {
				compatible = "ethernet-phy-id0044.1400", "allwinner,sun50i-h618-ac300-ephy", "ethernet-phy-ieee802.3-c22";
				reg = <0>;
				clocks = <&ccu CLK_EMAC_25M>, <&ac300_pwm_clk>;
				clock-names = "ephy", "pwm";
				nvmem-cells = <&ephy_calibration>;
				nvmem-cell-names = "calibration";
				status = "okay";
			};
		};
	};
};

&gpu {
	mali-supply = <&reg_dcdc1>;
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&ir {
	pinctrl-names = "default";
	pinctrl-0 = <&ir_rx_pin>;
	status = "okay";
};

&mdio1 {
	compatible = "snps,dwmac-mdio";
};

/* microSD */
&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;	/* PF6 */
	bus-width = <4>;
	status = "okay";
};

/* SDIO Wi-Fi (UNISOC UWE5622) */
&mmc1 {
	vmmc-supply = <&reg_vcc33_wifi>;
	vqmmc-supply = <&reg_vcc_wifi_io>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	mmc-ddr-1_8v;
	status = "okay";
};

/* eMMC pads; only populated on the CM1 module */
&mmc2 {
	vmmc-supply = <&reg_vcc3v3>;
	no-1-8-v;
	bus-width = <8>;
	non-removable;
	status = "disabled";
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&pio {
	vcc-pc-supply = <&reg_dldo1>;
	vcc-pf-supply = <&reg_dldo1>;
	vcc-pg-supply = <&reg_aldo1>;
	vcc-ph-supply = <&reg_dldo1>;
	vcc-pi-supply = <&reg_dldo1>;
};

&pwm {
	status = "okay";
};

&pwm5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm5_pin>;
	clk_bypass_output = <0x1>;
	status = "okay";
};

&r_i2c {
	status = "okay";

	axp313: pmic@36 {
		compatible = "x-powers,axp313a";
		reg = <0x36>;

		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;

		regulators {
			/* Supplies VCC-PLL and DRAM */
			reg_aldo1: aldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8";
			};

			/* Supplies VCC-IO, so needs to be always on. */
			reg_dldo1: dldo1 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3-io";
			};

			reg_dcdc1: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <990000>;
				regulator-name = "vdd-gpu-sys";
			};

			reg_dcdc2: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-cpu";
			};

			reg_dcdc3: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-dram";
			};
		};
	};
};

&sid {
	ephy_calibration: ephy-calibration@2c {
		reg = <0x2c 0x2>;
	};
};

/* SPI flash pads; unpopulated by default */
&spi0 {
	status = "disabled";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

&usbotg {
	/* USB-C powers the board; both CC pins are strapped, no role switch */
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};
