/dts-v1/;

/ {
	compatible = "xunlong,orangepi-5-ultra", "rockchip,rk3588";
	model = "Xunlong Orange Pi 5 Ultra";

	aliases {
		gpio0 = "/pinctrl/gpio@fd8a0000";
		gpio1 = "/pinctrl/gpio@fec20000";
		gpio2 = "/pinctrl/gpio@fec30000";
		gpio3 = "/pinctrl/gpio@fec40000";
		gpio4 = "/pinctrl/gpio@fec50000";
		i2c0 = "/i2c@fd880000";
		i2c1 = "/i2c@fea90000";
		i2c2 = "/i2c@feaa0000";
		i2c3 = "/i2c@feab0000";
		i2c4 = "/i2c@feac0000";
		i2c5 = "/i2c@fead0000";
		i2c6 = "/i2c@fec80000";
		i2c7 = "/i2c@fec90000";
		i2c8 = "/i2c@feca0000";
		serial0 = "/serial@fd890000";
		serial1 = "/serial@feb40000";
		serial2 = "/serial@feb50000";
		serial3 = "/serial@feb60000";
		serial4 = "/serial@feb70000";
		serial5 = "/serial@feb80000";
		serial6 = "/serial@feb90000";
		serial7 = "/serial@feba0000";
		serial8 = "/serial@febb0000";
		serial9 = "/serial@febc0000";
		spi0 = "/spi@feb00000";
		spi1 = "/spi@feb10000";
		spi2 = "/spi@feb20000";
		spi3 = "/spi@feb30000";
		spi4 = "/spi@fecb0000";
		mmc0 = "/mmc@fe2e0000";
		mmc1 = "/mmc@fe2c0000";
	};

	cpus {

		cpu-map {

			cluster0 {

				core0 {
				};

				core1 {
				};

				core2 {
				};

				core3 {
				};
			};

			cluster1 {

				core0 {
				};

				core1 {
				};
			};

			cluster2 {

				core0 {
				};

				core1 {
				};
			};
		};

		cpu_l0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			enable-method = "psci";
		};

		cpu_l1: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			enable-method = "psci";
		};

		cpu_l2: cpu@200 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			enable-method = "psci";
		};

		cpu_l3: cpu@300 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			enable-method = "psci";
		};

		cpu_b0: cpu@400 {
			device_type = "cpu";
			compatible = "arm,cortex-a76";
			enable-method = "psci";
		};

		cpu_b1: cpu@500 {
			device_type = "cpu";
			compatible = "arm,cortex-a76";
			enable-method = "psci";
		};

		cpu_b2: cpu@600 {
			device_type = "cpu";
			compatible = "arm,cortex-a76";
			enable-method = "psci";
		};

		cpu_b3: cpu@700 {
			device_type = "cpu";
			compatible = "arm,cortex-a76";
			enable-method = "psci";
		};

		idle-states {
			entry-method = "psci";

			CPU_SLEEP: cpu-sleep {
				compatible = "arm,idle-state";
				local-timer-stop;
			};
		};

		l2_cache_l0: l2-cache-l0 {
			compatible = "cache";
			cache-unified;
		};

		l2_cache_l1: l2-cache-l1 {
			compatible = "cache";
			cache-unified;
		};

		l2_cache_l2: l2-cache-l2 {
			compatible = "cache";
			cache-unified;
		};

		l2_cache_l3: l2-cache-l3 {
			compatible = "cache";
			cache-unified;
		};

		l2_cache_b0: l2-cache-b0 {
			compatible = "cache";
			cache-unified;
		};

		l2_cache_b1: l2-cache-b1 {
			compatible = "cache";
			cache-unified;
		};

		l2_cache_b2: l2-cache-b2 {
			compatible = "cache";
			cache-unified;
		};

		l2_cache_b3: l2-cache-b3 {
			compatible = "cache";
			cache-unified;
		};
	};

	l3_cache: l3-cache {
		compatible = "cache";
		cache-unified;
	};

	display_subsystem: display-subsystem {
		compatible = "rockchip,display-subsystem";
	};

	firmware {

		scmi: scmi {
			compatible = "arm,scmi-smc";

			scmi_clk: protocol@14 {
			};

			scmi_reset: protocol@16 {
			};
		};
	};

	hdmi0_sound: hdmi0-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "hdmi0";
		status = "disabled";

		simple-audio-card,codec {
		};

		simple-audio-card,cpu {
		};
	};

	pmu-a55 {
		compatible = "arm,cortex-a55-pmu";
	};

	pmu-a76 {
		compatible = "arm,cortex-a76-pmu";
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	spll: clock-0 {
		compatible = "fixed-clock";
		clock-output-names = "spll";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-names = "sec-phys", "phys", "virt", "hyp-phys", "hyp-virt";
	};

	xin24m: clock-1 {
		compatible = "fixed-clock";
		clock-output-names = "xin24m";
	};

	xin32k: clock-2 {
		compatible = "fixed-clock";
		clock-output-names = "xin32k";
	};

	pmu_sram: sram@10f000 {
		compatible = "mmio-sram";

		scmi_shmem: sram@0 {
			compatible = "arm,scmi-shmem";
		};
	};

	gpu: gpu@fb000000 {
		compatible = "rockchip,rk3588-mali", "arm,mali-valhall-csf";
		clock-names = "core", "coregroup", "stacks";
		interrupt-names = "job", "mmu", "gpu";
		status = "okay";
	};

	usb_host0_xhci: usb@fc000000 {
		compatible = "rockchip,rk3588-dwc3", "snps,dwc3";
		clock-names = "ref_clk", "suspend_clk", "bus_clk";
		dr_mode = "host";
		phy-names = "usb2-phy", "usb3-phy";
		phy_type = "utmi_wide";
		snps,dis_enblslpm_quirk;
		snps,dis-u1-entry-quirk;
		snps,dis-u2-entry-quirk;
		snps,dis-u2-freeclk-exists-quirk;
		snps,dis-del-phy-power-chg-quirk;
		snps,dis-tx-ipgap-linecheck-quirk;
		status = "okay";
	};

	usb_host0_ehci: usb@fc800000 {
		compatible = "rockchip,rk3588-ehci", "generic-ehci";
		phy-names = "usb";
		status = "okay";
	};

	usb_host0_ohci: usb@fc840000 {
		compatible = "rockchip,rk3588-ohci", "generic-ohci";
		phy-names = "usb";
		status = "okay";
	};

	usb_host1_ehci: usb@fc880000 {
		compatible = "rockchip,rk3588-ehci", "generic-ehci";
		phy-names = "usb";
		status = "okay";
	};

	usb_host1_ohci: usb@fc8c0000 {
		compatible = "rockchip,rk3588-ohci", "generic-ohci";
		phy-names = "usb";
		status = "okay";
	};

	usb_host2_xhci: usb@fcd00000 {
		compatible = "rockchip,rk3588-dwc3", "snps,dwc3";
		clock-names = "ref_clk", "suspend_clk", "bus_clk", "utmi", "pipe";
		dr_mode = "host";
		phy-names = "usb3-phy";
		phy_type = "utmi_wide";
		snps,dis_enblslpm_quirk;
		snps,dis-u2-freeclk-exists-quirk;
		snps,dis-del-phy-power-chg-quirk;
		snps,dis-tx-ipgap-linecheck-quirk;
		snps,dis_rxdet_inp3_quirk;
		status = "disabled";
	};

	mmu600_pcie: iommu@fc900000 {
		compatible = "arm,smmu-v3";
		interrupt-names = "eventq", "gerror", "priq", "cmdq-sync";
	};

	mmu600_php: iommu@fcb00000 {
		compatible = "arm,smmu-v3";
		interrupt-names = "eventq", "gerror", "priq", "cmdq-sync";
		status = "disabled";
	};

	pmu1grf: syscon@fd58a000 {
		compatible = "rockchip,rk3588-pmugrf", "syscon", "simple-mfd";
	};

	sys_grf: syscon@fd58c000 {
		compatible = "rockchip,rk3588-sys-grf", "syscon";
	};

	vop_grf: syscon@fd5a4000 {
		compatible = "rockchip,rk3588-vop-grf", "syscon";
	};

	vo0_grf: syscon@fd5a6000 {
		compatible = "rockchip,rk3588-vo0-grf", "syscon";
	};

	vo1_grf: syscon@fd5a8000 {
		compatible = "rockchip,rk3588-vo1-grf", "syscon";
	};

	usb_grf: syscon@fd5ac000 {
		compatible = "rockchip,rk3588-usb-grf", "syscon";
	};

	php_grf: syscon@fd5b0000 {
		compatible = "rockchip,rk3588-php-grf", "syscon";
	};

	pipe_phy0_grf: syscon@fd5bc000 {
		compatible = "rockchip,rk3588-pipe-phy-grf", "syscon";
	};

	pipe_phy2_grf: syscon@fd5c4000 {
		compatible = "rockchip,rk3588-pipe-phy-grf", "syscon";
	};

	usbdpphy0_grf: syscon@fd5c8000 {
		compatible = "rockchip,rk3588-usbdpphy-grf", "syscon";
	};

	usb2phy0_grf: syscon@fd5d0000 {
		compatible = "rockchip,rk3588-usb2phy-grf", "syscon", "simple-mfd";

		u2phy0: usb2phy@0 {
			compatible = "rockchip,rk3588-usb2phy";
			clock-names = "phyclk";
			clock-output-names = "usb480m_phy0";
			reset-names = "phy", "apb";
			status = "okay";

			u2phy0_otg: otg-port {
				status = "okay";
			};
		};
	};

	usb2phy2_grf: syscon@fd5d8000 {
		compatible = "rockchip,rk3588-usb2phy-grf", "syscon", "simple-mfd";

		u2phy2: usb2phy@8000 {
			compatible = "rockchip,rk3588-usb2phy";
			clock-names = "phyclk";
			clock-output-names = "usb480m_phy2";
			reset-names = "phy", "apb";
			status = "okay";

			u2phy2_host: host-port {
				status = "okay";
			};
		};
	};

	usb2phy3_grf: syscon@fd5dc000 {
		compatible = "rockchip,rk3588-usb2phy-grf", "syscon", "simple-mfd";

		u2phy3: usb2phy@c000 {
			compatible = "rockchip,rk3588-usb2phy";
			clock-names = "phyclk";
			clock-output-names = "usb480m_phy3";
			reset-names = "phy", "apb";
			status = "okay";

			u2phy3_host: host-port {
				status = "okay";
			};
		};
	};

	hdptxphy0_grf: syscon@fd5e0000 {
		compatible = "rockchip,rk3588-hdptxphy-grf", "syscon";
	};

	ioc: syscon@fd5f0000 {
		compatible = "rockchip,rk3588-ioc", "syscon";
	};

	system_sram1: sram@fd600000 {
		compatible = "mmio-sram";
	};

	cru: clock-controller@fd7c0000 {
		compatible = "rockchip,rk3588-cru";
	};

	i2c0: i2c@fd880000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "okay";

		vdd_cpu_big0_s0: regulator@42 {
			compatible = "rockchip,rk8602";
			regulator-name = "vdd_cpu_big0_s0";
			regulator-always-on;
			regulator-boot-on;

			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};

		vdd_cpu_big1_s0: regulator@43 {
			compatible = "rockchip,rk8603", "rockchip,rk8602";
			regulator-name = "vdd_cpu_big1_s0";
			regulator-always-on;
			regulator-boot-on;

			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};
	};

	uart0: serial@fd890000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm0: pwm@fd8b0000 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm1: pwm@fd8b0010 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm2: pwm@fd8b0020 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm3: pwm@fd8b0030 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pmu: power-management@fd8d8000 {
		compatible = "rockchip,rk3588-pmu", "syscon", "simple-mfd";

		power: power-controller {
			compatible = "rockchip,rk3588-power-controller";
			status = "okay";

			power-domain@8 {

				power-domain@9 {

					power-domain@10 {
					};

					power-domain@11 {
					};
				};
			};

			power-domain@12 {
			};

			power-domain@13 {

				power-domain@14 {
				};

				power-domain@15 {
				};

				power-domain@16 {

					power-domain@17 {
					};
				};
			};

			power-domain@21 {

				power-domain@23 {
				};

				power-domain@14 {
				};

				power-domain@15 {
				};

				power-domain@22 {
				};
			};

			power-domain@24 {

				power-domain@25 {
				};
			};

			power-domain@26 {
			};

			power-domain@27 {

				power-domain@28 {
				};

				power-domain@29 {
				};
			};

			power-domain@30 {
			};

			power-domain@31 {
			};

			power-domain@33 {
			};

			power-domain@34 {
			};

			power-domain@37 {
			};

			power-domain@38 {
			};

			power-domain@40 {
			};
		};
	};

	vpu121: video-codec@fdb50000 {
		compatible = "rockchip,rk3588-vpu121", "rockchip,rk3568-vpu";
		interrupt-names = "vdpu";
		clock-names = "aclk", "hclk";
	};

	vpu121_mmu: iommu@fdb50800 {
		compatible = "rockchip,rk3588-iommu", "rockchip,rk3568-iommu";
		clock-names = "aclk", "iface";
	};

	rga: rga@fdb80000 {
		compatible = "rockchip,rk3588-rga", "rockchip,rk3288-rga";
		clock-names = "aclk", "hclk", "sclk";
		reset-names = "core", "axi", "ahb";
	};

	vepu121_0: video-codec@fdba0000 {
		compatible = "rockchip,rk3588-vepu121";
		clock-names = "aclk", "hclk";
	};

	vepu121_0_mmu: iommu@fdba0800 {
		compatible = "rockchip,rk3588-iommu", "rockchip,rk3568-iommu";
		clock-names = "aclk", "iface";
	};

	vepu121_1: video-codec@fdba4000 {
		compatible = "rockchip,rk3588-vepu121";
		clock-names = "aclk", "hclk";
	};

	vepu121_1_mmu: iommu@fdba4800 {
		compatible = "rockchip,rk3588-iommu", "rockchip,rk3568-iommu";
		clock-names = "aclk", "iface";
	};

	vepu121_2: video-codec@fdba8000 {
		compatible = "rockchip,rk3588-vepu121";
		clock-names = "aclk", "hclk";
	};

	vepu121_2_mmu: iommu@fdba8800 {
		compatible = "rockchip,rk3588-iommu", "rockchip,rk3568-iommu";
		clock-names = "aclk", "iface";
	};

	vepu121_3: video-codec@fdbac000 {
		compatible = "rockchip,rk3588-vepu121";
		clock-names = "aclk", "hclk";
	};

	vepu121_3_mmu: iommu@fdbac800 {
		compatible = "rockchip,rk3588-iommu", "rockchip,rk3568-iommu";
		clock-names = "aclk", "iface";
	};

	av1d: video-codec@fdc70000 {
		compatible = "rockchip,rk3588-av1-vpu";
		interrupt-names = "vdpu";
		clock-names = "aclk", "hclk";
	};

	vop: vop@fdd90000 {
		compatible = "rockchip,rk3588-vop";
		reg-names = "vop", "gamma-lut";
		clock-names = "aclk", "hclk", "dclk_vp0", "dclk_vp1", "dclk_vp2", "dclk_vp3", "pclk_vop", "pll_hdmiphy0", "pll_hdmiphy1";
		status = "okay";

		vop_out: ports {

			vp0: port@0 {

				vp0_out_hdmi1: endpoint@8 {
				};
			};

			vp1: port@1 {
			};

			vp2: port@2 {
			};

			vp3: port@3 {
			};
		};
	};

	vop_mmu: iommu@fdd97e00 {
		compatible = "rockchip,rk3588-iommu", "rockchip,rk3568-iommu";
		clock-names = "aclk", "iface";
		status = "okay";
	};

	spdif_tx2: spdif-tx@fddb0000 {
		compatible = "rockchip,rk3588-spdif", "rockchip,rk3568-spdif";
		clock-names = "mclk", "hclk";
		dma-names = "tx";
		status = "disabled";
	};

	i2s4_8ch: i2s@fddc0000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "tx";
		reset-names = "tx-m";
		status = "disabled";
	};

	spdif_tx3: spdif-tx@fdde0000 {
		compatible = "rockchip,rk3588-spdif", "rockchip,rk3568-spdif";
		clock-names = "mclk", "hclk";
		dma-names = "tx";
		status = "disabled";
	};

	i2s5_8ch: i2s@fddf0000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "tx";
		reset-names = "tx-m";
		status = "disabled";
	};

	i2s9_8ch: i2s@fddfc000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "rx";
		reset-names = "rx-m";
		status = "disabled";
	};

	hdmi0: hdmi@fde80000 {
		compatible = "rockchip,rk3588-dw-hdmi-qp";
		clock-names = "pclk", "earc", "ref", "aud", "hdp", "hclk_vo1";
		interrupt-names = "avp", "cec", "earc", "main", "hpd";
		pinctrl-names = "default";
		reset-names = "ref", "hdp";
		status = "disabled";

		ports {

			hdmi0_in: port@0 {
			};

			hdmi0_out: port@1 {
			};
		};
	};

	qos_gpu_m0: qos@fdf35000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_gpu_m1: qos@fdf35200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_gpu_m2: qos@fdf35400 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_gpu_m3: qos@fdf35600 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rga3_1: qos@fdf36000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_sdio: qos@fdf39000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_sdmmc: qos@fdf3d800 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_usb3_1: qos@fdf3e000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_usb3_0: qos@fdf3e200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_usb2host_0: qos@fdf3e400 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_usb2host_1: qos@fdf3e600 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_fisheye0: qos@fdf40000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_fisheye1: qos@fdf40200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_isp0_mro: qos@fdf40400 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_isp0_mwo: qos@fdf40500 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_vicap_m0: qos@fdf40600 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_vicap_m1: qos@fdf40800 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_isp1_mwo: qos@fdf41000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_isp1_mro: qos@fdf41100 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rkvenc0_m0ro: qos@fdf60000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rkvenc0_m1ro: qos@fdf60200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rkvenc0_m2wo: qos@fdf60400 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rkvenc1_m0ro: qos@fdf61000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rkvenc1_m1ro: qos@fdf61200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rkvenc1_m2wo: qos@fdf61400 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rkvdec0: qos@fdf62000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rkvdec1: qos@fdf63000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_av1: qos@fdf64000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_iep: qos@fdf66000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_jpeg_dec: qos@fdf66200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_jpeg_enc0: qos@fdf66400 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_jpeg_enc1: qos@fdf66600 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_jpeg_enc2: qos@fdf66800 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_jpeg_enc3: qos@fdf66a00 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rga2_mro: qos@fdf66c00 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rga2_mwo: qos@fdf66e00 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_rga3_0: qos@fdf67000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_vdpu: qos@fdf67200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_npu1: qos@fdf70000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_npu2: qos@fdf71000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_npu0_mwr: qos@fdf72000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_npu0_mro: qos@fdf72200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_mcu_npu: qos@fdf72400 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_hdcp0: qos@fdf80000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_hdcp1: qos@fdf81000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_hdmirx: qos@fdf81200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_vop_m0: qos@fdf82000 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	qos_vop_m1: qos@fdf82200 {
		compatible = "rockchip,rk3588-qos", "syscon";
	};

	dfi: dfi@fe060000 {
		compatible = "rockchip,rk3588-dfi";
	};

	pcie2x1l1: pcie@fe180000 {
		compatible = "rockchip,rk3588-pcie", "rockchip,rk3568-pcie";
		clock-names = "aclk_mst", "aclk_slv", "aclk_dbi", "pclk", "aux", "pipe";
		device_type = "pci";
		interrupt-names = "sys", "pmc", "msg", "legacy", "err";
		phy-names = "pcie-phy";
		reg-names = "dbi", "apb", "config";
		reset-names = "pwr", "pipe";
		status = "okay";

		pcie2x1l1_intc: legacy-interrupt-controller {
			interrupt-controller;
		};
	};

	pcie2x1l2: pcie@fe190000 {
		compatible = "rockchip,rk3588-pcie", "rockchip,rk3568-pcie";
		clock-names = "aclk_mst", "aclk_slv", "aclk_dbi", "pclk", "aux", "pipe";
		device_type = "pci";
		interrupt-names = "sys", "pmc", "msg", "legacy", "err";
		phy-names = "pcie-phy";
		reg-names = "dbi", "apb", "config";
		reset-names = "pwr", "pipe";
		status = "disabled";

		pcie2x1l2_intc: legacy-interrupt-controller {
			interrupt-controller;
		};
	};

	gmac1: ethernet@fe1c0000 {
		compatible = "rockchip,rk3588-gmac", "snps,dwmac-4.20a";
		interrupt-names = "macirq", "eth_wake_irq";
		clock-names = "stmmaceth", "clk_mac_ref", "pclk_mac", "aclk_mac", "ptp_ref";
		reset-names = "stmmaceth";
		snps,mixed-burst;
		snps,tso;
		status = "disabled";

		mdio1: mdio {
			compatible = "snps,dwmac-mdio";
		};

		gmac1_stmmac_axi_setup: stmmac-axi-config {
		};

		gmac1_mtl_rx_setup: rx-queues-config {

			queue0 {
			};

			queue1 {
			};
		};

		gmac1_mtl_tx_setup: tx-queues-config {

			queue0 {
			};

			queue1 {
			};
		};
	};

	sata0: sata@fe210000 {
		compatible = "rockchip,rk3588-dwc-ahci", "snps,dwc-ahci";
		clock-names = "sata", "pmalive", "rxoob", "ref", "asic";
		status = "disabled";

		sata-port@0 {
			phy-names = "sata-phy";
		};
	};

	sata2: sata@fe230000 {
		compatible = "rockchip,rk3588-dwc-ahci", "snps,dwc-ahci";
		clock-names = "sata", "pmalive", "rxoob", "ref", "asic";
		status = "disabled";

		sata-port@0 {
			phy-names = "sata-phy";
		};
	};

	sfc: spi@fe2b0000 {
		compatible = "rockchip,sfc";
		clock-names = "clk_sfc", "hclk_sfc";
		status = "okay";
		pinctrl-names = "default";

		spi_flash: flash@0 {
			compatible = "jedec,spi-nor";
		};
	};

	sdmmc: mmc@fe2c0000 {
		compatible = "rockchip,rk3588-dw-mshc", "rockchip,rk3288-dw-mshc";
		clock-names = "biu", "ciu", "ciu-drive", "ciu-sample";
		pinctrl-names = "default";
		status = "okay";
		cap-sd-highspeed;
		disable-wp;
		no-sdio;
		no-mmc;
		sd-uhs-sdr104;
	};

	sdio: mmc@fe2d0000 {
		compatible = "rockchip,rk3588-dw-mshc", "rockchip,rk3288-dw-mshc";
		clock-names = "biu", "ciu", "ciu-drive", "ciu-sample";
		pinctrl-names = "default";
		status = "disabled";
	};

	sdhci: mmc@fe2e0000 {
		compatible = "rockchip,rk3588-dwcmshc";
		clock-names = "core", "bus", "axi", "block", "timer";
		pinctrl-names = "default";
		reset-names = "core", "bus", "axi", "block", "timer";
		status = "okay";
		no-sdio;
		no-sd;
		non-removable;
		mmc-hs400-1_8v;
		mmc-hs400-enhanced-strobe;
	};

	i2s0_8ch: i2s@fe470000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "tx", "rx";
		reset-names = "tx-m", "rx-m";
		rockchip,trcm-sync-tx-only;
		pinctrl-names = "default";
		status = "okay";
	};

	i2s1_8ch: i2s@fe480000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "tx", "rx";
		reset-names = "tx-m", "rx-m";
		rockchip,trcm-sync-tx-only;
		pinctrl-names = "default";
		status = "disabled";
	};

	i2s2_2ch: i2s@fe490000 {
		compatible = "rockchip,rk3588-i2s", "rockchip,rk3066-i2s";
		clock-names = "i2s_clk", "i2s_hclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "okay";
	};

	i2s3_2ch: i2s@fe4a0000 {
		compatible = "rockchip,rk3588-i2s", "rockchip,rk3066-i2s";
		clock-names = "i2s_clk", "i2s_hclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	spdif_tx0: spdif-tx@fe4e0000 {
		compatible = "rockchip,rk3588-spdif", "rockchip,rk3568-spdif";
		clock-names = "mclk", "hclk";
		dma-names = "tx";
		pinctrl-names = "default";
		status = "disabled";
	};

	spdif_tx1: spdif-tx@fe4f0000 {
		compatible = "rockchip,rk3588-spdif", "rockchip,rk3568-spdif";
		clock-names = "mclk", "hclk";
		dma-names = "tx";
		pinctrl-names = "default";
		status = "disabled";
	};

	gic: interrupt-controller@fe600000 {
		compatible = "arm,gic-v3";
		interrupt-controller;
		dma-noncoherent;
		msi-controller;
		ranges;

		its0: msi-controller@fe640000 {
			compatible = "arm,gic-v3-its";
			dma-noncoherent;
			msi-controller;
		};

		its1: msi-controller@fe660000 {
			compatible = "arm,gic-v3-its";
			dma-noncoherent;
			msi-controller;
		};

		ppi-partitions {

			ppi_partition0: interrupt-partition-0 {
			};

			ppi_partition1: interrupt-partition-1 {
			};
		};
	};

	dmac0: dma-controller@fea10000 {
		compatible = "arm,pl330", "arm,primecell";
		arm,pl330-periph-burst;
		clock-names = "apb_pclk";
	};

	dmac1: dma-controller@fea30000 {
		compatible = "arm,pl330", "arm,primecell";
		arm,pl330-periph-burst;
		clock-names = "apb_pclk";
	};

	i2c1: i2c@fea90000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	i2c2: i2c@feaa0000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	i2c3: i2c@feab0000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	i2c4: i2c@feac0000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	i2c5: i2c@fead0000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	timer0: timer@feae0000 {
		compatible = "rockchip,rk3588-timer", "rockchip,rk3288-timer";
		clock-names = "pclk", "timer";
	};

	wdt: watchdog@feaf0000 {
		compatible = "rockchip,rk3588-wdt", "snps,dw-wdt";
		clock-names = "tclk", "pclk";
	};

	spi0: spi@feb00000 {
		compatible = "rockchip,rk3588-spi", "rockchip,rk3066-spi";
		clock-names = "spiclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	spi1: spi@feb10000 {
		compatible = "rockchip,rk3588-spi", "rockchip,rk3066-spi";
		clock-names = "spiclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	spi2: spi@feb20000 {
		compatible = "rockchip,rk3588-spi", "rockchip,rk3066-spi";
		clock-names = "spiclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "okay";

		pmic@0 {
			compatible = "rockchip,rk806";
			pinctrl-names = "default";
			system-power-controller;
			gpio-controller;

			rk806_dvs1_null: dvs1-null-pins {
				pins = "gpio_pwrctrl1";
				function = "pin_fun0";
			};

			rk806_dvs2_null: dvs2-null-pins {
				pins = "gpio_pwrctrl2";
				function = "pin_fun0";
			};

			rk806_dvs3_null: dvs3-null-pins {
				pins = "gpio_pwrctrl3";
				function = "pin_fun0";
			};

			regulators {

				vdd_gpu_s0: dcdc-reg1 {
					regulator-name = "vdd_gpu_s0";
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vdd_cpu_lit_s0: dcdc-reg2 {
					regulator-name = "vdd_cpu_lit_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vdd_log_s0: dcdc-reg3 {
					regulator-name = "vdd_log_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vdd_vdenc_s0: dcdc-reg4 {
					regulator-name = "vdd_vdenc_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vdd_ddr_s0: dcdc-reg5 {
					regulator-name = "vdd_ddr_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vdd2_ddr_s3: dcdc-reg6 {
					regulator-name = "vdd2_ddr_s3";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-on-in-suspend;
					};
				};

				vcc_2v0_pldo_s3: dcdc-reg7 {
					regulator-name = "vdd_2v0_pldo_s3";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-on-in-suspend;
					};
				};

				vcc_3v3_s3: dcdc-reg8 {
					regulator-name = "vcc_3v3_s3";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-on-in-suspend;
					};
				};

				vddq_ddr_s0: dcdc-reg9 {
					regulator-name = "vddq_ddr_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vcc_1v8_s3: dcdc-reg10 {
					regulator-name = "vcc_1v8_s3";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-on-in-suspend;
					};
				};

				avcc_1v8_s0: pldo-reg1 {
					regulator-name = "avcc_1v8_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vcc_1v8_s0: pldo-reg2 {
					regulator-name = "vcc_1v8_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				avdd_1v2_s0: pldo-reg3 {
					regulator-name = "avdd_1v2_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vcc_3v3_s0: pldo-reg4 {
					regulator-name = "vcc_3v3_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vccio_sd_s0: pldo-reg5 {
					regulator-name = "vccio_sd_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				pldo6_s3: pldo-reg6 {
					regulator-name = "pldo6_s3";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-on-in-suspend;
					};
				};

				vdd_0v75_s3: nldo-reg1 {
					regulator-name = "vdd_0v75_s3";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-on-in-suspend;
					};
				};

				vdd_ddr_pll_s0: nldo-reg2 {
					regulator-name = "vdd_ddr_pll_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				avdd_0v75_s0: nldo-reg3 {
					regulator-name = "avdd_0v75_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vdd_0v85_s0: nldo-reg4 {
					regulator-name = "vdd_0v85_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};

				vdd_0v75_s0: nldo-reg5 {
					regulator-name = "vdd_0v75_s0";
					regulator-always-on;
					regulator-boot-on;

					regulator-state-mem {
						regulator-off-in-suspend;
					};
				};
			};
		};
	};

	spi3: spi@feb30000 {
		compatible = "rockchip,rk3588-spi", "rockchip,rk3066-spi";
		clock-names = "spiclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	uart1: serial@feb40000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	uart2: serial@feb50000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "okay";
	};

	uart3: serial@feb60000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	uart4: serial@feb70000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	uart5: serial@feb80000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	uart6: serial@feb90000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	uart7: serial@feba0000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	uart8: serial@febb0000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	uart9: serial@febc0000 {
		compatible = "rockchip,rk3588-uart", "snps,dw-apb-uart";
		clock-names = "baudclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm4: pwm@febd0000 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "okay";
	};

	pwm5: pwm@febd0010 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "okay";
	};

	pwm6: pwm@febd0020 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm7: pwm@febd0030 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm8: pwm@febe0000 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm9: pwm@febe0010 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "okay";
	};

	pwm10: pwm@febe0020 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm11: pwm@febe0030 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm12: pwm@febf0000 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm13: pwm@febf0010 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm14: pwm@febf0020 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	pwm15: pwm@febf0030 {
		compatible = "rockchip,rk3588-pwm", "rockchip,rk3328-pwm";
		clock-names = "pwm", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	thermal_zones: thermal-zones {

		package_thermal: package-thermal {

			trips {

				package_crit: package-crit {
					type = "critical";
				};

				package_fan0: package-fan0 {
					type = "active";
				};

				package_fan1: package-fan1 {
					type = "active";
				};
			};

			cooling-maps {

				map0 {
				};

				map1 {
				};
			};
		};

		bigcore0_thermal: bigcore0-thermal {

			trips {

				bigcore0_alert: bigcore0-alert {
					type = "passive";
				};

				bigcore0_crit: bigcore0-crit {
					type = "critical";
				};
			};

			cooling-maps {

				map0 {
				};
			};
		};

		bigcore2_thermal: bigcore2-thermal {

			trips {

				bigcore2_alert: bigcore2-alert {
					type = "passive";
				};

				bigcore2_crit: bigcore2-crit {
					type = "critical";
				};
			};

			cooling-maps {

				map0 {
				};
			};
		};

		little_core_thermal: littlecore-thermal {

			trips {

				littlecore_alert: littlecore-alert {
					type = "passive";
				};

				littlecore_crit: littlecore-crit {
					type = "critical";
				};
			};

			cooling-maps {

				map0 {
				};
			};
		};

		center_thermal: center-thermal {

			trips {

				center_crit: center-crit {
					type = "critical";
				};
			};
		};

		gpu_thermal: gpu-thermal {

			trips {

				gpu_alert: gpu-alert {
					type = "passive";
				};

				gpu_crit: gpu-crit {
					type = "critical";
				};
			};

			cooling-maps {

				map0 {
				};
			};
		};

		npu_thermal: npu-thermal {

			trips {

				npu_crit: npu-crit {
					type = "critical";
				};
			};
		};
	};

	tsadc: tsadc@fec00000 {
		compatible = "rockchip,rk3588-tsadc";
		clock-names = "tsadc", "apb_pclk";
		reset-names = "tsadc-apb", "tsadc";
		pinctrl-names = "gpio", "otpout";
		status = "okay";
	};

	saradc: adc@fec10000 {
		compatible = "rockchip,rk3588-saradc";
		clock-names = "saradc", "apb_pclk";
		reset-names = "saradc-apb";
		status = "okay";
	};

	i2c6: i2c@fec80000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "okay";

		hym8563: rtc@51 {
			compatible = "haoyu,hym8563";
			clock-output-names = "hym8563";
			wakeup-source;
			pinctrl-names = "default";
		};
	};

	i2c7: i2c@fec90000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "okay";

		es8388: audio-codec@11 {
			compatible = "everest,es8388";
		};
	};

	i2c8: i2c@feca0000 {
		compatible = "rockchip,rk3588-i2c", "rockchip,rk3399-i2c";
		clock-names = "i2c", "pclk";
		pinctrl-names = "default";
		status = "disabled";
	};

	spi4: spi@fecb0000 {
		compatible = "rockchip,rk3588-spi", "rockchip,rk3066-spi";
		clock-names = "spiclk", "apb_pclk";
		dma-names = "tx", "rx";
		pinctrl-names = "default";
		status = "disabled";
	};

	otp: efuse@fecc0000 {
		compatible = "rockchip,rk3588-otp";
		clock-names = "otp", "apb_pclk", "phy", "arb";
		reset-names = "otp", "apb", "arb";

		cpu_code: cpu-code@2 {
		};

		otp_id: id@7 {
		};

		cpub0_leakage: cpu-leakage@17 {
		};

		cpub1_leakage: cpu-leakage@18 {
		};

		cpul_leakage: cpu-leakage@19 {
		};

		log_leakage: log-leakage@1a {
		};

		gpu_leakage: gpu-leakage@1b {
		};

		otp_cpu_version: cpu-version@1c {
		};

		npu_leakage: npu-leakage@28 {
		};

		codec_leakage: codec-leakage@29 {
		};
	};

	dmac2: dma-controller@fed10000 {
		compatible = "arm,pl330", "arm,primecell";
		arm,pl330-periph-burst;
		clock-names = "apb_pclk";
	};

	hdptxphy0: phy@fed60000 {
		compatible = "rockchip,rk3588-hdptx-phy";
		clock-names = "ref", "apb";
		reset-names = "phy", "apb", "init", "cmn", "lane", "ropll", "lcpll";
		status = "disabled";
	};

	usbdp_phy0: phy@fed80000 {
		compatible = "rockchip,rk3588-usbdp-phy";
		clock-names = "refclk", "immortal", "pclk", "utmi";
		reset-names = "init", "cmn", "lane", "pcs_apb", "pma_apb";
		status = "okay";
	};

	combphy0_ps: phy@fee00000 {
		compatible = "rockchip,rk3588-naneng-combphy";
		clock-names = "ref", "apb", "pipe";
		reset-names = "phy", "apb";
		status = "disabled";
	};

	combphy2_psu: phy@fee20000 {
		compatible = "rockchip,rk3588-naneng-combphy";
		clock-names = "ref", "apb", "pipe";
		reset-names = "phy", "apb";
		status = "okay";
	};

	system_sram2: sram@ff001000 {
		compatible = "mmio-sram";
	};

	pinctrl: pinctrl {
		compatible = "rockchip,rk3588-pinctrl";
		ranges;

		gpio0: gpio@fd8a0000 {
			compatible = "rockchip,gpio-bank";
			gpio-controller;
			interrupt-controller;
		};

		gpio1: gpio@fec20000 {
			compatible = "rockchip,gpio-bank";
			gpio-controller;
			interrupt-controller;
		};

		gpio2: gpio@fec30000 {
			compatible = "rockchip,gpio-bank";
			gpio-controller;
			interrupt-controller;
		};

		gpio3: gpio@fec40000 {
			compatible = "rockchip,gpio-bank";
			gpio-controller;
			interrupt-controller;
		};

		gpio4: gpio@fec50000 {
			compatible = "rockchip,gpio-bank";
			gpio-controller;
			interrupt-controller;
		};

		pcfg_pull_up: pcfg-pull-up {
			bias-pull-up;
		};

		pcfg_pull_down: pcfg-pull-down {
			bias-pull-down;
		};

		pcfg_pull_none: pcfg-pull-none {
			bias-disable;
		};

		pcfg_pull_none_drv_level_2: pcfg-pull-none-drv-level-2 {
			bias-disable;
		};

		pcfg_pull_up_drv_level_1: pcfg-pull-up-drv-level-1 {
			bias-pull-up;
		};

		pcfg_pull_up_drv_level_2: pcfg-pull-up-drv-level-2 {
			bias-pull-up;
		};

		pcfg_pull_none_smt: pcfg-pull-none-smt {
			bias-disable;
			input-schmitt-enable;
		};

		auddsm {
		};

		bt1120 {
		};

		can0 {
		};

		can1 {
		};

		can2 {
		};

		cif {
		};

		clk32k {
		};

		cpu {
		};

		ddrphych0 {
		};

		ddrphych1 {
		};

		ddrphych2 {
		};

		ddrphych3 {
		};

		dp0 {
		};

		dp1 {
		};

		emmc {

			emmc_rstnout: emmc-rstnout {
			};

			emmc_bus8: emmc-bus8 {
			};

			emmc_clk: emmc-clk {
			};

			emmc_cmd: emmc-cmd {
			};

			emmc_data_strobe: emmc-data-strobe {
			};
		};

		eth1 {
		};

		fspi {

			fspim2_pins: fspim2-pins {
			};
		};

		gmac1 {
		};

		gpu {
		};

		hdmi {

			hdmim0_tx0_cec: hdmim0-tx0-cec {
			};

			hdmim0_tx0_hpd: hdmim0-tx0-hpd {
			};

			hdmim0_tx0_scl: hdmim0-tx0-scl {
			};

			hdmim0_tx0_sda: hdmim0-tx0-sda {
			};

			hdmim0_tx1_hpd: hdmim0-tx1-hpd {
			};

			hdmim1_tx1_scl: hdmim1-tx1-scl {
			};

			hdmim1_tx1_sda: hdmim1-tx1-sda {
			};

			hdmim0_tx1_cec: hdmim0-tx1-cec {
			};
		};

		i2c0 {

			i2c0m2_xfer: i2c0m2-xfer {
			};
		};

		i2c1 {

			i2c1m0_xfer: i2c1m0-xfer {
			};
		};

		i2c2 {

			i2c2m0_xfer: i2c2m0-xfer {
			};
		};

		i2c3 {

			i2c3m0_xfer: i2c3m0-xfer {
			};
		};

		i2c4 {

			i2c4m0_xfer: i2c4m0-xfer {
			};
		};

		i2c5 {

			i2c5m0_xfer: i2c5m0-xfer {
			};
		};

		i2c6 {

			i2c6m0_xfer: i2c6m0-xfer {
			};
		};

		i2c7 {

			i2c7m0_xfer: i2c7m0-xfer {
			};
		};

		i2c8 {

			i2c8m0_xfer: i2c8m0-xfer {
			};
		};

		i2s0 {

			i2s0_lrck: i2s0-lrck {
			};

			i2s0_mclk: i2s0-mclk {
			};

			i2s0_sclk: i2s0-sclk {
			};

			i2s0_sdi0: i2s0-sdi0 {
			};

			i2s0_sdo0: i2s0-sdo0 {
			};
		};

		i2s1 {

			i2s1m0_lrck: i2s1m0-lrck {
			};

			i2s1m0_sclk: i2s1m0-sclk {
			};

			i2s1m0_sdi0: i2s1m0-sdi0 {
			};

			i2s1m0_sdi1: i2s1m0-sdi1 {
			};

			i2s1m0_sdi2: i2s1m0-sdi2 {
			};

			i2s1m0_sdi3: i2s1m0-sdi3 {
			};

			i2s1m0_sdo0: i2s1m0-sdo0 {
			};

			i2s1m0_sdo1: i2s1m0-sdo1 {
			};

			i2s1m0_sdo2: i2s1m0-sdo2 {
			};

			i2s1m0_sdo3: i2s1m0-sdo3 {
			};
		};

		i2s2 {

			i2s2m0_lrck: i2s2m0-lrck {
			};

			i2s2m0_sclk: i2s2m0-sclk {
			};

			i2s2m0_sdi: i2s2m0-sdi {
			};

			i2s2m0_sdo: i2s2m0-sdo {
			};
		};

		i2s3 {

			i2s3_lrck: i2s3-lrck {
			};

			i2s3_sclk: i2s3-sclk {
			};

			i2s3_sdi: i2s3-sdi {
			};

			i2s3_sdo: i2s3-sdo {
			};
		};

		jtag {
		};

		litcpu {
		};

		mcu {
		};

		mipi {
		};

		npu {
		};

		pcie20x1 {
		};

		pcie30phy {
		};

		pcie30x1 {
		};

		pcie30x2 {
		};

		pcie30x4 {
		};

		pdm0 {
		};

		pdm1 {
		};

		pmic {

			pmic_pins: pmic-pins {
			};
		};

		pmu {
		};

		pwm0 {

			pwm0m0_pins: pwm0m0-pins {
			};
		};

		pwm1 {

			pwm1m0_pins: pwm1m0-pins {
			};
		};

		pwm2 {

			pwm2m0_pins: pwm2m0-pins {
			};
		};

		pwm3 {

			pwm3m0_pins: pwm3m0-pins {
			};
		};

		pwm4 {

			pwm4m0_pins: pwm4m0-pins {
			};
		};

		pwm5 {

			pwm5m1_pins: pwm5m1-pins {
			};
		};

		pwm6 {

			pwm6m0_pins: pwm6m0-pins {
			};
		};

		pwm7 {

			pwm7m0_pins: pwm7m0-pins {
			};
		};

		pwm8 {

			pwm8m0_pins: pwm8m0-pins {
			};
		};

		pwm9 {

			pwm9m2_pins: pwm9m2-pins {
			};
		};

		pwm10 {

			pwm10m0_pins: pwm10m0-pins {
			};
		};

		pwm11 {

			pwm11m0_pins: pwm11m0-pins {
			};
		};

		pwm12 {

			pwm12m0_pins: pwm12m0-pins {
			};
		};

		pwm13 {

			pwm13m0_pins: pwm13m0-pins {
			};
		};

		pwm14 {

			pwm14m0_pins: pwm14m0-pins {
			};
		};

		pwm15 {

			pwm15m0_pins: pwm15m0-pins {
			};
		};

		refclk {
		};

		sata {
		};

		sata0 {
		};

		sata1 {
		};

		sata2 {
		};

		sdio {

			sdiom1_pins: sdiom1-pins {
			};
		};

		sdmmc {

			sdmmc_bus4: sdmmc-bus4 {
			};

			sdmmc_clk: sdmmc-clk {
			};

			sdmmc_cmd: sdmmc-cmd {
			};

			sdmmc_det: sdmmc-det {
			};
		};

		spdif0 {

			spdif0m0_tx: spdif0m0-tx {
			};
		};

		spdif1 {

			spdif1m0_tx: spdif1m0-tx {
			};
		};

		spi0 {

			spi0m0_pins: spi0m0-pins {
			};

			spi0m0_cs0: spi0m0-cs0 {
			};

			spi0m0_cs1: spi0m0-cs1 {
			};
		};

		spi1 {

			spi1m1_pins: spi1m1-pins {
			};

			spi1m1_cs0: spi1m1-cs0 {
			};

			spi1m1_cs1: spi1m1-cs1 {
			};
		};

		spi2 {

			spi2m2_pins: spi2m2-pins {
			};

			spi2m2_cs0: spi2m2-cs0 {
			};
		};

		spi3 {

			spi3m1_pins: spi3m1-pins {
			};

			spi3m1_cs0: spi3m1-cs0 {
			};

			spi3m1_cs1: spi3m1-cs1 {
			};
		};

		spi4 {

			spi4m0_pins: spi4m0-pins {
			};

			spi4m0_cs0: spi4m0-cs0 {
			};

			spi4m0_cs1: spi4m0-cs1 {
			};
		};

		tsadc {

			tsadc_shut: tsadc-shut {
			};
		};

		uart0 {

			uart0m1_xfer: uart0m1-xfer {
			};
		};

		uart1 {

			uart1m1_xfer: uart1m1-xfer {
			};
		};

		uart2 {

			uart2m0_xfer: uart2m0-xfer {
			};
		};

		uart3 {

			uart3m1_xfer: uart3m1-xfer {
			};
		};

		uart4 {

			uart4m1_xfer: uart4m1-xfer {
			};
		};

		uart5 {

			uart5m1_xfer: uart5m1-xfer {
			};
		};

		uart6 {

			uart6m1_xfer: uart6m1-xfer {
			};
		};

		uart7 {

			uart7m1_xfer: uart7m1-xfer {
			};
		};

		uart8 {

			uart8m1_xfer: uart8m1-xfer {
			};
		};

		uart9 {

			uart9m1_xfer: uart9m1-xfer {
			};
		};

		vop {
		};

		bt656 {
		};

		gpio-func {

			tsadc_gpio_func: tsadc-gpio-func {
			};
		};

		eth0 {
		};

		gmac0 {
		};

		hym8563 {

			rtc_int_l: hym8563-int {
			};
		};

		sound {

			hp_detect: hp-detect {
			};
		};

		usb {

			usb_host_pwren: usb-host-pwren {
			};

			usb_otg_pwren: usb-otg-pwren {
			};
		};
	};

	hdmi1_sound: hdmi1-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "hdmi1";
		status = "okay";

		simple-audio-card,codec {
		};

		simple-audio-card,cpu {
		};
	};

	usb_host1_xhci: usb@fc400000 {
		compatible = "rockchip,rk3588-dwc3", "snps,dwc3";
		clock-names = "ref_clk", "suspend_clk", "bus_clk";
		dr_mode = "host";
		phy-names = "usb2-phy", "usb3-phy";
		phy_type = "utmi_wide";
		snps,dis_enblslpm_quirk;
		snps,dis-u2-freeclk-exists-quirk;
		snps,dis-del-phy-power-chg-quirk;
		snps,dis-tx-ipgap-linecheck-quirk;
		status = "okay";
	};

	pcie30_phy_grf: syscon@fd5b8000 {
		compatible = "rockchip,rk3588-pcie3-phy-grf", "syscon";
	};

	pipe_phy1_grf: syscon@fd5c0000 {
		compatible = "rockchip,rk3588-pipe-phy-grf", "syscon";
	};

	usbdpphy1_grf: syscon@fd5cc000 {
		compatible = "rockchip,rk3588-usbdpphy-grf", "syscon";
	};

	usb2phy1_grf: syscon@fd5d4000 {
		compatible = "rockchip,rk3588-usb2phy-grf", "syscon", "simple-mfd";

		u2phy1: usb2phy@4000 {
			compatible = "rockchip,rk3588-usb2phy";
			clock-names = "phyclk";
			clock-output-names = "usb480m_phy1";
			reset-names = "phy", "apb";
			status = "okay";

			u2phy1_otg: otg-port {
				status = "okay";
			};
		};
	};

	hdptxphy1_grf: syscon@fd5e4000 {
		compatible = "rockchip,rk3588-hdptxphy-grf", "syscon";
	};

	spdif_tx5: spdif-tx@fddb8000 {
		compatible = "rockchip,rk3588-spdif", "rockchip,rk3568-spdif";
		clock-names = "mclk", "hclk";
		dma-names = "tx";
		status = "disabled";
	};

	i2s8_8ch: i2s@fddc8000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "tx";
		reset-names = "tx-m";
		status = "disabled";
	};

	spdif_tx4: spdif-tx@fdde8000 {
		compatible = "rockchip,rk3588-spdif", "rockchip,rk3568-spdif";
		clock-names = "mclk", "hclk";
		dma-names = "tx";
		status = "disabled";
	};

	i2s6_8ch: i2s@fddf4000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "tx";
		reset-names = "tx-m";
		status = "okay";
	};

	i2s7_8ch: i2s@fddf8000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "rx";
		reset-names = "rx-m";
		status = "disabled";
	};

	i2s10_8ch: i2s@fde00000 {
		compatible = "rockchip,rk3588-i2s-tdm";
		clock-names = "mclk_tx", "mclk_rx", "hclk";
		dma-names = "rx";
		reset-names = "rx-m";
		status = "disabled";
	};

	hdmi1: hdmi@fdea0000 {
		compatible = "rockchip,rk3588-dw-hdmi-qp";
		clock-names = "pclk", "earc", "ref", "aud", "hdp", "hclk_vo1";
		interrupt-names = "avp", "cec", "earc", "main", "hpd";
		pinctrl-names = "default";
		reset-names = "ref", "hdp";
		status = "okay";

		ports {

			hdmi1_in: port@0 {

				hdmi1_in_vp0: endpoint {
				};
			};

			hdmi1_out: port@1 {

				hdmi1_out_con: endpoint {
				};
			};
		};
	};

	pcie3x4: pcie@fe150000 {
		compatible = "rockchip,rk3588-pcie", "rockchip,rk3568-pcie";
		clock-names = "aclk_mst", "aclk_slv", "aclk_dbi", "pclk", "aux", "pipe";
		device_type = "pci";
		interrupt-names = "sys", "pmc", "msg", "legacy", "err";
		phy-names = "pcie-phy";
		reg-names = "dbi", "apb", "config";
		reset-names = "pwr", "pipe";
		status = "okay";

		pcie3x4_intc: legacy-interrupt-controller {
			interrupt-controller;
		};
	};

	pcie3x4_ep: pcie-ep@fe150000 {
		compatible = "rockchip,rk3588-pcie-ep";
		reg-names = "dbi", "dbi2", "apb", "addr_space", "atu";
		clock-names = "aclk_mst", "aclk_slv", "aclk_dbi", "pclk", "aux", "pipe";
		interrupt-names = "sys", "pmc", "msg", "legacy", "err", "dma0", "dma1", "dma2", "dma3";
		phy-names = "pcie-phy";
		reset-names = "pwr", "pipe";
		status = "disabled";
	};

	pcie3x2: pcie@fe160000 {
		compatible = "rockchip,rk3588-pcie", "rockchip,rk3568-pcie";
		clock-names = "aclk_mst", "aclk_slv", "aclk_dbi", "pclk", "aux", "pipe";
		device_type = "pci";
		interrupt-names = "sys", "pmc", "msg", "legacy", "err";
		phy-names = "pcie-phy";
		reg-names = "dbi", "apb", "config";
		reset-names = "pwr", "pipe";
		status = "disabled";

		pcie3x2_intc: legacy-interrupt-controller {
			interrupt-controller;
		};
	};

	pcie2x1l0: pcie@fe170000 {
		compatible = "rockchip,rk3588-pcie", "rockchip,rk3568-pcie";
		clock-names = "aclk_mst", "aclk_slv", "aclk_dbi", "pclk", "aux", "pipe";
		device_type = "pci";
		interrupt-names = "sys", "pmc", "msg", "legacy", "err";
		phy-names = "pcie-phy";
		reg-names = "dbi", "apb", "config";
		reset-names = "pwr", "pipe";
		status = "disabled";

		pcie2x1l0_intc: legacy-interrupt-controller {
			interrupt-controller;
		};
	};

	gmac0: ethernet@fe1b0000 {
		compatible = "rockchip,rk3588-gmac", "snps,dwmac-4.20a";
		interrupt-names = "macirq", "eth_wake_irq";
		clock-names = "stmmaceth", "clk_mac_ref", "pclk_mac", "aclk_mac", "ptp_ref";
		reset-names = "stmmaceth";
		snps,mixed-burst;
		snps,tso;
		status = "disabled";

		mdio0: mdio {
			compatible = "snps,dwmac-mdio";
		};

		gmac0_stmmac_axi_setup: stmmac-axi-config {
		};

		gmac0_mtl_rx_setup: rx-queues-config {

			queue0 {
			};

			queue1 {
			};
		};

		gmac0_mtl_tx_setup: tx-queues-config {

			queue0 {
			};

			queue1 {
			};
		};
	};

	sata1: sata@fe220000 {
		compatible = "rockchip,rk3588-dwc-ahci", "snps,dwc-ahci";
		clock-names = "sata", "pmalive", "rxoob", "ref", "asic";
		status = "disabled";

		sata-port@0 {
			phy-names = "sata-phy";
		};
	};

	hdptxphy1: phy@fed70000 {
		compatible = "rockchip,rk3588-hdptx-phy";
		clock-names = "ref", "apb";
		reset-names = "phy", "apb", "init", "cmn", "lane", "ropll", "lcpll";
		status = "okay";
	};

	usbdp_phy1: phy@fed90000 {
		compatible = "rockchip,rk3588-usbdp-phy";
		clock-names = "refclk", "immortal", "pclk", "utmi";
		reset-names = "init", "cmn", "lane", "pcs_apb", "pma_apb";
		status = "okay";
	};

	combphy1_ps: phy@fee10000 {
		compatible = "rockchip,rk3588-naneng-combphy";
		clock-names = "ref", "apb", "pipe";
		reset-names = "phy", "apb";
		status = "disabled";
	};

	pcie30phy: phy@fee80000 {
		compatible = "rockchip,rk3588-pcie3-phy";
		clock-names = "pclk";
		reset-names = "phy";
		status = "okay";
	};

	cluster0_opp_table: opp-table-cluster0 {
		compatible = "operating-points-v2";
		opp-shared;

		opp-1008000000 {
			opp-hz = /bits/ 64 <0x3c14dc00>;
		};

		opp-1200000000 {
			opp-hz = /bits/ 64 <0x47868c00>;
		};

		opp-1416000000 {
			opp-hz = /bits/ 64 <0x54667200>;
			opp-suspend;
		};

		opp-1608000000 {
			opp-hz = /bits/ 64 <0x5fd82200>;
		};

		opp-1800000000 {
			opp-hz = /bits/ 64 <0x6b49d200>;
		};
	};

	cluster1_opp_table: opp-table-cluster1 {
		compatible = "operating-points-v2";
		opp-shared;

		opp-1200000000 {
			opp-hz = /bits/ 64 <0x47868c00>;
		};

		opp-1416000000 {
			opp-hz = /bits/ 64 <0x54667200>;
		};

		opp-1608000000 {
			opp-hz = /bits/ 64 <0x5fd82200>;
		};

		opp-1800000000 {
			opp-hz = /bits/ 64 <0x6b49d200>;
		};

		opp-2016000000 {
			opp-hz = /bits/ 64 <0x7829b800>;
		};

		opp-2208000000 {
			opp-hz = /bits/ 64 <0x839b6800>;
		};

		opp-2400000000 {
			opp-hz = /bits/ 64 <0x8f0d1800>;
		};
	};

	cluster2_opp_table: opp-table-cluster2 {
		compatible = "operating-points-v2";
		opp-shared;

		opp-1200000000 {
			opp-hz = /bits/ 64 <0x47868c00>;
		};

		opp-1416000000 {
			opp-hz = /bits/ 64 <0x54667200>;
		};

		opp-1608000000 {
			opp-hz = /bits/ 64 <0x5fd82200>;
		};

		opp-1800000000 {
			opp-hz = /bits/ 64 <0x6b49d200>;
		};

		opp-2016000000 {
			opp-hz = /bits/ 64 <0x7829b800>;
		};

		opp-2208000000 {
			opp-hz = /bits/ 64 <0x839b6800>;
		};

		opp-2400000000 {
			opp-hz = /bits/ 64 <0x8f0d1800>;
		};
	};

	gpu_opp_table: opp-table {
		compatible = "operating-points-v2";

		opp-300000000 {
			opp-hz = /bits/ 64 <0x11e1a300>;
		};

		opp-400000000 {
			opp-hz = /bits/ 64 <0x17d78400>;
		};

		opp-500000000 {
			opp-hz = /bits/ 64 <0x1dcd6500>;
		};

		opp-600000000 {
			opp-hz = /bits/ 64 <0x23c34600>;
		};

		opp-700000000 {
			opp-hz = /bits/ 64 <0x29b92700>;
		};

		opp-800000000 {
			opp-hz = /bits/ 64 <0x2faf0800>;
		};

		opp-900000000 {
			opp-hz = /bits/ 64 <0x35a4e900>;
		};

		opp-1000000000 {
			opp-hz = /bits/ 64 <0x3b9aca00>;
		};
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	adc-keys-0 {
		compatible = "adc-keys";
		io-channel-names = "buttons";

		button-maskrom {
			label = "Mask Rom";
		};
	};

	recovery_button: adc-keys-1 {
		compatible = "adc-keys";
		io-channel-names = "buttons";
		status = "disabled";

		button-recovery {
			label = "Recovery";
		};
	};

	speaker_amp: speaker-audio-amplifier {
		compatible = "simple-audio-amplifier";
		sound-name-prefix = "Speaker Amp";
		status = "disabled";
	};

	headphone_amp: headphones-audio-amplifier {
		compatible = "simple-audio-amplifier";
		sound-name-prefix = "Headphones Amp";
	};

	gpio-leds {
		compatible = "gpio-leds";

		led_blue_gpio: led {
			function = "indicator";
			status = "disabled";
		};
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
	};

	pwm-leds {
		compatible = "pwm-leds";

		led_blue_pwm: led-1 {
			function = "status";
			linux,default-trigger = "heartbeat";
			status = "okay";
		};

		led_green_pwm: led-2 {
			function = "indicator";
		};
	};

	rfkill {
		compatible = "rfkill-gpio";
		label = "rfkill-pcie-wlan";
		radio-type = "wlan";
	};

	analog_sound: sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "Analog";
		simple-audio-card,format = "i2s";
		pinctrl-names = "default";
		simple-audio-card,routing = "Headphones", "LOUT1", "Headphones", "ROUT1", "LINPUT1", "Microphone Jack", "RINPUT1", "Microphone Jack", "LINPUT2", "Onboard Microphone", "RINPUT2", "Onboard Microphone";
		simple-audio-card,widgets = "Microphone", "Microphone Jack", "Microphone", "Onboard Microphone", "Headphone", "Headphones";

		daicpu: simple-audio-card,cpu {
		};

		daicodec: simple-audio-card,codec {
		};
	};

	vcc3v3_pcie30: regulator-vcc3v3-pcie30 {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-name = "vcc3v3_pcie30";
	};

	vcc3v3_pcie_eth: regulator-vcc3v3-pcie-eth {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie_eth";
	};

	vcc3v3_wf: regulator-vcc3v3-wf {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-name = "vcc3v3_wf";
		status = "disabled";
	};

	vcc5v0_sys: regulator-vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
	};

	vcc5v0_usb20: regulator-vcc5v0-usb20 {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-name = "vcc5v0_usb20";
		pinctrl-names = "default";
	};

	vcc5v0_usb30_otg: vcc5v0-usb30-otg-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		pinctrl-names = "default";
		regulator-name = "vcc5v0_usb30_otg";
	};

	hdmi1-con {
		compatible = "hdmi-connector";
		type = "a";

		port {

			hdmi1_con_in: endpoint {
			};
		};
	};
};
