// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2023 Gunjan Gupta <gunjan@armbian.com>

/dts-v1/;

#include "sun50i-h6-tanix.dtsi"

/ {
	model = "Inovato Quadra";
	compatible = "oranth,inovato-quadra", "allwinner,sun50i-h6";

	aliases {
		ethernet1 = &xr819;
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			label = "red";
			gpios = <&r_pio 0 4 GPIO_ACTIVE_HIGH>; /* PL4 */
		};

		led-1 {
			label = "blue";
			gpios = <&r_pio 0 7 GPIO_ACTIVE_HIGH>; /* PL7 */
			default-state = "on";
		};
	};
};

&i2s1 {
	status = "okay";
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;

	xr819: sdio_wifi@1 {
		compatible = "xradio,xr819";
		interrupt-names = "host-wake";
		interrupt-parent = <&r_pio>;
		interrupts = <1 0 IRQ_TYPE_EDGE_RISING>;
		local-mac-address = [dc 44 6d c0 ff ee];
		reg = <1>;
	};
};

&sound_hdmi {
	status = "okay";
};

&wifi_pwrseq {
	post-power-on-delay-ms = <0xc8>;
};
