#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS := hardening=+all # #741439, #799738

%:
	dh $@

override_dh_auto_configure:
	python ./waf configure						\
			--prefix=/usr					\
			--libdir=/usr/lib/$(DEB_HOST_MULTIARCH)		\
			--confdir=/etc/mpv				\
			--zshdir=/usr/share/zsh/vendor-completions	\
			--enable-cdda --enable-sdl2 --enable-sndio	\
			--enable-zsh-comp --enable-libmpv-shared	\
			--disable-build-date --disable-libass		\
			--disable-jack --disable-gl --disable-wayland	\
			--disable-xv

override_dh_auto_build:
	python ./waf build

override_dh_auto_install:
	python ./waf install --destdir=debian/tmp
	mkdir -p debian/tmp/etc/mpv
	install -m0644 debian/config/mpv.conf debian/tmp/etc/mpv/mpv.conf

override_dh_install:
	dh_install --sourcedir=debian/tmp

override_dh_installchangelogs:
	dh_installchangelogs RELEASE_NOTES

override_dh_auto_clean:
	test -s ./waf && python ./waf distclean || true
	find . -name "*.pyc" -delete
