// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#include "rk3588s-u-boot.dtsi"

/ {
	chosen {
		u-boot,spl-boot-order = "same-as-spl", &sdmmc, &sdhci;
	};
};

&sdhci {
	bootph-pre-ram;
	bootph-some-ram;
	status = "okay";
};

&sdmmc {
	bootph-pre-ram;
	bootph-some-ram;
	status = "okay";
};
