[Unit]
Description=Auto install Armbian
After=systemd-repart.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/auto-install-armbian

[Install]
WantedBy=multi-user.target
