# Launch Laravel schedule worker.
[Unit]
Description=DMBP Services - App Websocket Server
After=apache2.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=sudo -Hu www-data /srv/dmbpro/artisan reverb:start

[Install]
WantedBy=multi-user.target
