# Launch rauc-hawkbit-updater daemon.
# Also randomize target name if empty.
[Unit]
Description=DMBP Services - Updater
After=network-online.target rauc.service
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStartPre=tname=dmbp-$(shortuuid) && sed -i "s/^target_name\s*=$/target_name=$tname/" /etc/rauc/hawkbit.conf
ExecStart=/usr/sbin/rauc-hawkbit-updater -c /etc/rauc/hawkbit.conf

[Install]
WantedBy=multi-user.target
