[Unit]
Description=Auto install Armbian

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/sbin/rauc-hawkbit-updater -c /etc/rauc/hawkbit.conf

[Install]
WantedBy=multi-user.target
