# Systemd-repart breaks UBoot for some reason after
# repartitioning, so we have a service run right afterwards that invokes
# armbian-install to update the bootloader.
[Unit]
Description=DMBP Services - Install/Fix Armbian
After=systemd-repart.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/dmbp-install-armbian

[Install]
WantedBy=multi-user.target
