# Launch Laravel schedule worker.
[Unit]
Description=DMBP Services - App Queue Worker
After=apache2.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=sudo -Hu www-data /srv/dmbpro/artisan queue:work

[Install]
WantedBy=multi-user.target
