[Unit]
Description = DMBP Media Mount

[Mount]
What=/dev/mmcblk1p4
Where=/mnt/media
Options=defaults,gid=33,X-mount.mkdir,umask=000

[Install]
WantedBy=multi-user.target