#!/bin/bash

#PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL python-serial python" # additional packages
#[[ $LINUXFAMILY == rockchip64 && $BRANCH == current ]] && BOOTBRANCH='tag:v2021.07' # conditionally change u-boot git branch/tag
#[[ $LINUXFAMILY == rockchip64 ]] && KERNELBRANCH="tag:v5.16.20" #always change to this kernel tag
