# Enable custom partitioning

BOOTFS_TYPE=ext4
FIXED_IMAGE_SIZE=18000
CUSTOM_PARTITION_TABLE=yes
CUSTOM_PARTITION_CONF="${USERPATCHES_PATH}/partition.conf"
EXTENSIONS="custom_partition_hook ${EXTENSIONS}"
source "${USERPATCHES_PATH}/extensions/custom_partition_hook.sh"

# Custom post-build formatter (runs after image is built)

function post_build_image__900_format_and_label() {
    display_alert "Running post-build partition labeling" "${BOARD}" "info"
    bash "${USERPATCHES_PATH}/format_and_label.sh"
}
