Source: sunxi-mali-r3p0
Priority: optional
Maintainer: root <root@unknown>
Build-Depends:
 debhelper (>= 9),
 xutils-dev,
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/linux-sunxi/sunxi-mali/

Package: sunxi-mali-r3p0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libegl1-x11, libgles1, libgles2
Replaces: libegl1-x11, libgles1, libgles2
Provides: libegl1-x11, libgles1, libgles2
Description: Mali userspace binary driver version r3p0
 This package contains a complete set of Mali userspace drivers,
 including proprietary OpenGLESv2/EGL binaries.

Package: sunxi-mali-r3p0-dev
Section: libdevel
Architecture: any
Depends: sunxi-mali-r3p0 (= ${binary:Version}), ${misc:Depends}
Conflicts: libegl1-mesa-dev, libgles1-mesa-dev, libgles2-mesa-dev
Replaces: libegl1-mesa-dev, libgles1-mesa-dev, libgles2-mesa-dev
Provides: libegl1-mesa-dev, libgles1-mesa-dev, libgles2-mesa-dev
Description: Mali userspace binary driver version r3p0
 This package contains a complete set of Mali userspace drivers,
 including proprietary OpenGLESv2/EGL binaries.
 This package contains OpenGLESv2/EGL development headers.
