#!/usr/bin/make -f

# output every command that modifies files on the build system.
#DH_VERBOSE = 1

%:
	dh $@ 

override_dh_auto_clean:
override_dh_strip:

override_dh_auto_configure:
	make config VERSION=r3p0 ABI=armhf EGL_TYPE=x11

override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib/ debian/tmp/usr/include
	dh_auto_install
	mkdir -p debian/tmp/etc/modules-load.d/
	install -m0644 debian/sunxi-mali.conf debian/tmp/etc/modules-load.d/sunxi-mali.conf
