// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Patrick Yavitz <pyavitz@armbian.com>
 *
 */

/dts-v1/;

#include "meson-axg-jethome-jethub-j1xx.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	compatible = "amper,gateway-am-gz80x", "amlogic,a113x", "amlogic,meson-axg";
	model = "Amper Gateway AM-GZ80x";

	aliases {
		serial0 = &uart_AO;
		serial1 = &uart_B;
		serial2 = &uart_AO_B;
		ethernet0 = &ethmac;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led-blue {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio_ao GPIOAO_3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
		};

		led-green {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio_ao GPIOAO_4 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc1";
		};

		led-red {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio_ao GPIOAO_7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "usb-host";
		};
 	};

	/* 1024MB RAM */
	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x40000000>;
	};
};

/delete-node/ &i2c1;

/* wifi module */
&sd_emmc_b {
	non-removable;

	rtl8189ftv: wifi@1 {
		reg = <1>;
	};
};

&uart_B {
	status = "okay";
	pinctrl-0 = <&uart_b_z_pins>;
	pinctrl-names = "default";
};

/* UART Wireless module */
&uart_AO_B {
	status = "okay";
	pinctrl-0 = <&uart_ao_b_z_pins>;
	pinctrl-names = "default";
	reset-gpios = <&gpio GPIOZ_6 GPIO_ACTIVE_HIGH>;
};

&usb_pwr {
	gpio = <&gpio_ao GPIOAO_5 GPIO_ACTIVE_HIGH>;
	enable-active-high;
};
