setenv nfs_ip FEL_LOCAL_IP
setenv nfs_root FEL_ROOTFS
setenv bootargs "console=ttyS0,115200 nfsrootdebug root=/dev/nfs nfsroot=${nfs_ip}:${nfs_root} ip=dhcp rw panic=10 consoleblank=0 enforcing=0 loglevel=7 init=/sbin/init"
setenv fdt_high ffffffff
bootz ${kernel_addr_r} - ${fdt_addr_r}
