[Unit]
Description=Armbian first run tasks
After=local-fs.target network.target
Before=getty.target system-getty.slice
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/firstrun start

[Install]
WantedBy=basic.target
