[Unit]
Description=Armbian first run tasks
Before=getty.target system-getty.slice

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /etc/init.d/firstrun start

[Install]
WantedBy=multi-user.target
