[Unit]
Description=RG Rotate gamepad-to-keyboard remap
[Service]
ExecStart=/usr/bin/rotate-pad2key
Restart=always
RestartSec=2
[Install]
WantedBy=multi-user.target
