// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/* Luckfox Lyra Ultra / Ultra PoE Kit, non-W variant. */
/dts-v1/;

#include "rk3506-luckfox-lyra-ultra.dtsi"

/ {
	model = "Luckfox Lyra Ultra";
	compatible = "rockchip,rk3506g-demo-display-control", "rockchip,rk3506";

	dsm_sound: dsm-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip-dsm-sound";
		simple-audio-card,bitclock-master = <&dsm_master>;
		simple-audio-card,frame-master = <&dsm_master>;
		simple-audio-card,cpu { sound-dai = <&sai3>; };
		dsm_master: simple-audio-card,codec { sound-dai = <&acdcdig_dsm>; };
	};

	vcc3v3_lcd: vcc3v3-lcd {
		status = "okay";
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_pwren_h>;
		regulator-name = "vcc3v3_lcd";
		regulator-always-on;
	};
};

&mmc {
	max-frequency = <52000000>;
	mmc-ddr-1_8v;
	bus-width = <4>;
	supports-emmc;
	cap-mmc-highspeed;
	disable-wp;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk_pins &sdmmc_cmd_pins &sdmmc_bus4_pins>;
	status = "okay";
};

&fspi {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/* No DSI panel is fitted on the tested Ultra PoE Kit. */
&dsi { status = "disabled"; };
&dsi_dphy { status = "disabled"; };
&dsi_in_vop { status = "disabled"; };
&route_dsi { status = "disabled"; };
&dsi_panel { status = "disabled"; };

&gmac1 {
	phy-mode = "rmii";
	clock_in_out = "output";
	snps,reset-gpio = <&gpio1 RK_PD0 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii1_miim_pins &eth_rmii1_tx_bus2_pins
			    &eth_rmii1_rx_bus2_pins &eth_rmii1_clk_pins>;
	phy-handle = <&rmii_phy1>;
	status = "okay";
};

&mdio1 {
	rmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

/* Non-W hardware: USB-C is peripheral, USB-A is host. */
&usb20_otg0 {
	dr_mode = "peripheral";
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&sai4 { status = "okay"; };
&audio_codec { status = "okay"; };
&sai3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sai3_mclk_pins>;
};

&acdcdig_dsm {
	rockchip,dsm-audm-en = <0x2>;
	pa-ctl-gpios = <&gpio1 RK_PC6 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&i2c2 {
	pcf8563: pcf8563@51 {
		status = "okay";
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		#clock-cells = <0>;
	};
};

&pinctrl {
	lcd {
		lcd_pwren_h: lcd-pwren-h {
			rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	acodec-dsm {
		/omit-if-no-ref/
		dsm_spk_ctrl: dsm-spk-ctrl {
			rockchip,pins = <1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	dsm_aud {
		/omit-if-no-ref/
		dsm_audm1_pins: dsm-audm1-pins {
			rockchip,pins = <2 RK_PB4 2 &pcfg_pull_none>,
					<2 RK_PB5 2 &pcfg_pull_none>;
		};
		/omit-if-no-ref/
		dsm_audm1_iodown_pins: dsm-audm1-iodown-pins {
			rockchip,pins = <2 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>,
					<2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};
