/*
 * arch/arm64/boot/dts/amlogic/mesong12_odroid_common.dtsi
 *
 * Copyright (C) 2018 Hardkernel Co,. Ltd. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

/{
	aliases {
		serial0 = &uart_AO;
		serial1 = &uart_A;
		serial2 = &uart_B;
		serial3 = &uart_C;
		serial4 = &uart_AO_B;
		i2c0 = &i2c2;
		i2c1 = &i2c3;
		i2c2 = &i2c0;
		i2c3 = &i2c1;
		i2c4 = &i2c_AO;
		tsensor0 = &p_tsensor;
		tsensor1 = &d_tsensor;
		spi0 = &spicc0;
		spi1 = &spicc1;
	};

	codec_mm {
		compatible = "amlogic, codec, mm";
		memory-region = <&codec_mm_cma &codec_mm_reserved>;
		dev_name = "codec_mm";
		status = "okay";
		clear-map;
	};

	ppmgr {
		compatible = "amlogic, ppmgr";
		memory-region = <&ppmgr_reserved>;
		dev_name = "ppmgr";
		status = "okay";
	};

	ionvideo {
		compatible = "amlogic, ionvideo";
		dev_name = "ionvideo";
		status = "okay";
	};

	leds {
		compatible = "gpio-leds";
		blueled {
			label = "blue:heartbeat";
			gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	gpio-reset {
		compatible = "linux,gpio-reset";
		usb_hub_en {
			gpios = <&gpio GPIOH_5 GPIO_ACTIVE_HIGH>;
			asserted-state = <0>;
			duration-ms = <100>;
		};
		usb_hub {
			gpios = <&gpio GPIOH_4 GPIO_ACTIVE_HIGH>;
			asserted-state = <0>;
			duration-ms = <100>;
		};
	};

	efuse: efuse{
		compatible = "amlogic, efuse";
		read_cmd = <0x82000030>;
		write_cmd = <0x82000031>;
		get_max_cmd = <0x82000033>;
		key = <&efusekey>;
		clocks = <&clkc CLKID_EFUSE>;
		clock-names = "efuse_clk";
		status = "okay";
	};

	efusekey:efusekey{
		keynum = <1>;
		key0 = <&key_0>;

		key_0: key_0 {
			keyname = "uuid";
			offset = <0>;
			size = <32>;
		};
	};//End efusekey

};

&ethmac {
	status = "okay";
	pinctrl-names = "external_eth_pins";
	pinctrl-0 = <&external_eth_pins>;
	mc_val = <0x1621>;

	internal_phy=<0>;

	/* reset */
	rst_pin-gpios = <&gpio GPIOZ_15 GPIO_ACTIVE_LOW>;
};

/*if you want to use vdin just modify status to "ok"*/
&vdin0 {
	memory-region = <&vdin0_cma_reserved>;
	status = "disable";
	/*vdin write mem color depth support:
	 *bit0:support 8bit
	 *bit1:support 9bit
	 *bit2:support 10bit
	 *bit3:support 12bit
	 *bit4:support yuv422 10bit full pack mode (from txl new add)
	 */
	tv_bit_mode = <0x15>;
};

&vdin1 {
	memory-region = <&vdin1_cma_reserved>;
	status = "disable";
	/*vdin write mem color depth support:
	 *bit0:support 8bit
	 *bit1:support 9bit
	 *bit2:support 10bit
	 *bit3:support 12bit
	 */
	tv_bit_mode = <1>;
};

&pwm_AO_cd {
	status = "okay";
};

&irblaster {
	status = "disabled";
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default","gpio_periphs";
	pinctrl-0 = <&i2c2_master_pins1>;
	pinctrl-1 = <&i2c2_to_gpiox>;
	clock-frequency = <100000>;		/* default 100k */
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default","gpio_periphs";
	pinctrl-0 = <&i2c3_master_pins2>;
	pinctrl-1 = <&i2c3_to_gpioa>;
	clock-frequency = <100000>;		/* default 100k */
};

&a_uart_pins {
	mux {
		groups = "uart_tx_a",
			"uart_rx_a";
		function = "uart_a";
	};
};

&usb2_phy_v2 {
	status = "okay";
	portnum = <2>;
};

&dwc3 {
	status = "okay";
};

&dwc2_a {
	status = "okay";
	/** 0: normal, 1: otg+dwc3 host only, 2: otg+dwc3 device only*/
	controller-type = <3>;
};

&pcie_A {
	reset-gpio = <&gpio GPIOX_7 GPIO_ACTIVE_HIGH>;
	status = "disabled";
};

&sd_emmc_c {
	status = "okay";
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	emmc {
		caps = "MMC_CAP_8_BIT_DATA",
			 "MMC_CAP_MMC_HIGHSPEED",
			 "MMC_CAP_SD_HIGHSPEED",
			 "MMC_CAP_NONREMOVABLE",
			 "MMC_CAP_HW_RESET",
			 "MMC_CAP_ERASE",
			 "MMC_CAP_CMD23";
		caps2 = "MMC_CAP2_HS200_1_8V_SDR",
			"MMC_CAP2_BROKEN_VOLTAGE";
		f_min = <400000>;
		f_max = <200000000>;
		hw_reset = <&gpio BOOT_12 GPIO_ACTIVE_HIGH>;
	};
};

&audio_data {
	status = "okay";
};

&pinctrl_periphs {
	i2c2_master_pins1:i2c2_pins1 {
		mux {
			drive-strength = <3>;
		};
	};
	i2c2_to_gpiox:i2c2_gpiox {
		mux {
			groups = "GPIOX_17",
				"GPIOX_18";
			function = "gpio_periphs";
			drive-strength = <3>;
		};
	};
	i2c3_master_pins2:i2c3_pins2 {
		mux {
			drive-strength = <3>;
		};
	};
	i2c3_to_gpioa:i2c3_gpioa {
		mux {
			groups = "GPIOA_14",
				"GPIOA_15";
			function = "gpio_periphs";
			drive-strength = <3>;
		};
	};

	spicc0_pins_x: spicc0_pins_x {
		mux {
			drive-strength = <3>;
		};
	};
	spicc0_to_gpiox: spicc0_gpiox {
		mux {
			groups = "GPIOX_8",
				 "GPIOX_9",
				 //"GPIOX_10",
				 "GPIOX_11";
			function = "gpio_periphs";
		};
	};
}; /* end of pinctrl_periphs */

&gpio_intc {
	compatible = "amlogic,meson-gpio-intc-ext",
		   "amlogic,meson-g12a-gpio-intc";
};
