[Unit]
Description=Enable heartbeat & network activity led on Helios64
After=getty.target

[Service]
Type=oneshot
ExecStart=bash -c 'echo heartbeat | tee /sys/class/leds/helios64\\:\\:status/trigger'
ExecStart=bash -c 'echo netdev | tee /sys/class/leds/helios64\\:blue\\:net/trigger'
ExecStart=bash -c 'echo eth0 | tee /sys/class/leds/helios64\\:blue\\:net/device_name'
ExecStart=bash -c 'echo 1 | tee /sys/class/leds/helios64\\:blue\\:net/link'
ExecStart=bash -c 'echo 1 | tee /sys/class/leds/helios64\\:blue\\:net/rx'
ExecStart=bash -c 'echo 1 | tee /sys/class/leds/helios64\\:blue\\:net/tx'

[Install]
WantedBy=multi-user.target
