[Unit]
Description=Helios64 UPS Shutdown timer on power loss

[Timer]
OnActiveSec=20
AccuracySec=1s
OnUnitActiveSec=10

[Install]
WantedBy=timers.target
