[Unit]
Description=Publish ccache Redis service via Avahi DNS-SD
After=avahi-daemon.service redis-server.service
BindsTo=redis-server.service

[Service]
Type=simple
ExecStart=/usr/bin/avahi-publish-service "ccache-redis" _ccache._tcp 6379 type=redis
Restart=on-failure
RestartSec=5

[Install]
WantedBy=redis-server.service
