Source: libcsptr-dev
Section: devel
Priority: optional
DM-Upload-Allowed: yes
Maintainer: Franklin "Snaipe" Mathieu <franklinmathieu@gmail.com>
Build-Depends: debhelper, cmake, 
Standards-Version: 3.8.4
Homepage: Franklin "Snaipe" Mathieu

Package: libcsptr-dev
Architecture: any
Depends: 
Recommends: 
Suggests: 
Description:  Smart pointers library for the C programming language.
 Libcsptr (for "lib-c-smart-pointers") is a library providing
 smart pointers for the (GNU) C programming language.
