setenv nfs_ip FEL_LOCAL_IP
setenv nfs_root FEL_ROOTFS
setenv branch BRANCH
setenv bootargs "console=tty1 console=ttyS0,115200 root=/dev/nfs nfsroot=${nfs_ip}:${nfs_root} ip=dhcp rw panic=10 consoleblank=0 enforcing=0 loglevel=6 rootflags=noatime"
# uncomment to disable initrd
# setenv ramdisk_addr_r "-"
if test ${branch} != default; then
	setenv fdt_high ffffffff
	bootz ${kernel_addr_r} ${ramdisk_addr_r} ${fdt_addr_r}
else
	bootz ${kernel_addr_r} ${ramdisk_addr_r}
fi
