[Desktop Entry]
Type=Application
Name=Install Armbian
Comment=Install this system permanently to your disk
Exec=pkexec /usr/bin/calamares
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=true
