// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Chris Morgan <macromorgan@hotmail.com>
 *               2026 Alexander Weinzerl <aweinzerl13@yahoo.com.>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include <dt-bindings/usb/pd.h>

#include "rk3576.dtsi"

/ {
	model = "Anbernic RG Vita Pro";
	compatible = "anbernic,rg-vita-pro", "rockchip,rk3576";

	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
		mmc2 = &sdio;
	};

	chosen {
		stdout-path = "serial0:1500000n8";
	};

	/* Consider moving to a patch for other RK3576 devices */
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x10000000>;
			alignment = <0x0 0x400000>;
			linux,cma-default;
		};
	};

	hdmi_con: hdmi-connector {
		compatible = "hdmi-connector";
		type = "c";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	adc_keys_home: adc-keys-home {
		compatible = "adc-keys";
		io-channel-names = "buttons";
		io-channels = <&saradc 1>;
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <60>;

		button-home {
			label = "HOME";
			linux,code = <BTN_Z>;
			press-threshold-microvolt = <1750>;
		};
	};

	adc_keys_play: adc-keys-play {
		compatible = "adc-keys";
		io-channel-names = "buttons";
		io-channels = <&saradc 3>;
		keyup-threshold-microvolt = <1300000>;
		poll-interval = <60>;

		button-play {
			label = "PLAY";
			linux,code = <KEY_PLAYPAUSE>;
			press-threshold-microvolt = <1750>;
		};
	};
	
	hp_amp: audio-amplifier {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&hp_amp_enable_h>;
		pinctrl-names = "default";
		sound-name-prefix = "Headphone Amp";
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1_6ch_3 0 25000 0>;
		brightness-levels = <
			  0   0   0   0   1   1   1   1   1   2   2   2   3   3   3   4
			  4   4   5   5   6   6   6   7   7   8   8   9   9  10  10  11
			 11  12  12  13  14  14  15  15  16  16  17  18  18  19  20  20
			 21  21  22  23  23  24  25  26  26  27  28  28  29  30  31  31
			 32  33  34  34  35  36  37  37  38  39  40  41  41  42  43  44
			 45  46  46  47  48  49  50  51  52  53  53  54  55  56  57  58
			 59  60  61  62  63  64  65  65  66  67  68  69  70  71  72  73
			 74  75  76  77  78  79  80  81  82  83  84  85  86  88  89  90
			 91  92  93  94  95  96  97  98  99 100 102 103 104 105 106 107
			108 109 110 112 113 114 115 116 117 119 120 121 122 123 124 126
			127 128 129 130 132 133 134 135 136 138 139 140 141 142 144 145
			146 147 149 150 151 152 154 155 156 158 159 160 161 163 164 165
			167 168 169 171 172 173 174 176 177 178 180 181 182 184 185 187
			188 189 191 192 193 195 196 197 199 200 202 203 204 206 207 209
			210 211 213 214 216 217 218 220 221 223 224 226 227 228 230 231
			233 234 236 237 239 240 242 243 245 246 248 249 251 252 254 255
		>;
		default-brightness-level = <128>;
	};

	battery: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <5000000>;
		charge-term-current-microamp = <300000>;
		constant-charge-current-max-microamp = <3780000>;
		constant-charge-voltage-max-microvolt = <4350000>;
		factory-internal-resistance-micro-ohms = <80>;
		precharge-current-microamp = <180000>;
		precharge-upper-limit-microvolt = <3600000>;
		voltage-max-design-microvolt = <4350000>;
		voltage-min-design-microvolt = <3000000>;
	};

	/*
	 * Analog sticks + RGB LEDs are handled by an SPI MCU
	 * (spi1: spi_joystick, driver: spi-mcu-joypad).
	 */
	gamepad_keys: gamepad-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&button_pins>;

		button-dpad-up {
			label = "DPAD-UP";
			gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_DPAD_UP>;
		};
		button-dpad-down {
			label = "DPAD-DOWN";
			gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_DPAD_DOWN>;
		};
		button-dpad-left {
			label = "DPAD-LEFT";
			gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_DPAD_LEFT>;
		};
		button-dpad-right {
			label = "DPAD-RIGHT";
			gpios = <&gpio3 RK_PB3 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_DPAD_RIGHT>;
		};
		button-a {
			label = "BTN-A";
			gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_EAST>;
		};
		button-b {
			label = "BTN-B";
			gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_SOUTH>;
		};
		button-x {
			label = "BTN-X";
			gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_NORTH>;
		};
		button-y {
			label = "BTN-Y";
			gpios = <&gpio3 RK_PB5 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_WEST>;
		};
		button-select {
			label = "BTN-SELECT";
			gpios = <&gpio3 RK_PD6 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_SELECT>;
		};
		button-start {
			label = "BTN-START";
			gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_START>;
		};
		button-l1 {
			label = "BTN-TL";
			gpios = <&gpio3 RK_PD7 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_TL>;
		};
		button-r1 {
			label = "BTN-TR";
			gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_TR>;
		};
		button-l2 {
			label = "BTN-TL2";
			gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_TL2>;
		};
		button-r2 {
			label = "BTN-TR2";
			gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_TR2>;
		};
		button-thumbl {
			label = "BTN-THUMBL";
			gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_THUMBL>;
		};
		button-thumbr {
			label = "BTN-THUMBR";
			gpios = <&gpio3 RK_PC4 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_THUMBR>;
		};
		button-mode {
			label = "BTN-MODE";
			gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_MODE>;
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&vol_keys>;
		pinctrl-names = "default";

		vol-up-key {
			debounce-interval = <2>;
			gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_LOW>;
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
		};

		vol-down-key {
			debounce-interval = <2>;
			gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_LOW>;
			label = "volume down";
			linux,code = <KEY_VOLUMEDOWN>;
		};
	};

	gpio_leds: leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&led_amber_h>, <&led_green_h>, <&led_red_h>;
		pinctrl-names = "default";

		green_led: led-0 {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "on";
			function = LED_FUNCTION_POWER;
			gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
		};

		amber_led: led-1 {
			color = <LED_COLOR_ID_AMBER>;
			function = LED_FUNCTION_CHARGING;
			gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>;
		};

		red_led: led-2 {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		};
	};

	pwm1_6ch_3: pwm@2add3000 {
		compatible = "rockchip,rk3576-pwm";
		reg = <0x0 0x2add3000 0x0 0x1000>;
		interrupts = <GIC_SPI 105 IRQ_TYPE_LEVEL_HIGH>;
		#pwm-cells = <3>;
		pinctrl-names = "default";
		pinctrl-0 = <&pwm1m2_ch3>;
		clocks = <&cru CLK_PWM1>, <&cru PCLK_PWM1>,
			 <&cru CLK_OSC_PWM1>, <&cru CLK_RC_PWM1>;
		clock-names = "pwm", "pclk", "osc", "rc";
		status = "okay";
	};

    pwm2_8ch_7: pwm@2ade7000 {
        compatible = "rockchip,rk3576-pwm";
        reg = <0x0 0x2ade7000 0 0x1000>;
        interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
        #pwm-cells = <3>;
        pinctrl-names = "default";
        pinctrl-0 = <&pwm2m2_ch7>;
		clocks = <&cru CLK_PWM2>, <&cru PCLK_PWM2>,
			 <&cru CLK_OSC_PWM2>, <&cru CLK_RC_PWM2>;
		clock-names = "pwm", "pclk", "osc", "rc";
        status = "okay";
    };

	rfkill {
		compatible = "rfkill-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_en_h>;
		radio-type = "wlan";
		shutdown-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
	};

	sound: sound {
		compatible = "simple-audio-card";
		pinctrl-0 = <&hp_det>;
		pinctrl-names = "default";
		simple-audio-card,aux-devs = <&aw87391_pa_l>, <&aw87391_pa_r>,
						 <&hp_amp>;
		simple-audio-card,format = "i2s";
		simple-audio-card,hp-det-gpios = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,es8388-codec";
		simple-audio-card,pin-switches = "Headphones", "Internal Speakers";
		simple-audio-card,routing =
			"LINPUT1", "Mic Jack",
			"LINPUT2", "Mic Jack",
			"RINPUT1", "Onboard Microphone",
			"RINPUT2", "Onboard Microphone",
			"Headphones", "Headphone Amp OUTL",
			"Headphones", "Headphone Amp OUTR",
			"Headphone Amp INL", "LOUT1",
			"Headphone Amp INR", "ROUT1",
			"Internal Speakers", "Left Amp OUT",
			"Internal Speakers", "Right Amp OUT",
			"Left Amp IN", "LOUT2",
			"Right Amp IN", "ROUT2";
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Microphone", "Onboard Microphone",
			"Headphone", "Headphones",
			"Speaker", "Internal Speakers";
		status = "okay";

		simple-audio-card,codec {
			sound-dai = <&es8388>;
			system-clock-frequency = <12288000>;
		};

		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};
	};

	vcc_1v1_nldo_s3: regulator-vcc-1v1-nldo-s3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <1100000>;
		regulator-min-microvolt = <1100000>;
		regulator-name = "vcc_1v1_nldo_s3";
		vin-supply = <&vcc_3v8_sys>;
	};

	vcc_1v8_s0: vcc-1v8-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_1v8_s3>;
	};

	vcc_2v0_pldo_s3: regulator-vcc-2v0-pldo-s3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <2000000>;
		regulator-min-microvolt = <2000000>;
		regulator-name = "vcc_2v0_pldo_s3";
		vin-supply = <&vcc_3v8_sys>;
	};

	vcc_3v8_sys: regulator-vcc-3v8-sys {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <3800000>;
		regulator-min-microvolt = <3800000>;
		regulator-name = "vcc_3v8_sys";
	};

	vcc3v3_sd_s0: regulator-vcc3v3-sd-s0 {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&vcc_3v3_sd_s0_h>;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "vcc3v3_sd_s0";
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vcc_sdio: regulator-vcc-sdio {
		compatible = "regulator-gpio";
		regulator-name = "vcc_sdio";
		gpios = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&vcc_sdio_h>;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <1800000>;
		states = <1800000 0>, <3300000 1>;
	};

	vcc_wifi: regulator-vcc-wifi {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-name = "vcc_wifi";
		enable-active-high;
		gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&vcc_wifi_h>;
		pinctrl-names = "default";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-state-mem {
			regulator-on-in-suspend;
		};
	};

	vdd_lcd: regulator-vdd-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vdd_lcd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcca_3v3_s0>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&combphy0_ps {
	status = "okay";
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&cpu_b3 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&dsi {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	dsi_panel: panel@0 {
		compatible = "rocknix,generic-dsi";
		reg = <0>;
		backlight = <&backlight>;
		enable-gpios = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&lcd_enable>, <&lcd_rst>;
		pinctrl-names = "default";
		rotation = <270>;
		vdd-supply = <&vdd_lcd>;
		iovcc-supply = <&vcc_1v8_s0>;

		panel_description =
			"G size=229,143 delays=50,220,50,120,20 format=rgb888 lanes=4 flags=0xe03",
			"M clock=152000 horizontal=1080,100,4,100 vertical=1920,15,5,32 default=1";

		port {
			panel_in_dsi: endpoint {
				remote-endpoint = <&dsi_out_panel>;
			};
		};
	};
};

&dsi_in {
	dsi_in_vp1: endpoint {
		remote-endpoint = <&vp1_out_dsi>;
	};
};

&dsi_out {
	dsi_out_panel: endpoint {
		remote-endpoint = <&panel_in_dsi>;
	};
};

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	/* Consider adding resets property to dtsi for
	   other RK3576 devices when applicable?       */
	resets = <&cru SRST_GPU>;
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_in {
	hdmi_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi>;
	};
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&hdmi_sound {
	status = "okay";
};

&hdptxphy {
	status = "okay";
};

&sai6 {
	status = "okay";
};

&sai7 {
	status = "okay";
};

&vp0 {
	vp0_out_hdmi: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi_in_vp0>;
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0m1_xfer>;
	pinctrl-names = "default";
	status = "okay";

	touchscreen: rmi4-i2c@70 {
		compatible = "syna,rmi4-i2c";
		reg = <0x70>;
		syna,startup-delay-ms = <300>;
		syna,reset-delay-ms = <200>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC5 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_int &touch_rst>;
		vdd-supply = <&vdd_lcd>;
		vio-supply = <&vcc_1v8_s0>;
		#address-cells = <1>;
		#size-cells = <0>;

		rmi4-f01@1 {
			reg = <0x01>;
			syna,nosleep-mode = <1>;
		};

		rmi4-f12@12 {
			reg = <0x12>;
			syna,sensor-type = <1>;
			syna,clip-x-high = <1080>;
			syna,clip-y-high = <1920>;
		};
	};
};

&i2c1 {
	status = "okay";

	pmic@23 {
		compatible = "rockchip,rk806";
		reg = <0x23>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA6 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_pins
				 &rk806_dvs1_null
				 &rk806_dvs2_null
				 &rk806_dvs3_null>;
		system-power-controller;
		vcc1-supply = <&vcc_3v8_sys>;
		vcc2-supply = <&vcc_3v8_sys>;
		vcc3-supply = <&vcc_3v8_sys>;
		vcc4-supply = <&vcc_3v8_sys>;
		vcc5-supply = <&vcc_3v8_sys>;
		vcc6-supply = <&vcc_3v8_sys>;
		vcc7-supply = <&vcc_3v8_sys>;
		vcc8-supply = <&vcc_3v8_sys>;
		vcc9-supply = <&vcc_3v8_sys>;
		vcc10-supply = <&vcc_3v8_sys>;
		vcc11-supply = <&vcc_2v0_pldo_s3>;
		vcc12-supply = <&vcc_3v8_sys>;
		vcc13-supply = <&vcc_1v1_nldo_s3>;
		vcc14-supply = <&vcc_1v1_nldo_s3>;
		vcca-supply = <&vcc_3v8_sys>;

		rk806_dvs1_null: dvs1-null-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun0";
		};

		rk806_dvs1_pwrdn: dvs1-pwrdn-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun2";
		};

		rk806_dvs1_rst: dvs1-rst-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun3";
		};

		rk806_dvs1_slp: dvs1-slp-pins {
			pins = "gpio_pwrctrl1";
			function = "pin_fun1";
		};

		rk806_dvs2_dvs: dvs2-dvs-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun4";
		};

		rk806_dvs2_gpio: dvs2-gpio-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun5";
		};

		rk806_dvs2_null: dvs2-null-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun0";
		};

		rk806_dvs2_pwrdn: dvs2-pwrdn-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun2";
		};

		rk806_dvs2_rst: dvs2-rst-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun3";
		};

		rk806_dvs2_slp: dvs2-slp-pins {
			pins = "gpio_pwrctrl2";
			function = "pin_fun1";
		};

		rk806_dvs3_dvs: dvs3-dvs-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun4";
		};

		rk806_dvs3_gpio: dvs3-gpio-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun5";
		};

		rk806_dvs3_null: dvs3-null-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun0";
		};

		rk806_dvs3_pwrdn: dvs3-pwrdn-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun2";
		};

		rk806_dvs3_rst: dvs3-rst-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun3";
		};

		rk806_dvs3_slp: dvs3-slp-pins {
			pins = "gpio_pwrctrl3";
			function = "pin_fun1";
		};

		regulators {
			vdd_cpu_big_s0: dcdc-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-enable-ramp-delay = <400>;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-name = "vdd_cpu_big_s0";
				regulator-ramp-delay = <12500>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_npu_s0: dcdc-reg2 {
				regulator-boot-on;
				regulator-enable-ramp-delay = <400>;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-name = "vdd_npu_s0";
				regulator-ramp-delay = <12500>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_lit_s0: dcdc-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-name = "vdd_cpu_lit_s0";
				regulator-ramp-delay = <12500>;
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vcc_3v3_s3: dcdc-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_3v3_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vdd_gpu_s0: dcdc-reg5 {
				regulator-boot-on;
				regulator-enable-ramp-delay = <400>;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdd_gpu_s0";
				regulator-ramp-delay = <12500>;
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <850000>;
				};
			};

			vddq_ddr_s0: dcdc-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vddq_ddr_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_logic_s0: dcdc-reg7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <800000>;
				regulator-name = "vdd_logic_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s3: dcdc-reg8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd2_ddr_s3: dcdc-reg9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd2_ddr_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_ddr_s0: dcdc-reg10 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd_ddr_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_1v8_s0: pldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca_1v8_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pldo2_s0: pldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_pldo2_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_1v2_s0: pldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdda_1v2_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca_3v3_s0: pldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcca_3v3_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd_s0: pldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd_s0";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcca1v8_pldo6_s3: pldo-reg6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_pldo6_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_0v75_s3: nldo-reg1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdd_0v75_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdda_ddr_pll_s0: nldo-reg2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdda_ddr_pll_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v75_hdmi_s0: nldo-reg3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdda0v75_hdmi_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v85_s0: nldo-reg4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdda_0v85_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v75_s0: nldo-reg5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdda_0v75_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&i2c2 {
	status = "okay";

	/* icm42607 accel/gyro at 0x68               */
	/* Waiting for mainline to accept the driver */
};

&i2c3 {
	status = "okay";

	es8388: audio-codec@10 {
		compatible = "everest,es8388", "everest,es8328";
		reg = <0x10>;
		assigned-clock-rates = <12288000>;
		assigned-clocks = <&cru CLK_SAI1_MCLKOUT_TO_IO>;
		AVDD-supply = <&vcca_3v3_s0>;
		clocks = <&cru CLK_SAI1_MCLKOUT_TO_IO>;
		DVDD-supply = <&vcc_3v3_s3>;
		HPVDD-supply = <&vcca_3v3_s0>;
		pinctrl-0 = <&sai1m0_mclk>;
		pinctrl-names = "default";
		PVDD-supply = <&vcc_3v3_s3>;
		#sound-dai-cells = <0>;
	};

	aw87391_pa_l: audio-codec@58 {
		compatible = "awinic,aw87391";
		reg = <0x58>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Left Amp";
	};

	aw87391_pa_r: audio-codec@5b {
		compatible = "awinic,aw87391";
		reg = <0x5b>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Right Amp";
	};
};

&i2c6 {
	pinctrl-0 = <&i2c6m3_xfer>;
	pinctrl-names = "default";
	status = "okay";

	sgm41542@3b {
		status = "okay";
		compatible = "sgm,sgm41542";
		reg = <0x3b>;
		pinctrl-names = "default";
		pinctrl-0 = <&charger_ok>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD2 IRQ_TYPE_EDGE_FALLING>;
		otg-mode-en-gpios = <&gpio2 RK_PC7 GPIO_ACTIVE_HIGH>;
		input-voltage-limit-microvolt = <4500000>;
		input-current-limit-microamp = <3000000>;
		monitored-battery = <&battery>;

		regulators {
			vbus5v0_typec: vbus5v0-typec {
				regulator-compatible = "otg-vbus";
				regulator-name = "vbus5v0_typec";
			};
		};
	};

	/* Unused iSmartWare SW2001 encryption device at 0x3c */

	husb311: typec-portc@4e {
		status = "okay";
		compatible = "hynetek,husb311";
		reg = <0x4e>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD1 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&usbc_int>;
		pinctrl-names = "default";
		vbus-supply = <&vbus5v0_typec>;

		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			op-sink-microwatt = <1000000>;
			power-role = "dual";
			try-power-role  = "sink";

			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
					 PDO_FIXED(9000, 2000, PDO_FIXED_USB_COMM)>;
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;

			altmodes {
				displayport {
					svid = /bits/ 16 <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_hs_ep: endpoint {
						remote-endpoint = <&usb_drd0_hs_ep>;
					};
				};
				port@1 {
					reg = <1>;
					usbc0_ss_ep: endpoint {
						remote-endpoint = <&usb_drd0_ss_ep>;
					};
				};
				port@2 {
					reg = <2>;
					usbc0_dp_ep: endpoint {
						remote-endpoint = <&usbdp_phy_ep>;
					};
				};
			};
		};
	};

	hym8563: rtc@51 {
		status = "okay";
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-output-names = "hym8563";
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA0 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&hym8563_int>;
		wakeup-source;
	};

	cw221X: fuel-gauge@64 {
		compatible = "cellwise,cw221X";
		reg = <0x64>;
		status = "okay";
		cw,user_rsense = <2000>;
		cellwise,battery-profile = [
			5a 00 00 00 00 00 00 00 ab b5 ae c0 a9 a4 cf af
			96 ff ff d7 9a 83 70 69 65 65 65 b8 81 d9 af d9
			d2 ce cd cb ca c7 c8 c5 c2 ba a8 96 8a 85 7d 7a
			7f 88 92 93 94 d3 ff 5f 20 00 ab 10 00 91 68 00
			00 00 64 3c a0 89 00 00 00 00 00 00 00 00 00 b2
		];
	};
};

&mipidcphy {
	status = "okay";
};

&pcie0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie0_perstn>;
	reset-gpios = <&gpio2 RK_PB4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_wifi>;
	supports-clkreq;
	wakeup-source;
	aspm-no-l0s;
	status = "okay";
};

&pinctrl {
	audio {
		hp_amp_enable_h: hp-amp-enable {
			rockchip,pins = <0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		hp_det: hp-det {
			rockchip,pins = <4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	buttons {
		button_pins: button-pins {
			rockchip,pins =
				<3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	charger {
		charger_ok: charger-ok {
			rockchip,pins =
				<0 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	display {
		lcd_enable: lcd-enable {
			rockchip,pins = <0 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
		lcd_rst: lcd-rst {
			rockchip,pins = <0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	led {
		led_amber_h: led-amber-h {
			rockchip,pins = <3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_green_h: led-green-h {
			rockchip,pins = <3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_red_h: led-red-h {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcie {
		pcie0_perstn: pcie0-perstn {
			rockchip,pins = <2 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	regulator {
		vcc_3v3_sd_s0_h: vcc-3v3-sd-s0-h {
			rockchip,pins = <0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc_sdio_h: vcc-sdio-h {
			rockchip,pins = <0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc_wifi_h: vcc-wifi-h {
			rockchip,pins = <1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vdd_lcd_h: vdd-lcd-h {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	rtc {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	touch {
		touch_int: touch-int {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		
		touch_rst: touch-rst {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb {
		usbc_int: usbc-int {
			rockchip,pins = <0 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		usbc0_sbu1: usbc0-sbu1 {
			rockchip,pins = <4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		usbc0_sbu2: usbc0-sbu2 {
			rockchip,pins = <4 RK_PB7 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	volume-keys {
		vol_keys: vol-keys {
			rockchip,pins =
				<3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wifi {
		wifi_en_h: wifi-en-h {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	bluetooth {
		bt_reset_gpio: bt-reset-pin {
			rockchip,pins = <2 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_gpio: bt-wake-pin {
			rockchip,pins = <2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_host_irq: bt-wake-host-irq {
			rockchip,pins = <2 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&sai1 {
	pinctrl-0 = <&sai1m0_lrck
			 &sai1m0_sclk
			 &sai1m0_sdi0
			 &sai1m0_sdo0>;
	pinctrl-names = "default";
	status = "okay";
};

&saradc {
	vref-supply = <&vcca1v8_pldo2_s0>;
	status = "okay";
};

&sdio {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <150000000>;
	no-mmc;
	no-sdio;
	pinctrl-0 = <&sdmmc1m0_bus4>, <&sdmmc1m0_clk>,
			<&sdmmc1m0_cmd>, <&sdmmc1m0_det>;
	pinctrl-names = "default";
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sd_s0>;
	vqmmc-supply = <&vcc_sdio>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	full-pwr-cycle-in-suspend;
	no-sd;
	no-sdio;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <150000000>;
	no-sdio;
	no-mmc;
	pinctrl-0 = <&sdmmc0_bus4>, <&sdmmc0_clk>,
			<&sdmmc0_cmd>, <&sdmmc0_det>;
	pinctrl-names = "default";
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sd_s0>;
	vqmmc-supply = <&vccio_sd_s0>;
	status = "okay";
};

&spi1 {
	num-cs = <1>;
	pinctrl-0 = <&spi1m2_pins>, <&spi1m2_csn0>;
	status = "okay";

	spi_joystick@0 {
		compatible = "anbernic,spi-mcu-joypad";
		reg = <0>;
		spi-max-frequency = <1400000>;
		enable-gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
		poll-interval-ms = <5>;
		abs-x-min = <2500>;
		abs-x-max = <25000>;
		abs-y-min = <2500>;
		abs-y-max = <25000>;
		abs-rx-min = <2500>;
		abs-rx-max = <25000>;
		abs-ry-min = <2500>;
		abs-ry-max = <25000>;
		deadzone-left = <3000>;
		deadzone-right = <3000>;
		deadzone-triggers = <32000>; /* No analog triggers */
		status = "okay";
	};
};

&vop {
	assigned-clocks = <&cru PLL_VPLL>, <&cru DCLK_VP1_SRC>;
	assigned-clock-parents = <0>, <&cru PLL_VPLL>;
	assigned-clock-rates = <1824000000>, <0>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp1 {
	vp1_out_dsi: endpoint@ROCKCHIP_VOP2_EP_MIPI0 {
		reg = <ROCKCHIP_VOP2_EP_MIPI0>;
		remote-endpoint = <&dsi_in_vp1>;
	};
};

&vp2 {
	vp2_out_dp0: endpoint@ROCKCHIP_VOP2_EP_DP0 {
		reg = <ROCKCHIP_VOP2_EP_DP0>;
		remote-endpoint = <&dp0_in_vp2>;
	};
};

&dp {
	status = "okay";
};

&dp0_in {
	dp0_in_vp2: endpoint {
		remote-endpoint = <&vp2_out_dp0>;
	};
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart6 {
	pinctrl-0 = <&uart6m1_xfer>, <&uart6m1_ctsn>, <&uart6m1_rtsn>;
	pinctrl-names = "default";
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		status = "okay";
		compatible = "realtek,rtl8822cs-bt";
		device-wake-gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio2 RK_PB6 GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&gpio2>;
		interrupts = <RK_PC1 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&bt_reset_gpio>, <&bt_wake_gpio>, <&bt_wake_host_irq>;
		pinctrl-names = "default";
	};
};

&usbdp_phy {
	mode-switch;
	orientation-switch;
	pinctrl-names = "default";
	pinctrl-0 = <&usbc0_sbu1 &usbc0_sbu2>;
	sbu1-dc-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PB7 GPIO_ACTIVE_HIGH>;
	status = "okay";

	port {
		usbdp_phy_ep: endpoint {
			remote-endpoint = <&usbc0_dp_ep>;
		};
	};
};

&usb_drd0_dwc3 {
	usb-role-switch;
	dr_mode = "otg";
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			usb_drd0_hs_ep: endpoint {
				remote-endpoint = <&usbc0_hs_ep>;
			};
		};

		port@1 {
			reg = <1>;
			usb_drd0_ss_ep: endpoint {
				remote-endpoint = <&usbc0_ss_ep>;
			};
		};
	};
};
