#
# Configure the LinuxLoader settings
#

[LinuxLoader]

# Controls on-screen logging
# This setting can persist without config file or sdcard being present
Debug = true

# Boot target. Can be one of the following:
# "default" (ABL default)
# "Linux" (direct Linux Image load)
# "EFI"
# "UEFI Shell" (will execute startup.nsh automatically if found on any FAT partition)
# "Mass Storage" (will mount the UFS LUN specified below as mass storage)
Target = "default"

# Default UFS LUN to mount as mass storage
# Allowed values: 0, 1, 2, 3, 4, 5
MassStorageLUN = 0

# Volume up boot target. Can be one of the following:
# "BDS Menu" (will enter the UEFI boot menu provided by Qualcomm, don't touch anything there unless you know what you are doing!)
# "UEFI Shell" (will execute startup.nsh automatically if found on any FAT partition)
# "recovery"
# "Linux"
DefaultVolUp = "Linux"

# Setting this to *true* will enable USB Host mode in UEFI
# This might be useful if you want to play with UEFI.
# Note that you will need an externally powered type-C hub to connect USB devices. (at least for now)
UsbHostMode = false

# Controls hypervisor UART enablement
#
# Setting *true* here will force enable the hypervisor UART
# Setting *false* here will force disable the hypervisor UART
# Removing this line will avoid changing the default behavior
# Please leave it to *false* unless you know what you are doing
HypUartEnable = false

# Controls display hardware status during exit boot services
#
# The dispcc driver from mainline Linux kernel has a bug, which
# prevents the display hardware from initializing properly if
# the display hardware is not disabled before exiting boot services.
#
# Set this to *true* if you are trying to boot a mainline kernel.
DisableDisplayHW = true

[Linux]
# Accept both gzipped and non-gzipped kernel images
Image = "Image"
initrd = "initrd.img-INITRD_PLACEHOLDER"
devicetree = "dtb/qcom/qcs8550-ayn-odin2portal.dtb"
cmdline = "clk_ignore_unused pd_ignore_unused arm64.nopauthfbcon=rotate:3 console=ttyMSM0,115200n8 root=UUID=UUID_PLACEHOLDER"

