// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2020 Arm Ltd.
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include "sun50i-h616-cpu-opp.dtsi"
#include "axp313a.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "BananaPi M4 Berry";
	compatible = "BiPai,bananapi-m4berry", "allwinner,sun50i-h616";

	aliases {
		ethernet0 = &emac0;
		ethernet1 = &emac1;
		serial0 = &uart0;
		serial5 = &uart5;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	connector {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	leds: leds {
		compatible = "gpio-leds";

		led-0 {
			label = "red_led";
			gpios = <&pio 2 12 GPIO_ACTIVE_HIGH>; /* PC12 */
			linux,default-trigger = "heartbeat";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		key-sw3 {
			label = "sw3";
			linux,code = <BTN_0>;
			gpios = <&pio 2 7 GPIO_ACTIVE_LOW>;	/* PC7 */
		};
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply directly from the USB-C socket */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_usb_vbus: regulator-usb-vbus {
		/* separate discrete regulator for the USB ports */
		compatible = "regulator-fixed";
		regulator-name = "usb-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc3v3: vcc3v3 {
		/* SY8089 DC/DC converter */
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_dldo1>;
		regulator-always-on;
	};

	reg_vcc1v8: vcc1v8 {
		/* Always on 1.8V/300mA regulator for WiFi and BT IO */
		compatible = "regulator-fixed";
		regulator-name = "vcc-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		vin-supply = <&reg_aldo1>;
	};

	reg_gmac_3v3: gmac-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "gmac-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		vin-supply = <&reg_vcc5v>;
	};

	wifi_usb {
		compatible = "usb-wifi";
		status = "okay";
		power_on_pin = <&pio 2 2 GPIO_ACTIVE_HIGH>; /* PC2 */
	};

};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
	status = "okay";
};

&sid {
	ephy_calibration: ephy-calibration@2c {
		reg = <0x2c 0x2>;
	};
};

&de {
	status = "okay";
};

&hdmi {
	hvcc-supply = <&reg_aldo1>;
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&gpu {
	mali-supply = <&reg_dcdc1>;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_dldo1>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;	/* PF6 */
	bus-width = <4>;
	max-frequency = <50000000>;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	vmmc-supply = <&reg_dldo1>;
	bus-width = <8>;
	max-frequency = <150000000>;
	non-removable;
	cap-mmc-hw-reset;
	status = "okay";
};

&pio {
	vcc-pc-supply = <&reg_aldo1>;
	vcc-pf-supply = <&reg_dldo1>;
	vcc-pg-supply = <&reg_dldo1>;
	vcc-ph-supply = <&reg_dldo1>;
	vcc-pi-supply = <&reg_dldo1>;
};

&emac0 {
	compatible = "allwinner,sun50i-h616-emac";
	pinctrl-names = "default";
	pinctrl-0 = <&ext_rgmii_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_rgmii_phy>;
	phy-supply = <&reg_gmac_3v3>;
	phy-io-supply = <&reg_dldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";
};

&mdio0 {
	ext_rgmii_phy: ethernet-phy@1 {
		/* rtl8211F compatible string for mdio and phy */
		compatible = "ethernet-phy-id001c.c916";
		reg = <1>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&pio 8 16 GPIO_ACTIVE_LOW>;      /* PI16 */
	};
};

&emac1 {
	compatible = "allwinner,sunxi-gmac";
	status = "disabled";
};

&mdio1 {
	rmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

&usbotg {
	/*
	 * PHY0 pins are connected to a USB-C socket, but a role switch
	 * is not implemented: both CC pins are pulled to GND.
	 * The VBUS pins power the device, so a fixed peripheral mode
	 * is the best choice.
	 * The board can be powered via GPIOs, in this case port0 *can*
	 * act as a host (with a cable/adapter ignoring CC), as VBUS is
	 * then provided by the GPIOs. Any user of this setup would
	 * need to adjust the DT accordingly: dr_mode set to "host",
	 * enabling OHCI0 and EHCI0.
	 */
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_usb_vbus>;
	status = "okay";
};

&ehci0 {
	status = "disabled";
};

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&ohci0 {
	status = "disabled";
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&ir {
	pinctrl-names = "default";
	pinctrl-0 = <&ir_rx_pin>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins>;
	status = "disabled";
};

&codec {
	allwinner,audio-routing =
	        "Line Out", "LINEOUT";
	status = "okay";
};

&ahub_dam_plat {
	status = "okay";
};

&ahub_dam_mach {
	status = "okay";
};

&ahub1_plat {
	status = "okay";
};

&ahub1_mach {
	status = "okay";
};
