[Unit]
Description=Hypercube
Requires=network.target
After=network.target dnsmasq.service ynh-hotspot.service ynh-vpnclient.service armbian-resize-filesystem.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hypercube.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
