#!/usr/bin/make -f

PACKAGE = libvdpau-sunxi1

export DEB_CFLAGS_MAINT_APPEND = -Wall -std=gnu99

override_dh_auto_install:
	dh_auto_install
	install -m0644 -D debian/profile.d/99-vdpau.sh \
		debian/libvdpau-sunxi1/etc/profile.d/99-vdpau.sh

%:
	dh $@
