# Added by Armbian
#
# The systemd-networkd configuration is managed by Netplan
# See /etc/netplan/

# The match section is just to ignore a warning due to empty file
[Match]
MACAddress=NONE.ABCD.NONE # Will never match with anything
