// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 Radxa Computer (Shenzhen) Co., Ltd.
 */

/dts-v1/;
#include "rk3576.dtsi"
#include "rk3576-u-boot.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "reComputer RK3576 DevKit";
	compatible = "seeed,recomputer-rk3576-devkit", "rockchip,rk3576";

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		u-boot,dm-pre-reloc;
		status = "okay";

		volumeup-key {
			u-boot,dm-pre-reloc;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <1750>;
		};
	};

	vcc3v3_pcie: vcc3v3-pcie {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_pwr_en>;
	};

};

&combphy0_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&pcie0 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_HIGH>;
	rockchip,skip-scan-in-resume;
	vpcie3v3-supply = <&vcc3v3_pcie>;
	status = "okay";
};

&pcie0_intc {
	u-boot,dm-pre-reloc;
};

&sdhci {
	status = "disabled";
};

&sfc0 {
	status = "okay";
	u-boot,dm-pre-reloc;
	pinctrl-names = "default";
	pinctrl-0 = <&fspi0_pins>;
};

&sdmmc {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
};

&u2phy0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy0_otg {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdp_phy {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_drd0_dwc3 {
	u-boot,dm-pre-reloc;
	dr_mode = "otg";
	extcon = <&u2phy0>;
	status = "okay";
};

&spi_nor {
	status = "okay";
	u-boot,dm-pre-reloc;
};


&pinctrl {
	u-boot,dm-pre-reloc;
	pcie {
		u-boot,dm-pre-reloc;
		pcie_pwr_en: pcie-pwr-en {
			u-boot,dm-pre-reloc;
			rockchip,pins = <0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

		/delete-node/ fspi0;
	fspi0 {
		u-boot,dm-spl;
		fspi0_pins: fspi0-pins {
			u-boot,dm-spl;
			rockchip,pins =
				/* fspi0_clk */
				<1 RK_PB1 2 &pcfg_pull_none>,
				/* fspi0_d0 */
				<1 RK_PA0 2 &pcfg_pull_none>,
				/* fspi0_d1 */
				<1 RK_PA1 2 &pcfg_pull_none>,
				/* fspi0_d2 */
				<1 RK_PA2 2 &pcfg_pull_none>,
				/* fspi0_d3 */
				<1 RK_PA3 2 &pcfg_pull_none>;
		};

		fspi0_csn0: fspi0-csn0 {
			u-boot,dm-spl;
			rockchip,pins =
				/* fspi0_csn0 */
				<1 RK_PB3 2 &pcfg_pull_none>;
		};
	};


};
