// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 Cyber RD Group
 */

/dts-v1/;
#include "rk3588.dtsi"
#include "rk3588-u-boot.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Cyber 3588 AIB";
	compatible = "cyber,cyber3588-aib", "rockchip,rk3588";

	vcc12v_dcin: vcc12v-dcin {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc5v0_sys: vcc5v0-sys {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	pcie_power_en: pcie-power-en-regulator {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
        	regulator-name = "pcie_power_en";
		enable-active-high;
		gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&pcie_power_h>;
		pinctrl-names = "default";
		regulator-boot-on;
		regulator-always-on;
	};

	pcie_preset_low: pcie-preset-low-regulator {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
        	regulator-name = "pcie_preset_low";
		enable-active-low;
		gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&pcie_preset_l>;
		pinctrl-names = "default";
		regulator-boot-on;
		regulator-always-on;
	};

	pcie_wifi_enable: pcie-wifi-enable-regulator {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
        	regulator-name = "pcie_wifi_enable";
		enable-active-low;
		gpio = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&pcie_wifi_h>;
		pinctrl-names = "default";
		regulator-boot-on;
		regulator-always-on;
	};

	wwan_5g_power_en: wwan-5g-power-en {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
        	regulator-name = "wwan_5g_power_en";
		enable-active-high;
		gpio = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&wwan_5g_power_h>;
		pinctrl-names = "default";
		regulator-boot-on;
		regulator-always-on;
	};

	wwan_disable: wwan-disable-regulator {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "wwan_disable";
		enable-active-high;
		gpio = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&wwan_disable_h>;
		pinctrl-names = "default";
		regulator-boot-on;
		regulator-always-on;
	};

	wwan_power_off: wwan-power-off-regulator {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "wwan_power_off";
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&wwan_power_off_h>;
		pinctrl-names = "default";
		regulator-boot-on;
		regulator-always-on;
	};

	gmac1_power: gmac1-power {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "gmac1_power";
		enable-active-high;
		gpio = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&gmac1_rgmii_pwr_en>;
		pinctrl-names = "default";
		regulator-boot-on;
		regulator-always-on;
	};
};

&pinctrl {
	pcie {
		pcie_power_h: pcie-power-h {
			u-boot,dm-pre-reloc;
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		pcie_preset_l: pcie-preset-l {
			u-boot,dm-pre-reloc;
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
		pcie_wifi_h: pcie-wifi-h {
			u-boot,dm-pre-reloc;
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wwan-pwr {
		wwan_5g_power_h: wwan-5g-power-h {
			u-boot,dm-pre-reloc;
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		wwan_disable_h: wwan-disable-h {
			u-boot,dm-pre-reloc;
			rockchip,pins = <2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		wwan_power_off_h: wwan-power-off-h {
			u-boot,dm-pre-reloc;
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	gmac1_rgmii {
		gmac1_rgmii_pwr_en: gmac1-rgmii-pwr-en {
			u-boot,dm-pre-reloc;
			rockchip,pins = <0 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
