// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd
 *
 */

/dts-v1/;
#include "rk3588.dtsi"
#include "rk3588-u-boot.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Seeed Studio recomputer rk3588 devkit";
	compatible = "seeed,recomputer rk3588 devkit", "rockchip,rk3588";


	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		u-boot,dm-pre-reloc;
		status = "okay";

		volumeup-key {
			u-boot,dm-pre-reloc;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <1750>;
		};
	};


	vcc12v0_sys: vcc12v0-sys {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc12v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	// vcc5v0_sys: vcc5v0-sys {
	// 	u-boot,dm-pre-reloc;
	// 	compatible = "regulator-fixed";
	// 	regulator-name = "vcc5v0_sys";
	// 	regulator-always-on;
	// 	regulator-boot-on;
	// 	regulator-min-microvolt = <5000000>;
	// 	regulator-max-microvolt = <5000000>;
	// 	vin-supply = <&vcc12v0_sys>;
	// };

	vcc3v3_ext: vcc3v3-ext-regulator {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_ext";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc12v0_sys>;
	};

	vcc3v3_pcie30_ssd: vcc3v3-pcie30-ssd-regulator {
		u-boot,dm-pre-reloc;
		regulator-boot-on;
		regulator-always-on;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30_ssd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		// startup-delay-us = <5000>;
		vin-supply = <&vcc12v0_sys>;
	};

	vcc3v3_pcie_clk: vcc3v3-pcie-clk-regulator {
		u-boot,dm-pre-reloc;
		regulator-boot-on;
		regulator-always-on;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie_clk";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		// startup-delay-us = <5000>;
		enable-active-high;
		gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie30_clk_en>;
	};


	pcie_clk: pcie-clk-regulator {
		u-boot,dm-pre-reloc;
		enable-active-low;
		gpio = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie30_clk>;
		regulator-boot-on;
		regulator-always-on;
		compatible = "regulator-fixed";
		regulator-name = "pcie_clk";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc5v0_usb_eth: vcc5v0-usb-eth-regulator {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PB3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_usb_eth_en>;
		regulator-name = "vcc5v0_usb_eth";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v0_sys>;
	};

};

&combphy0_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&combphy1_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&combphy2_psu {
	u-boot,dm-pre-reloc;
	status = "okay";
};

/* phy1 - right ethernet port PCIE20_1_TXP */
&pcie2x1l0 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc5v0_usb_eth>;
	status = "okay";
};

/* phy2 - M.KEY socket  PCIE20_2_TXP */
&pcie2x1l1 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
	// vpcie3v3-supply = <&vcc3v3_pcie30_ssd>;
	status = "okay";
};

/* phy0 - left ethernet port PCIE20_0_TXP */
&pcie2x1l2 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc5v0_usb_eth>;
	status = "okay";
};

&pcie30phy {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&pcie3x4 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	// vpcie3v3-supply = <&vcc3v3_pcie30_ssd>;
	status = "okay";
};

&u2phy0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy0_otg {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb2phy0_grf {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy1_otg {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb2phy1_grf {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy2_host {
	u-boot,dm-pre-reloc;
	phy-supply = <&vcc5v0_usb_eth>;
	status = "okay";
};

&usb2phy2_grf {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy3_host {
	u-boot,dm-pre-reloc;
	phy-supply = <&vcc5v0_usb_eth>;
	status = "okay";
};

&usb2phy3_grf {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host0_ehci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host0_ohci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host1_ehci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host1_ohci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd3_0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd_dwc3_0 {
	u-boot,dm-pre-reloc;
	dr_mode = "host";
	status = "okay";
};

&usbdrd3_1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd_dwc3_1 {
	u-boot,dm-pre-reloc;
	dr_mode = "host";
	status = "okay";
};

&pinctrl {
	usb {
		u-boot,dm-pre-reloc;
		vcc5v0_usb_eth_en: vcc5v0-usb20-en {
			u-boot,dm-pre-reloc;
			rockchip,pins = <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcie30_ssd {

		pcie30_clk_en: pcie30-clk-en {
			u-boot,dm-pre-reloc;
			rockchip,pins = <1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie30_clk: pcie30-clk {
			u-boot,dm-pre-reloc;
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
	};
};
