// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd
 *
 */

/dts-v1/;
#include "rk3588.dtsi"
#include "rk3588-u-boot.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "EasePi R2";
	compatible = "linkease,easepi-r2", "easepi,r2", "rockchip,rk3588";

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1750000>;
		poll-interval = <100>;
		u-boot,dm-spl;

		button-maskrom {
			label = "Mask Rom";
			linux,code = <KEY_RESTART>;
			press-threshold-microvolt = <878>;
			u-boot,dm-spl;
		};
	};

	vbus5v0_usb: vbus5v0-usb {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vbus5v0_usb_en>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "vbus5v0_usb";
	};
};

// sata1
&combphy1_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

// sata2
&combphy2_psu {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&pinctrl {
	usb {
		u-boot,dm-pre-reloc;
		vbus5v0_usb_en: vbus5v0_usb_en {
			u-boot,dm-pre-reloc;
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

// Type-C for firmware update
&u2phy0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy0_otg {
	u-boot,dm-pre-reloc;
	rockchip,typec-vbus-det;
	status = "okay";
};

&usbdrd3_0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd_dwc3_0 {
	u-boot,dm-pre-reloc;
	dr_mode = "peripheral";
	extcon = <&u2phy0>;
	maximum-speed = "high-speed";
	phys = <&u2phy0_otg>;
	phy-names = "usb2-phy";
	status = "okay";
};

// USB 3.0
&u2phy1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy1_otg {
	u-boot,dm-pre-reloc;
	phy-supply = <&vbus5v0_usb>;
	status = "okay";
};

&usbdp_phy1 {
	u-boot,dm-pre-reloc;
	rockchip,dp-lane-mux = <0 1>;
	status = "okay";
};

&usbdp_phy1_u3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd3_1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd_dwc3_1 {
	u-boot,dm-pre-reloc;
	dr_mode = "host";
	status = "okay";
};

// USB 2.0
&u2phy3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy3_host {
	u-boot,dm-pre-reloc;
	phy-supply = <&vbus5v0_usb>;
	status = "okay";
};

&usb_host1_ehci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host1_ohci {
	u-boot,dm-pre-reloc;
	status = "okay";
};


&sata1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sata2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};
