// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd
 *
 */

/dts-v1/;
#include "rk3588.dtsi"
#include "rk3588-u-boot.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Mekotronics R58X-4G (RK3588 EDGE LP4x V1.2 BlueBerry Board)";
	compatible = "rockchip,rk3588-blueberry-edge-v12-linux", "rockchip,rk3588";

	// This is needed for the RECOVERY button to actually trigger LOADER mode when pressed during boot
	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		u-boot,dm-pre-reloc;
		status = "okay";

		volumeup-key {
			u-boot,dm-pre-reloc;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <1750>;
		};
	};

	vcc12v_dcin: vcc12v-dcin {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc5v0_sys: vcc5v0-sys {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_host: vcc5v0-host-regulator {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_pcie30: vcc3v3-pcie30 {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;    //hugsun gpio1_c4
		regulator-boot-on;
		regulator-always-on;
		startup-delay-us = <10000>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc3v3_pcie30_en>;
		vin-supply = <&vcc12v_dcin>;
	};

	/* work led is actually blue "PWR" LED and the powerbutton backlight LED */
	led_work: led_work {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "led_work";
		enable-active-high;
		gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>; // Turn on work led
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};
};

&pcie3x4 {
	u-boot,dm-pre-reloc;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&pcie30phy {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&combphy0_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&combphy1_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&combphy2_psu {
	u-boot,dm-pre-reloc;
	status = "okay";
};

/* related to usbhost_dwc3_0 */
&usbhost3_0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	maximum-speed = "super-speed";
};

/* related to usbhost3_0 */
&usbhost_dwc3_0 {
	u-boot,dm-pre-reloc;
	dr_mode = "host";
	status = "okay";
	maximum-speed = "super-speed";
};

&pinctrl {
	usb {
		u-boot,dm-pre-reloc;
		vcc5v0_host_en: vcc5v0-host-en {
			u-boot,dm-pre-reloc;
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

	};

	pcie {
		u-boot,dm-spl;
		vcc3v3_pcie30_en: vcc3v3-pcie30-en {
			u-boot,dm-spl;
			rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	
	};
};

