// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd
 * Copyright (c) 2024 Youyeetoo
 */

/dts-v1/;
#include "rk3588.dtsi"
#include "rk3588-u-boot.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/usb/pd.h>

/ {
	model = "Youyeetoo YY3588";
	compatible = "youyeetoo,yy3588", "rockchip,rk3588";

	vcc12v_dcin: vcc12v-dcin {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc5v0_sys: vcc5v0-sys {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_host: vcc5v0-host {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	led_sys: led-sys {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "led_sys";
		enable-active-high;
		gpio = <&gpio1 RK_PD7 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		u-boot,dm-pre-reloc;
		status = "okay";

		volumeup-key {
			u-boot,dm-pre-reloc;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <17000>;
		};
	};

	vcc3v3_pcie30: vcc3v3-pcie30 {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc3v3_pcie_eth: vcc3v3-pcie-eth {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie_eth";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc12v_dcin>;
	};

	vbus5v0_typec: vbus5v0-typec {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&typec5v_pwren>;
		vin-supply = <&vcc5v0_sys>;
	};
};

&combphy0_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&combphy1_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&combphy2_psu {
	u-boot,dm-pre-reloc;
	status = "okay";
};

/* PCIe 2.0 x1 - WiFi slot */
&pcie2x1l0 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	status = "okay";
};

/* PCIe 2.0 x1 - RTL8125 */
&pcie2x1l1 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	status = "okay";
};

&pcie30phy {
	u-boot,dm-pre-reloc;
	status = "okay";
};

/* PCIe 3.0 x4 */
&pcie3x4 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	status = "okay";
};

&i2c6 {
	u-boot,dm-pre-reloc;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m0_xfer>;
	status = "okay";

	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		u-boot,dm-pre-reloc;
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
		int-n-gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		status = "okay";

		usb_con: connector {
			u-boot,dm-pre-reloc;
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "sink";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				 PDO_VAR(5000, 12000, 5000)>;
		};
	};
};

&u2phy0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy0_otg {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb2phy0_grf {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy1_otg {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb2phy1_grf {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy2_host {
	u-boot,dm-pre-reloc;
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb2phy2_grf {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy3_host {
	u-boot,dm-pre-reloc;
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb2phy3_grf {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host0_ehci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host0_ohci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host1_ehci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host1_ohci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd3_0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd_dwc3_0 {
	u-boot,dm-pre-reloc;
	dr_mode = "otg";
	status = "okay";
};

&usbdrd3_1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd_dwc3_1 {
	u-boot,dm-pre-reloc;
	dr_mode = "host";
	status = "okay";
};

&pinctrl {
	u-boot,dm-pre-reloc;
	status = "okay";

	usb {
		u-boot,dm-pre-reloc;

		typec5v_pwren: typec5v-pwren {
			u-boot,dm-pre-reloc;
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usbc0_int: usbc0-int {
			u-boot,dm-pre-reloc;
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&i2c6m0_xfer {
	u-boot,dm-pre-reloc;
};

&php_grf {
	u-boot,dm-pre-reloc;
};

&ioc {
	u-boot,dm-pre-reloc;
};

&cru {
	u-boot,dm-pre-reloc;
};

&pcfg_pull_none_smt {
	u-boot,dm-pre-reloc;
};

&gpio0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&gpio1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&gpio2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&gpio3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&gpio4 {
	u-boot,dm-pre-reloc;
	status = "okay";
};
