// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 Radxa Computer (Shenzhen) Co., Ltd.
 */

/dts-v1/;
#include "rk3576.dtsi"
#include "rk3576-u-boot.dtsi"
#include <dt-bindings/input/input.h>
#include "rockchip/rk3576-rk806.dtsi"

/ {
	model = "reComputer RK3576 Module";
	compatible = "seeed,recomputer-rk3576-module", "rockchip,rk3576";

	/* Board regulators required by rk3576-rk806.dtsi */
	vcc_sys: vcc5v0-sys {
		u-boot,dm-spl;
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_2v0_pldo_s3: vcc-2v0-pldo-s3 {
		u-boot,dm-spl;
		compatible = "regulator-fixed";
		regulator-name = "vcc_2v0_pldo_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <2000000>;
		regulator-max-microvolt = <2000000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_1v1_nldo_s3: vcc-1v1-nldo-s3 {
		u-boot,dm-spl;
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc_sys>;
	};

	vcc3v3_pcie: vcc3v3-pcie {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&gpio2 RK_PD5 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_pwr_en>;
	};

	sdmmc_pwr: sdmmc-pwr {
		u-boot,dm-spl;
		compatible = "regulator-fixed";
		regulator-name = "sdmmc_pwr";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc_pwr_en>;
	};
};

/* PMIC on I2C1 — enabled by rk3576-rk806.dtsi, add SPL tags */
&i2c1 {
	u-boot,dm-spl;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m0_xfer>;
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;
	u-boot,dm-pre-reloc;
	u-boot,dm-spl;
};

&combphy0_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&pcie0 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_HIGH>;
	rockchip,skip-scan-in-resume;
	vpcie3v3-supply = <&vcc3v3_pcie>;
	status = "okay";
};

&pcie0_intc {
	u-boot,dm-pre-reloc;
};

&sdhci {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sfc0 {
	status = "disabled";
};

&sdmmc {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	vmmc-supply = <&sdmmc_pwr>;
};

&u2phy0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy0_otg {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdp_phy {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_drd0_dwc3 {
	u-boot,dm-pre-reloc;
	dr_mode = "otg";
	extcon = <&u2phy0>;
	status = "okay";
};


&pinctrl {
	u-boot,dm-pre-reloc;
	u-boot,dm-spl;
	status = "okay";

	i2c1 {
		u-boot,dm-spl;
		i2c1m0_xfer: i2c1m0-xfer {
			u-boot,dm-spl;
			rockchip,pins =
				/* i2c1_scl_m0 */
				<0 RK_PB2 11 &pcfg_pull_none_smt>,
				/* i2c1_sda_m0 */
				<0 RK_PB3 11 &pcfg_pull_none_smt>;
		};
	};

	pcie {
		u-boot,dm-pre-reloc;
		pcie_pwr_en: pcie-pwr-en {
			u-boot,dm-pre-reloc;
			rockchip,pins = <2 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdmmc {
		u-boot,dm-spl;
		sdmmc_pwr_en: sdmmc-pwr-en {
			u-boot,dm-spl;
			rockchip,pins = <0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
