#!/usr/bin/make -f

#export DH_VERBOSE=1

# Get the architecture triplet:
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export DEB_BUILD_MAINT_OPTIONS=hardening=-all,+format,+stackprotector,+pie


private_dir = glshim

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_VERBOSE_MAKEFILE=OFF -DPRIVATEDIR=$(private_dir)

override_dh_auto_build:
	dh_auto_build -- GL preload

override_dh_install:
	dh_install

override_dh_strip:

%:
	dh $@
