name: "Data: Sync board list"
run-name: Update board JSON at armbian/armbian.github.io

on:
  push:
    paths:
      - "config/boards/*.*"
    branches: [main]

permissions:
  contents: read

jobs:
  update-board-list-dispatch:
    name: Send dispatch
    if: ${{ github.repository_owner == 'Armbian' }}
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: armbian/armbian.github.io
          event-type: "Data: Generate build engine inventory"
