name: Lint On Scripts
#
# Run ShellCheck on all scripts and generates report as build artefact
#

on:
  workflow_dispatch:
  pull_request:
    types: [review_requested, ready_for_review, opened, reopened, synchronize]

permissions:
  contents: read

jobs:

  Shellcheck:

    name: Shell script analysis
    runs-on: ubuntu-latest
  #  if: ${{ github.repository_owner == 'Armbian' }}
    steps:

       - name: Checkout repository
         uses: actions/checkout@v3
         with:
           fetch-depth: 1
           repository: armbian/build
           path: build

       - name: Checkout repository
         uses: actions/checkout@v3
         with:
           fetch-depth: 1
           repository: a13xp0p0v/kconfig-hardened-check
           path: kconfig-hardened-check

       - name: Get changed files
         id: changed-files
         uses: tj-actions/changed-files@v35
         with:
           path: build

       - name: Shell check all .sh files
         run: |
           for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
             if grep -qE "#\!/" $file; then
                 shellcheck --severity=error $file
             fi
           done
           
       - name: Check kernel config for security issues
         run: |
           for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
               kconfig-hardened-check/bin/kconfig-hardened-check -c $file
           done
