name: Lint On Scripts
#
# Run ShellCheck on all scripts and generates report as build artefact
#

on:
  workflow_dispatch:
  pull_request:
    types: [review_requested, ready_for_review, opened, reopened, edited, synchronize]

permissions:
  contents: read

jobs:

  Shellcheck:

    name: Shell script analysis
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'Armbian' }}
    steps:

       - name: Checkout repository
         uses: actions/checkout@v3
         with:
           fetch-depth: 2

       - name: Get changed files
         id: changed-files
         uses: tj-actions/changed-files@v35

       - name: List all changed files
         run: |

           for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
             if grep -qE "#\!/" $file; then

                 shellcheck --severity=error $file

             fi
           done
