on: pull_request_review
name: Label approved pull requests
jobs:
  labelWhenApproved:
    if: ${{ github.repository_owner == 'armbian' }}
    name: Label when approved
    runs-on: ubuntu-latest
    steps:
    - name: Label when approved
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "1"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: "Ready to merge"
        REMOVE_LABEL: "Needs%20review"
